[2022-02-18 12:46] knudsvik commented on #160
@Magos @SjoenH : I have discussed use of API's in Power Bi with a colleague who tells me some API's are very straightforward to connect to from Power BI, such as the Centuries API (api.centuries.equinor.com). So I agree with @SjoenH here that we should just go for that from the start. I guess we can start with a simple endpoint with some basic data to verify and then gradually improve it based on

[2022-02-21 07:25] SjoenH commented on #368
Some overlap with #333? 🤷‍♂️

[2022-02-21 09:29] knudsvik commented on #176
Check this link for an example of a customer having actions outside Flyt: [link](https://statoilsrm.sharepoint.com/:x:/r/sites/ts-21044/_layouts/15/Doc.aspx?sourcedoc=%7BBEFED46D-29A1-4501-A679-064D3FCE2B1D%7D&file=2021_SatE_Production_services_VSM_Problemer_L%C3%B8sning.xlsx&wdLOR=cD561255E-D7E4-425D-BBF6-8F3AABD87B60&action=default&mobileredirect=true)

[2022-02-28 09:24] Magos commented on #160
Desired statistics:

- A process listing with additional statistics :
 - Subactivity count
 - Task counts by category & Solved/unsolved
 - Update times
- A label listing with the connected projects
 - Label text, project ID numbers

[2022-03-01 09:49] SjoenH commented on #152
So, we decided on doing nothing?
Hover text as shown in the video above should be covered by:  #253

[2022-03-01 10:03] SjoenH commented on #230
**Suggested solution:**
Do not allow decimal numbers for the input.

If we are to support decimals, then we probably need some changes to the API.

[2022-03-01 11:21] knudsvik commented on #152
We did agree on hover, but as you say, it should be covered by #253 it seems.

[2022-03-01 13:00] ntorsen commented on #154
Looks good @SjoenH 👍

[2022-03-04 14:02] SjoenH commented on #154
@Magos I've released to Dev. Seems to work fine, except for selecting the first date. Could you help debug why that is? [Example process](https://web-vsm-dev.radix.equinor.com/process/825?version=2022-01-06T13%3A34%3A17.818Z)

[2022-03-04 14:07] SjoenH commented on #154
@ntorsen I want to remove the requirement - "_User cannot delete a previous version. The button should be disabled to not confuse users._" As it doesn't feel quite necessary... 🤔

[2022-03-04 14:11] ntorsen commented on #154
@SjoenH That's true. Sure, you can remove it 👍

[2022-03-07 09:31] SjoenH commented on #154
Update: API does not include Timezone information in the `/updates`-response. @Magos will take a look at adding it. 👍

[2022-03-07 10:41] SjoenH commented on #230
@Magos Would you take a quick look at how we are storing this value in the db?

[2022-03-08 08:18] Magos commented on #230
The field storing duration is currently a 4-byte `int`, with range -2^31 (-2,147,483,648) to 2^31-1 (2,147,483,647).

[2022-03-08 08:27] SjoenH commented on #230
And if I remember correctly, our base unit is in seconds? @pagodo

[2022-03-08 08:39] Magos commented on #230
These ints are interpreted as minutes, actually, giving us a range of task durations up to 4083 years or ~150 generations.

[2022-03-08 13:13] SjoenH commented on #154
FYI. Ready in QA as well for some testing.
This one is a bit hard to test well, since we need changes spanning a couple of days...

I've done that testing in Dev environment, so I'm pretty confident that it's ok, but you might discover something else. 😄  So super if you can start some light testing of this. 💪

[2022-03-08 13:39] knudsvik commented on #154
@SjoenH Created a process in QA, but it is not saved.. something's off.

[2022-03-08 13:42] SjoenH commented on #154
@knudsvik What number process?

@Magos could you help investigate? Also, seems like the sorting on the front-page is reversed...? Are we running the same in Test as in QA? 🤔

[2022-03-08 13:43] knudsvik commented on #154
Ahh, they are there, just reversed on the front page as you say

[2022-03-08 13:44] SjoenH commented on #154
Super 💪

[2022-03-08 14:29] SjoenH commented on #275
@Magos I've solving this by linking to the Git hash for the running code. We could do something similar for the back-end, but probably would need an endpoint to query for it.

[2022-03-09 07:58] ntorsen commented on #154
@Magos I get error 500 when I delete Questions and Ideas when testing. They do get deleted eventually, but this message pop up so it looks like it is having some problems. This is in Test environment.
![image](https://user-images.githubusercontent.com/89014017/157397216-89e1d03f-b8f6-493f-b02e-aef03c70cc3c.png)

[2022-03-09 10:40] Magos commented on #154
I deployed a fix for the 500 error, but the Risk report seems to be correct as such. Could you have been pressing delete before the front-end had updated after a change?

[2022-03-09 11:37] ntorsen commented on #154
Working good now @Magos 🤩
No trouble with Risk either, it could have been that I pressed deleted before front-end had updated after change.

[2022-03-09 11:52] ntorsen commented on #154
@SjoenH Tried out new solution and Flyt does not seem to like it when I go back to the start on Seconds (both for Current and To-be process). Message "ERROR: Project contains no root onjects" pops up. If I select other versions other than the first one this is not a problem.
![image](https://user-images.githubusercontent.com/89014017/157436427-f64c2a88-649d-4ad8-a63e-727907b91647.png)

[2022-03-10 06:34] SjoenH commented on #154
@Magos is this something you want to improve? Looks like the first logged change in  `/updates` is created before the process is ready.

[2022-03-10 09:14] SjoenH commented on #154
@Magos To reproduce. Create a new process. Then the first returned timestamp in the `/updates` response does not exist.

[2022-03-10 12:04] Magos commented on #154
I've attempted a fix by returning the Update values instead of the PeriodStart values stored, but this is not late enough after the creation process to avoid making the version of the process without objects in it visible. At the moment, I'm inclined not to do more to hide this unless @knudsvik and @askbulle think it's important to hide.

[2022-03-11 06:52] SjoenH opened #371 "First logged change in the `/updates` response does not work."
To reproduce. Create a new process. Then the first returned timestamp in the `/updates` response does not exist.

_Originally posted by @SjoenH in https://github.com/equinor/MAD-VSM-WEB/issues/154#issuecomment-1063832429_

[2022-03-11 07:11] SjoenH commented on #268
Looking over my PRs... This one is ready to be moved into testing, but waiting on your "GO" @knudsvik & @askbulle
![](https://user-images.githubusercontent.com/3164065/139064897-312d07aa-67b0-46bc-bca9-b492610d4a0e.gif)

[2022-03-11 07:24] SjoenH commented on #352
This could be covered by #159 to a great degree.
For example this is a "collection" of all the processes for the MAD-team https://flyt.equinor.com/processes?orderBy=modified&rl=55
Though it doesn't have the extra metadata and metrics as mentioned in the story.

[2022-03-11 08:18] Magos commented on #371
@SjoenH  Is this a new issue after the update yesterday? If so, I'll revert that change.

[2022-03-11 08:19] SjoenH commented on #371
No, It's the same as we discussed.

[2022-03-11 09:07] knudsvik commented on #268
@SjoenH I was not aware of this. No reason to just put it into testing?

[2022-03-11 09:27] SjoenH commented on #268
Currently blocked by testing of #154, but will push out after 🚀

[2022-03-11 09:46] knudsvik opened #372 "New feedback - ID"
**User input**
More flexibility in the toolOption to add sticky notes wherever
Option to colour code/label the main activities and sub-activies  to easier see patterns in the process

**Sharepoint list ID**
131

**User**
Thorjan Knudsvik

[2022-03-11 09:47] knudsvik opened #373 "New feedback - ID"
**User input**
Option to add another row. We would like to use Flyt to map the full process of creating Area Plans. Here you have both a process component and a tool component. We would ideally like to have the tool process in a seperate row below the Area Plan process to more easily see when the tool was actually used. Other rows we could like would be: key questions, user feeling, user interacti

[2022-03-11 09:48] knudsvik opened #374 "Lower granularity"
**User input**
Option to add phases as one level of lower granularity than the main activities to more easily get the bigger picture overview of the process which will be very useful when you map long and complex processes.

**Sharepoint list ID**
133

**User**
Thorjan Knudsvik

[2022-03-11 09:49] knudsvik opened #375 "Explenation of cards"
**User input**
I would also appreciate some explanation of the elements (cards/shapes) you can add for us who are not so familiar with all the elements of a VSM

**Sharepoint list ID**
134

**User**
Hanne Schøld Helgestad

[2022-03-11 09:51] knudsvik commented on #372
Could be related to #340

[2022-03-11 09:55] knudsvik commented on #374
Covered by #157

[2022-03-11 09:55] #374 closed

[2022-03-11 09:58] knudsvik commented on #375
Covered by #343

[2022-03-11 09:58] #375 closed

[2022-03-11 11:21] SjoenH commented on #372
Also #170

[2022-03-14 09:16] SjoenH commented on #154
Todo:
- [ ] Remove second-resolution selection.

[2022-03-14 09:47] SjoenH commented on #154
I've removed the second resolution and released to QA again. @ntorsen Would you please do a final test of everything before we plan the release?

[2022-03-14 09:55] knudsvik opened #376 "Restore from version history"
**User story**
As a user I want to restore a process from the version history so that I don't need to copy items manually

**Describe the solution you'd like**
Copy a process at a certain time step to newest version?

[2022-03-14 10:55] ntorsen commented on #154
@SjoenH here are some feedback from testing done in **QA environment.**
User requirements for testing ✔
Second-resolution selection is removed ✔
Deleting PQIRs is working as expected ✔

Other remarks:
- If you copy the URL of a previous version and opening it in a new window, you will see that that version is visible. However, when looking at cards for more info a "invalid process type" message po

[2022-03-14 11:23] SjoenH commented on #154
@ntorsen can you reproduce the error with a new process?

[2022-03-14 11:24] SjoenH commented on #154
@ntorsen I'll look into the 500 errors.

[2022-03-14 11:43] ntorsen commented on #154
@SjoenH able to recreate it by deleting a card --> navigate back to when it existed --> copy URL into a new window (incognito) --> clicking on deleted card to view it
![image](https://user-images.githubusercontent.com/89014017/158165290-75c23199-d028-4f04-8330-1d9d761060cb.png)

[2022-03-14 12:34] SjoenH commented on #154
@ntorsen fix is out in QA again. 🧪

[2022-03-14 12:50] ntorsen commented on #154
Working good now 🏆 @SjoenH

[2022-03-15 09:20] #154 closed

[2022-03-15 09:30] SjoenH commented on #268
@ntorsen This is now ready for testing in [Test env](https://web-vsm-test.radix.equinor.com/) 💪 (together with the #154 and #275 )

See video for example use https://github.com/equinor/MAD-VSM-WEB/issues/268#issuecomment-1064837495
And please ask if you have any questions. :)

[2022-03-15 10:35] ntorsen commented on #268
@SjoenH Test environment seems to have some problems. Inspect says code 200 OK, but no processes are visible
![image](https://user-images.githubusercontent.com/89014017/158359129-058fb180-0439-4c48-a05a-d2da5bae479b.png)

[2022-03-15 11:05] SjoenH commented on #175
I think creating our own markdown editor with the same styling as above might be too much work for this feature.
So I suggest at least trying something quicker and simpler...

- [ ]  1. use @uiw/react-md-editor to render a markdown editor. [Example for next.js](https://www.npmjs.com/package/@uiw/react-md-editor#support-nextjs)
- [ ] 2. disable everything except links in the editor.
- [ ] 3. When t

[2022-03-15 13:43] SjoenH commented on #268
@ntorsen I've added a fix for this. Ready in test now

[2022-03-15 14:02] ntorsen commented on #268
Awesome, working great now ✨ @SjoenH

[2022-03-15 14:09] SjoenH commented on #268
Thanks for testing 🥳 🚀

@knudsvik @askbulle This is now ready in QA in case you want to give it a try. 👍

[2022-03-15 16:26] knudsvik commented on #268
Looks good @SjoenH :)

[2022-03-16 06:35] #268 closed

[2022-03-16 08:50] SjoenH commented on #175
@dansvend talk with @Linedueo if you have any questions. Try to update this task with what you decide on. Thank you 🙏

[2022-03-16 09:08] SjoenH commented on #154
⏳ 🚀 @knudsvik @askbulle
We have some changes that requires downtime. We are planning to release at 11:45.
Estimated downtime up to 1 hour.

-----
@Magos
- [ ] Database. Schema changes. Activate system-versioning (or whatever it is called...)
- [ ] Code
+ Some changes related to solving tasks.

Frontend
Push out what's in QA and bump version + change-log.

[2022-03-16 11:35] SjoenH opened #377 "Improve API release pipeline"
We need to look into improving the release pipeline so that a release can be done in an expected timeframe.

The main issue is situations where APIM update fails to find the swagger.json file as a basis for its update.
In order to fix this, we are experimenting with adding a Webserver warmup step to our deploy process. This will wait until the webserver is responding with files before starting the

[2022-03-16 11:36] SjoenH commented on #377
@Magos feel free to update this with more information about the issue. 🙇

[2022-03-16 13:10] SjoenH opened #378 "The process order on the front-page is wrong."
Knudsvik reports that

We expect latest changed process should show first as default, unless any other order-method is selected.
![Screenshot 2022-03-16 at 14 12 58](https://user-images.githubusercontent.com/3164065/158597727-ff8c9151-c6ac-44b0-aed6-b80ef0b75074.png)

**Problem:**
When the UI is set to a different order by parameter, that appears in the URL of the browser but doesn't appear to get

[2022-03-16 13:20] knudsvik commented on #378
Doesn't seem like any ordering works, tried to change to Alphabetically etc, no changes.

[2022-03-16 14:48] dansvend commented on #378
Fix is now built to QA. Ready for testing @ntorsen 💪

[2022-03-17 07:00] SjoenH commented on #275
We had some hiccups with the generation of new commitHash file, hijacking the latest commit in the main-branch (as seen in pr #379 ). Moving this back to in-progress to improve it a bit :)

[2022-03-17 07:32] ntorsen commented on #378
@dansvend Tested in Qa environment, made a new process, look at Last modified and it appear first on the 6th page
![image](https://user-images.githubusercontent.com/89014017/158758879-05dd9d84-6a82-48c1-8447-5f90c341190c.png)

[2022-03-17 08:07] SjoenH commented on #378
@dansvend Does it behave the same in another environment? If I remember, we did notice some differences between Test and QA wrt sorting. ref https://github.com/equinor/MAD-VSM-WEB/issues/154#issuecomment-1061789928

[2022-03-17 08:27] Magos commented on #378
To rule out the un-migrated stored procedure as a cause, I have migrated it to every environment (including QA) now.

[2022-03-17 08:33] SjoenH commented on #378
Looks like that fixed it @Magos

[2022-03-17 08:34] SjoenH commented on #378
@ntorsen Ready for testing again 😅

[2022-03-17 08:52] dansvend commented on #378
Sorting on "Date created" still doesn't seem to work in QA environment.
Created a new process at 09:48. Screenshot taken an 09:49. When sorting by "Date created" it shows as the 11th process.
![image](https://user-images.githubusercontent.com/47424077/158772608-315b7b7f-fb1d-4e3e-84d5-ede276833d40.png)

[2022-03-17 13:26] SjoenH commented on #275
@ntorsen ready for testing again :) Test environment

[2022-03-17 13:45] SjoenH opened #382 "Sorting on "Date created" is not correct"
Sorting on "Date created" still doesn't seem to work in QA environment.
Created a new process at 09:48. Screenshot taken an 09:50. When sorting by "Date created" it shows as the 11th process.
![image](https://user-images.githubusercontent.com/47424077/158772608-315b7b7f-fb1d-4e3e-84d5-ede276833d40.png)

_Originally posted by @dansvend in https://github.com/equinor/MAD-VSM-WEB/issues/378#issuecomme

[2022-03-17 13:51] ntorsen commented on #275
Working good in Test/QA environment 👍 @SjoenH

(test env)
![image](https://user-images.githubusercontent.com/89014017/158821664-6c6b2216-3f57-4c67-a976-01dd6ec88d76.png)
(qa env)
![image](https://user-images.githubusercontent.com/89014017/158822864-f6cf6822-ad24-4493-8c68-420be9297b50.png)

(same commit in github)
![image](https://user-images.githubusercontent.com/89014017/158821509-e1002578-a088-

[2022-03-17 14:21] ntorsen commented on #378
Last modified and Alphabetically works @SjoenH @dansvend
Opened a new process and also modified an already created process, both appear first when viewing Last modified:
![image](https://user-images.githubusercontent.com/89014017/158826496-4161dc08-bfa2-4597-a62d-fd1685f810eb.png)

And also before testing, did a check/verification on what fix was committed. 🤩👌
![image](https://user-images.githubus

[2022-03-17 14:31] #378 closed

[2022-03-18 06:59] #275 closed

[2022-03-18 07:18] SjoenH commented on #378
Moving this into prod now.

[2022-03-18 08:56] knudsvik opened #383 "Users and sharing not showing on front page"
**Describe the bug**
This is how it looks now:
![image](https://user-images.githubusercontent.com/25986427/158970747-e5aad204-f54e-4473-85f4-382f789f58f5.png)

This is how it should look like:
![image](https://user-images.githubusercontent.com/25986427/158971364-3dc42bc2-4fd1-4786-87f4-ed25b716a620.png)

[2022-03-18 13:59] SjoenH commented on #383
Thank you for noticing.
@Magos can you take a look at this? It's the same for all environments.

Note that userAccesses is returned empty 🤔
[code]

[2022-03-21 09:57] dansvend commented on #175
Me, @SjoenH and @Linedueo just had a meeting about the design of this feature. We will try out this feature using the npm-package [@uiw/react-md-editor](https://github.com/uiwjs/react-md-editor).

The design will be as follows:
1. Display the markdown preview in the right hand side panel after clicking on a VSM object.
2. Display an edit button to change to the split view of the markdown editor ma

[2022-03-21 10:50] Magos commented on #383
I've built a new version to dev environment now that is returning useraccesses, _including the owner_.  However, the front page is not showing these there either. Is there a front-end dependency on the old "created" changelog object, @SjoenH ?

[2022-03-21 10:52] SjoenH commented on #383
Thanks for this @Magos 🙇

I'll take a look 😄

[2022-03-21 12:05] dansvend commented on #383
@Magos Can you release API changes to test and QA as well? Changes works good in dev💪

[2022-03-21 12:22] Magos commented on #383
API changes are now deployed to test and QA environments.

[2022-03-21 12:29] dansvend commented on #383
Thanks @Magos 💪  This is now deployed to QA. Can you test this in QA @ntorsen ?🙌

[2022-03-22 08:54] SjoenH commented on #383
### Todo:

**API**
- [ ] fix `updated` field - show correct date on create and update of process

**Front-end**
- [ ] Update to match new response structure

[2022-03-22 08:56] SjoenH commented on #383
API changes should also cover #382

[2022-03-22 09:09] dansvend commented on #175
@Linedueo Do you have a design for this? 😊

[2022-03-22 09:54] SjoenH opened #385 "Bad performance while showing a process"

[2022-03-22 09:56] SjoenH commented on #385
@knudsvik 👋
Would you help me fill out the details around the performance issues you are experiencing?

- [ ] Machine and setup.
- [ ] Browser
- [ ] What do you do to trigger it?
- [ ] What other software is in use -> Teams, Virus scan etc... 📹
- [ ] etc.

[2022-03-22 10:21] Linedueo commented on #175
<img width="1330" alt="Skjermbilde 2022-03-22 kl  11 20 05" src="https://user-images.githubusercontent.com/74361011/159458975-b2a212ae-baa3-4d4c-87cc-2218601ab086.png">

@dansvend jeg har lagt inn edit ikon og satt størrelsen på sidesheet til XL.

[2022-03-22 10:42] Magos commented on #383
API update is now live on dev, test and QA environments. @dansvend.
I will be going through the data of existing projects that have a default value for their updated/updatedBy fields through SQL.

[2022-03-23 07:20] ntorsen commented on #382
This does not seem ready for testing... Tried both test and qa environment @SjoenH @Magos

[2022-03-23 08:05] SjoenH commented on #382
Not sure why it was in test column... 🤔  so moving it back 😄

@Magos Have you looked into this issue?

[2022-03-23 08:07] dansvend commented on #383
Very good! Thanks @Magos 🙏

[2022-03-23 08:29] SjoenH commented on #377
@Magos I see this is moved into test. Did you figure something out ? :)

[2022-03-23 11:21] Magos commented on #382
In my testing yesterday it was successfully sorting on create date - note that it sorts oldest first. If we want to switch to newest first that is a fairly simple fix.

There was some messed up data from the period where projects were being created with default datetimes, which I believe I have corrected now today.

[2022-03-23 11:53] SegarJJ opened #386 "Implement the robots.txt files for API"
Implement the robots.txt file for APIs

Implement the markdown info page on the root of any API

[2022-03-23 12:51] ntorsen commented on #382
In test environment it looks like this for me:
![image](https://user-images.githubusercontent.com/89014017/159703197-54d630f2-ee14-4bcf-9b3b-729e6530bf42.png)
@Magos

[2022-03-23 16:47] knudsvik opened #387 "Duplicated process: First point in version history to trace back to origin"
**User story**
As a user who views a duplicated process I want the first point of the version history to be the process where it was duplicated from at the point in time so that I can trace origins and see how the original process has evolved since.

**Describe the solution you'd like**
First point in the version history is a clickable link to the original process

[2022-03-24 09:03] SjoenH commented on #175
Todo @dansvend

- [ ] Change SideSheet width to `640px`

- [ ] Implement changes that @Linedueo  will report

- [ ] Polish  💅

[2022-03-24 09:39] ntorsen commented on #377
Is this something I can test? And if so, how can I test it? @Magos @SjoenH

[2022-03-24 09:40] SjoenH commented on #377
No. @ntorsen  I'm not sure what @Magos have done.

[2022-03-24 11:03] Linedueo commented on #175
@dansvend @SjoenH I´ve come to the conclusion that the edit icon should just stay where it is (inside the text field) that is how the component is set up and it makes more sense to have it be a part of that.

[2022-03-24 11:04] SjoenH opened #388 "Missing loading spinner when creating new project"
User might spam the button if the api is slow to respond. Let's add a loading spinner to show that we are working on it.

[2022-03-24 11:14] knudsvik opened #389 "New feedback - ID"
**User input**
CTQ's - How might we document the CTQ's (Critical to Time, Cost, and Quality) in the VSM diagram? Can we add a unique feature to encourage a standard VSM design which includes this typical attribute?

**Sharepoint list ID**
135

**User**
Heidi Rae Maier Sagstad

[2022-03-24 11:19] knudsvik opened #390 "New feedback - ID"
**User input**
Export content - Can we export content from the "Categorization Page"? Not all wastes or risks are equal. Items identified often require a more detailed evaluation. It would be helpful to be able to export the content into an excel sheet (so it could be copied into a template such as a waste worksheet, evaluation form, a fishbone analysis, FMEA template or a Heatmap).

**Sharepoint

[2022-03-24 11:31] knudsvik opened #391 "New feedback - ID"
**User input**
As a user I would like to be able to add hyperlinks to the flow elements to make them "cleaner" than they are by adding URLs to the boxes.

**Sharepoint list ID**
137

**User**
Fredrik Liknes

[2022-03-24 11:48] knudsvik opened #392 "Need to click with mouse to update Flyt"
**User input**
When changing elements (moving, adding text, deleting boxes) Flyt does not display the change before you click with mouse cursor. Has not been like this before. Working in chrome.

**Sharepoint list ID**
138

[2022-03-24 13:58] knudsvik commented on #388
This hit me hard 🗡️ ... Probably had to delete 15 processes after the demo today

[2022-03-25 07:05] SjoenH commented on #391
Covered by #175

[2022-03-25 07:10] SjoenH commented on #388
The log showed around 60 requests that minute to create a new process. Took just under 2 minutes before the API churned through it all... 👀

[2022-03-25 07:59] dansvend commented on #175
Sounds good 👌  Thanks for taking a look at this @Linedueo 😊

[2022-03-25 08:08] knudsvik opened #393 "Some risks not showing in categorisation page"
**Describe the bug**
Risks R1 and R2 (waiting card) are not showing in categorisation page in process 33.

**To Reproduce**
Not able to reproduce in QA

[2022-03-25 09:23] Magos commented on #377
So far I've added webserver warmup steps to our releases to make sure we don't start the APIM update before the webserver has restarted. This story is just to track how that change is performing - if we're happy with it after a few releases it'll go to Released.

[2022-03-25 09:24] Magos commented on #382
As far as I can see, sorting is correct on test. What is the error in this case?
If you're missing a "created x days ago" text similar to the modified sorting, that sounds like an @dansvend job.

[2022-03-25 09:38] SjoenH commented on #393
Looking into this one now.

The api does return those two risks, but it is not showing in the UI. -> Front-end

[2022-03-25 10:01] ntorsen commented on #382
Yes, missing that "created x days ago" text and the circle with a letter on the bottom right side of card, who created it and which users it is shared with.
![image](https://user-images.githubusercontent.com/89014017/160099188-6f871acd-849f-42f6-acab-62a3e83bb28b.png)

[2022-03-25 10:53] SjoenH commented on #382
Yes, #383 should cover the above @ntorsen :)

[2022-03-25 11:59] SjoenH commented on #388
I've Refreshed the styling to match what's in Figma and disabled the button when it is sending the request.

https://user-images.githubusercontent.com/3164065/160115329-ce50e22d-6c66-47ae-86f9-cf64b924288a.mov

Ready for testing in QA. @ntorsen @knudsvik

[2022-03-25 12:29] ntorsen commented on #377
Maybe we can put this to "Pending release" column then? @Magos @SjoenH

[2022-03-25 12:41] ntorsen commented on #388
Working good in QA for me 👍

[2022-03-25 12:52] knudsvik commented on #388
Looks good! 🥳

[2022-03-25 13:38] #388 closed

[2022-03-26 08:34] #391 closed

[2022-03-26 08:39] knudsvik commented on #390
Relates to #300 and #204 .

[2022-03-28 07:29] SjoenH commented on #377
<img width="623" alt="image" src="https://user-images.githubusercontent.com/3164065/160347846-0f0be06b-54d8-4c9a-8e73-6be3fbe23b1b.png">

The warmup webapp step has been added.

[2022-03-28 07:33] SjoenH opened #396 "Not able to delete process if it has categories or labels."
Cannot delete process if:
- Tasks in the process have been categorized.
- Labels have been applied to the process.

[2022-03-28 07:37] SjoenH commented on #382
@Magos I believe (as you suggested) that it should be the oldest last. @knudsvik Do you have any preference here?

[2022-03-28 07:57] ntorsen commented on #383
Working good in test and QA @dansvend 😊

[2022-03-28 08:07] SjoenH commented on #382
@Magos let's show the newest first.

[2022-03-28 08:24] ntorsen commented on #396
@SjoenH can you give me more information what this is regarding?
Tested in test and Qa, and I don't have problem deleting processes.

[2022-03-28 08:27] SjoenH commented on #396
Okay I guess it might have been @SegarJJ  that experienced this bug.

@Magos Do you have an input on when this was a problem?

[2022-03-28 08:37] Magos commented on #396
In production, deleting a process should currently fail if

- Tasks in the process have been categorized.
- Labels have been applied to the process.

The fix is currently active on dev, test and QA environments.

[2022-03-28 08:48] knudsvik commented on #160
@Magos For the changelog I am currently using the following SQL query:

`SELECT [fkVsm], [ChangeDate] As Updated, [UserIdentity] As UpdatedBy
  FROM [dbo].[ChangeLog]
  WHERE fkVsm is not null
UNION ALL

SELECT [PkVsm] As fkVsm,[Updated],[UpdatedBy]
FROM [dbo].[VSM]
  FOR SYSTEM_TIME ALL
where updated > '2022-03-16 10:47'

order by ChangeDate desc`

It is however returning short names. To be safer

[2022-03-28 09:43] SjoenH commented on #396
Let's update this story to reflect what is fixed and needs to be tested before releasing.

[2022-03-28 09:45] SjoenH commented on #396
I updated the main text, @Magos & @ntorsen, give a thumbs up if this looks correct.

[2022-03-28 09:47] Magos commented on #382
Updated backend to sort newest first when using date created as the sorting field. Update has been pushed to dev, test, QA environments.

[2022-03-28 10:51] dansvend commented on #383
Nice! Thanks for testing @ntorsen 😊

[2022-03-28 10:53] askbulle commented on #367
Duplicate of #170

[2022-03-28 10:53] #367 closed

[2022-03-28 11:02] askbulle commented on #389
Possible to solve with #170 ?

[2022-03-28 11:07] askbulle commented on #392
@SjoenH @dansvend Take direct contact with Fredrik

[2022-03-28 11:41] ntorsen commented on #175
@dansvend is this ready for testing?

[2022-03-28 11:46] ntorsen commented on #382
No change when selecting between 'Last modified', 'Date created' and 'Alphabetically'. Processes are on stand-still.
Same behavior in test and in Qa.

[2022-03-28 12:39] dansvend commented on #175
@ntorsen Not yet. I moved the card a little too fast 🚀  I need to fix one thing before Henry can approve it. Will send you a message when it's ready 😊

[2022-03-28 13:38] dansvend commented on #382
@ntorsen @Magos Sorry for that. I was a little too quick releasing #175 into test and QA so that's why it didn't work when you tested this feature. I will build #383 to test and QA and will notify you after it's ready 🚀

[2022-03-28 14:49] dansvend commented on #382
@ntorsen #383 is now built to test and QA, so this fix should now work as expected. Ready for testing 💪

[2022-03-29 06:49] ntorsen commented on #382
@dansvend working good in test and QA 💪

[2022-03-29 07:34] #386 closed

[2022-03-29 08:30] #382 closed

[2022-03-29 08:30] #383 closed

[2022-03-29 09:05] SjoenH commented on #377
It worked! 🥳

[2022-03-29 09:05] #377 closed

[2022-03-29 09:41] knudsvik opened #398 "Versioning not working"
**Describe the bug**
After 0.2.19 release it seems like versioning is not working as expected. I did an update on process 308 today, but if I go back to previous versions it still displays the current process.

[2022-03-29 10:09] SjoenH commented on #398
@Magos I might need some help looking into this 🤔

[2022-03-29 10:12] SjoenH commented on #398
I reproduced it by creating a new process, waiting, then making an edit.
Selecting the previous version looks the same as the current.
![image](https://user-images.githubusercontent.com/3164065/160588609-1eecbc6e-b3c4-48eb-9e63-e255f7e33c5c.png)

[2022-03-29 10:22] dansvend commented on #175
@askbulle @knudsvik @Linedueo @ntorsen This has now been released to the test environment. Please test this when you have some time. Thanks🙏

[2022-03-29 17:48] knudsvik commented on #280
@SjoenH Is this something relatively easy to fix? Don't like to always having to go to github to find the addresses to the other environments, feel this could be good for all of us?

[2022-03-30 05:56] SjoenH commented on #280
If we want proper sub-domains, we would need to order them ( doesn't take too much time, usually @StaaleW fixes it for us ) but not sure what the policy to get domains for test environments are. 🤔

We would also need to order certificates for the new sub-domains and configure them.

Maybe a redirect on the domain is better? Then we don't need any new certificates...
That could be done in the domai

[2022-03-30 06:37] knudsvik commented on #175
@dansvend
Hi, I think the markdown links setup could work, but it needs some refinement, as I think it was unecessary complex for the users in the current state.
- Extra click to go into edit mode :( Could this be replaced by clicking in the text box instead? Clicking outside of it again could  confirm changes.
- Did not like the split edit mode, both for complexity and for the wider side panel.
-

[2022-03-30 07:20] knudsvik opened #399 "Move around canvas with right mouse button"
**User story**
As a user I want to move around the canvas with holding right mouse button as well as left so that it is similar to Miro behaviour (without the menu popping up).

![image](https://user-images.githubusercontent.com/25986427/160774435-67f61f2b-9967-4eec-9af7-f0a430b21b71.png)

[2022-03-30 07:21] knudsvik commented on #399
@SjoenH @dansvend  Quick-fix?

[2022-03-30 08:03] dansvend commented on #175
@knudsvik Thanks for you thorough testing and great feedback 🙏

I am not working on Flyt for the rest of the week but I will take this feedback into consideration and try to make a better solution🛠

[2022-03-30 08:04] Linedueo commented on #175
@dansvend @knudsvik

- I think that we should click directly on the box to edit- the check button is ok I think!
- Remove the split edit mode and instead open a new dialog box when clicking on "add new link" where the user insert det link.
- Be able to see link on a card by using underline on text.

[2022-03-30 19:18] knudsvik opened #400 "Flyt outside Equinor"
**User story**
As another company we want to deploy Flyt easily so that we can map our processes

**Value for Equinor**
Vendors to map and improve their processes for better deliveries to us.
Commits to Flyt

[2022-03-31 10:13] SjoenH commented on #400
The first step is to make [the API](https://github.com/equinor/mad-vsm-api) public and easy to run.

[2022-03-31 10:20] SjoenH commented on #399
Unsure about the implications of this ux change. 🤔  @Linedueo

Right dragging in Miro functions the same as Left dragging in Flyt.
Miro has select on left drag as a default. So it makes sense in that tool, but not sure if it fits Flyts ux.

Not sure how easy it is to add, but probably not too long.

[2022-03-31 10:25] knudsvik commented on #399
It is possible to right drag in Flyt today as well.. the only issue is that when you let go of the mouse button, a menu pop-ups. This menu does not add any value, so I was just wondering if it's easy to just disable that popup...

[2022-03-31 10:28] SjoenH commented on #399
Ah, I see!

Yes, probably a quick fix. I just haven't thought about dragging with right-click before. 😅

Let's add the quick-fix label, and rather remove it if we find out that it isn't

[2022-04-04 08:02] SjoenH commented on #398
@knudsvik ready in QA

[2022-04-04 08:34] SjoenH commented on #175
Todo @dansvend
- [ ] Underline the link on canvas. (But still black text.)
- [ ] Links should not be clickable on the cards in the canvas.
- [ ] No dialog box on insert. ( let's try the cheap way first )
- [ ] Remove split view.

[2022-04-04 08:35] Magos opened #402 "SQL performance concerns"
During our demo, there were a lot of new VSMs being created, etc., and performance issues were noticed. App insights indicated SQL Server was taking most of this time.

Currently, Flyt's SQL database is using a pricing model aimed at a predictable cost, while more performance/scaling-oriented options are available. Look into the options with @pagodo.

- [ ] https://github.com/equinor/MAD-VSM-WEB/i

[2022-04-04 08:43] knudsvik commented on #398
Looks good @SjoenH

[2022-04-04 10:21] Magos commented on #398
Released 12:16.

[2022-04-04 12:35] SjoenH commented on #399
@ntorsen @knudsvik Ready for testing in QA 💪

[2022-04-04 12:54] knudsvik commented on #399
LGTM

[2022-04-04 12:58] #399 closed

[2022-04-04 13:00] knudsvik commented on #363
Suggest to add a "Import current" button here:
![image](https://user-images.githubusercontent.com/25986427/161549074-b19275e6-be80-455c-950c-7a9f314b941d.png)

[2022-04-04 13:00] askbulle commented on #363
@SjoenH @dansvend Quick fix?

[2022-04-04 13:06] askbulle commented on #363
Closing due to Duplicate of #314

[2022-04-04 13:06] #363 closed

[2022-04-05 06:58] knudsvik opened #404 "Version history artefact"
**Describe the bug**
I was browsing the version history of process 1174 today when I noticed something strange. When looking at it in [day resolution](https://flyt.equinor.com/process/1174?resolution=day&version=2022-03-16T10%3A46%3A41.035Z), 2 versions are showing (16.03.22 and NOW). When looking at it in [hour resolution](https://flyt.equinor.com/process/1174?resolution=hour&version=2022-03-16T1

[2022-04-05 07:31] #398 closed

[2022-04-05 08:35] SjoenH commented on #404
I think this is correct, but might be wrong.
I'll try to explain, and then we can decide if this is something we want to improve 💪

Day view: We have two different days with changes. (16.03 and 24.03) The last day would be the same changes as we see today, so we replace it with the `NOW`-pin.

Hour resolution would show 3 different hours with changes. The `16.03 at the 11th hour`, `24.03 at the 12

[2022-04-05 09:58] knudsvik commented on #404
Ahh, now I understand. It is behaving like intended :)

[2022-04-05 09:58] #404 closed

[2022-04-06 11:38] dansvend commented on #175
@askbulle @knudsvik @Linedueo @ntorsen The things in the above checklist have been implemented for this feature and are ready to be tested in the QA-environment. The links are not marked on the canvas cards currently as they seem hard to implement. We can do it in a cheap way now with just adding underscore or asterisks before and after the link. It would look like this:

`Visit _Equinor_ for more

[2022-04-06 12:02] dansvend opened #405 "Patch vulnerabilities"
Patch vulnerabilities found by Snyk

- [ ] moment
- [ ] next

[2022-04-06 12:10] askbulle commented on #175
jojo[hepp](goodshit.org)

[2022-04-06 12:36] knudsvik commented on #175
### Results from QA
Me and @askbulle has tested now, very nice @dansvend!, almost there! A few last adjustments:

- [ ] Marking a word and clicking CTRL+K or the URL icon sets the marked area on the url text, not the url itself, so not possible to just press CTRL+V afterwards without marking the url part. `[this area is now marked](url)` - `[text](this area should be marked)`
- [ ] Still, providin

[2022-04-06 16:43] knudsvik opened #406 "Dark mode!"
**User story**
As a user I want to switch to darkmode so that the app feels easier on the eyes 👀

**Requirements**
- [ ] Flyt following the system wide setting
- [ ] Possible to override system setting for user, choice valid for all pages

[2022-04-08 06:06] knudsvik commented on #280
If we are going for sub-domains (i think I prefer this, more in line with other Equinor apps) we should maybe think about the API as well?  @Magos ?
`vsm-api-prod.azurewebsites.net/swagger/` 👉`api.flyt.equinor.com` ?

[2022-04-08 06:10] knudsvik commented on #160
I have troubles testing these, seems like an access issue, let's have a chat @Magos

[2022-04-08 09:08] Magos commented on #402
Had a discussion with Peder today. Our conclusions from that were

- Upgrading the prod and QA levels to a premium DTU-based pricing level makes sense as an immediate step. Dev and Test could possibly be downgraded to Basic.
- We don't have experience in the team with using the vCore based pricing model as a performance tool.
- We should look at a "store process state" operation that involves fewe

[2022-04-08 10:07] SjoenH commented on #406
@dansvend will love this request 🕶️

[2022-04-08 11:44] SjoenH commented on #402
👋 @anheri, you upgraded the DTU from 100 to 400 today? Is that correct?
What is the cost of this change?

[2022-04-10 14:58] knudsvik opened #407 "New feedback - ID 139"
**User input 1 (by Laila Pettersen Garvik- sharepoint ID139) **
Hei
Takk for at dere lager en så fin app,tommelen opp
Trenger å vite om veien videre
Hvordan går vi direkte til rotårsakanalysen? mvh laila garvik ( Lagar@equinor.com )

[2022-04-11 08:08] SjoenH commented on #402
We talked a bit about changing the structure to a mathematical graph: Nodes + Edges... would that improve things here?

This is also something that @SjoenH in front-end wish for the future.... 👼

[2022-04-11 08:13] anheri commented on #402
yes, pricing goes from about NOK 1000 to NOK 4000 per month

[2022-04-11 08:16] anheri commented on #402
It will not have any effect on speed... As the performance issue is the database... And I cannot see refactoring that to nodes+edges.
Generally, relational databases is terrible at storing graph data... often document databases is a better fit...

[2022-04-11 08:38] SjoenH commented on #402
Yes, today we have a relational database. Exposing the relational DB as a graph wouldn't improve performance unless we change the underlying structure. 👍

But as an API consumer, it would be more intuitive to work with Nodes and Edges. We'll have to talk about if it makes sense to change this now, or at all. I don't think we should change it for performance reasons, but for usability reasons.

I'v

[2022-04-12 11:52] knudsvik opened #408 "Choice layout and connected IT system"
**User input 1 (by Asle Bjørn Emorsten- sharepoint ID140)**
Hi.
I've started testing Flyt based on a VSM done in REN a year ago on Failure events. The layout hides comments and risks that I've added to a sub task a few steps into the work stream. This is because I've added a few decision gates at earlier stages of the process.
Also, I miss the possibility to create my own tags (in this case to cap

[2022-04-19 08:04] SjoenH commented on #160
@anheri @pagodo :wave: We might need some input here...

How would you open the API for everyone in the Equinor tenant? Specifically for use in PowerBi.

[2022-04-19 08:11] Magos commented on #160
Thorjan has mentioned being able to use the Organizational Account method offered by PowerBI in the [Centuries API](https://api.centuries.equinor.com/index.html).
Looking at their code, all [their controllers have a [Connect2DbAsUser] attribute](https://github.com/equinor/centuries/blob/3afac38fa70815c591ee803cc89efebe0ce47744/web/CenturiesWebApi/Controllers/Internal/Exploration/ScenarioSegmentCon

[2022-04-19 08:36] anheri commented on #402
After some fiddling with the servers. Found that it is not only the sql server that is underpowered, but also the appservice running the api. Increasing the to a P3V3 (top notch) server on the api the number come out to:

**Load at 100 users P3V3:**
Througput/Requests per second: 88,7
Latency: 700ms

**Load at 100 users S3 (current):**
Througput/Requests per second: drops linear to 0,7
Latency: 20

[2022-04-19 08:40] SjoenH commented on #402
@anheri thanks for exploring this.

Is there any need for refactoring/improving the code?

This is only for the create process endpoint, right?

[2022-04-19 09:02] anheri commented on #402
I have only explored the create process endpoint... as that seems to be causing crashes...

As for refactoring, I think a very easy thing to do is to return noContent on the create, saving the retrievel, which is'nt really used by the client anyway.

Long term:

- I think moving to CosmosDb should be considered, allthough it will require some serious effort. But IMHO it is a much better fit for tr

[2022-04-20 07:33] SjoenH commented on #402
@Magos @pagodo @anheri @knudsvik Let's have a talk about this sometime. I'll try to schedule a meeting.

[2022-04-21 08:11] dansvend commented on #175
Hi @Linedueo  😊

Which do you prefer for adding a link; a scrim taking up the whole screen or this solution which is similar to what is used for QIPR's?
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/47424077/164409552-6ba5c97b-e22f-4341-8063-33800be5d96c.png">

[2022-04-21 08:40] SjoenH commented on #175
@dansvend I think your suggestion looks nice. 👍
I agree that it's smart to keep the same UX.

So unless @Linedueo has any objections, I say go for it 💪

[2022-04-21 09:25] Linedueo commented on #175
@dansvend I don´t have any objections- go for it! :) Your suggestion looks good!

[2022-04-21 11:35] dansvend commented on #175
@knudsvik @askbulle @ntorsen @Linedueo
New version released to test and QA environments🚀

Appreciate if you can take some time to test it and give feedback 🙏

FYI: It seems like the text gets duplicated if you're adding a link while using grammarly browser extension. Don't know if we should look into this atm

[2022-04-22 07:13] knudsvik commented on #175
@dansvend I don't get this, why has this feature now suddenly changed from the last QA? We did not have a requirement of opening a link form (probably not the right term) when inserting a link, and it wasn't there on the last round of QA..

Findings:

- [ ] When marking a word and clicking CTRL+K, Internet Explorer opens the URL bar in addition to the new link form.
- [ ] Not sure I like the new l

[2022-04-25 07:15] knudsvik opened #409 "Transfer ownership to a process"
**User input 1 (by Dan André Svendsen- sharepoint ID141)**
Processes having an owner which is quitting Equinor may end up being uneditable if it doesn't have any contributors. Should be possible to set a new owner for such processes.

[2022-04-25 08:31] dansvend commented on #175
@knudsvik

Thanks for giving feedback. As discussed in meeting 25th April we agreed on the following:

- Keep the "Add link"-form

Fix the following:

- [ ] Fix ctrl + k in Microsoft Edge
- [ ] Remove placeholder text `equinor.com` on "Add link"-form

[2022-04-25 09:54] dansvend commented on #175
@knudsvik

A new version is ready for testing and is available in both Test- and QA environments 🚀

- `ctrl` + `k` should now work as expected
- Placeholder text on the `Link`-input field in the `Add link`-form has been removed

[2022-04-25 10:04] knudsvik commented on #175
@dansvend Superb! Ready for release :)

Just a quick check: I hope the cards will not look like this in prod after release? (missing modified, users etc)
![image](https://user-images.githubusercontent.com/25986427/165067804-1ad57305-80db-4eaa-9679-96a1d716fe3c.png)

[2022-04-25 10:15] dansvend commented on #175
@knudsvik Perfect! Thanks for rapid response 💪

We will make sure this is fixed before releasing. This feature was started when the missing modifiers, users etc was in the main branch but it will be fixed when merging the feature branch into the main branch.

@ntorsen This feature is ready for testing 🧪

[2022-04-25 10:24] knudsvik opened #410 "Owner cannot delegate roles from landing page"
**User input 1 (by Fredrik Liknes- sharepoint ID142)**
As a owner of a process mapping in Flyt I would like to be able to add other users as admins. I get the error message "You need to be owner or admin to manage sharing"  when attempting to add new users.

https://user-images.githubusercontent.com/3164065/165730867-db262d6b-a1a4-43b0-84f6-ceeac7980d95.mp4

[2022-04-25 11:38] dansvend opened #411 "Card description in sidepanel is lagging behind"
**Describe the bug**
Card description in sidepanel is lagging behind.
When clicking on `Card A` on the canvas to edit the description from `Old` to `New`, `Card A` on the canvas updates to display the correct text, `New`. If I then dismiss the sidebar and then click on `Card A`on the canvas again, the description in the sidebar is showing `Old`.

**Expected behavior**
I expect the description in t

[2022-04-25 12:18] ntorsen commented on #175
@dansvend I've tested in Test environment (on browser Edge and Chrome). Working really good 💪
All the requirements for testing passed ✅

I found a small thing when testing (not critical and should not impact release, but worth mentioning..) If you add a link and confirm it by clicking on the check mark, URL-text appear right away in sidebar and everything works good.
![image](https://user-images.g

[2022-04-25 12:27] dansvend commented on #175
@ntorsen Thanks for testing this and giving great feedback 🙏

The problems your mentioning is that the description text in the sidepanel is cached and you therefore have to click out of it and in again to make react query fetch the data again. This bug was not introduced in this feature but is the same in production today as well. However, I actually created an issue for this exact bug earlier tod

[2022-04-25 12:51] askbulle commented on #407
#178 is updated with this input.

[2022-04-25 12:51] #407 closed

[2022-04-25 13:11] dansvend commented on #405
@ntorsen This is ready for testing and is built to the test environment 🧪

A lot of packages have been upgraded to the newest version with no major version bump which means no breaking changes should be introduced in any of the updated packages.

The different features should be tested to make sure the app works like before 💪

[2022-04-25 14:16] knudsvik opened #413 "New feedback - ID 143"
**User input 1 (by Natalie Torsen- sharepoint ID143)**
Testing

[2022-04-26 05:50] knudsvik commented on #410
Video from user:
https://user-images.githubusercontent.com/25986427/165230408-174dbf61-1bdd-4771-901a-988e6eebd148.mp4

I am having the same problem as the user, cannot add users when I am owner, but only from the landing page, it works when in the canvas.

[2022-04-26 10:11] knudsvik opened #414 "Last modified ordering"
**Describe the bug**
The ordering of the processes in the front page is not always correct it seems. Some processes are ordered in between others, but does not have the correct modified date present?
![image](https://user-images.githubusercontent.com/25986427/165277156-7fbe1cc0-f131-4757-9065-c25d0de4b8c7.png)

[2022-04-26 11:23] SjoenH commented on #402
@anheri Could you post your findings and your recommended upgrade path? And how much that would cost?

**Todos**
Now:
- [ ] Upgrade compute and storage

Short-term:
- [ ] Fix the Create new process endpoint

[2022-04-26 11:33] SjoenH opened #415 "Creating a new process is slow and resource heavy"

[2022-04-26 11:55] anheri commented on #402
### Load test - simulating ramp up of  0 users to 100 user

### AppService: S1 (Standard), Sql: Dtu 100 (today's spec)
Cost: NOK 600 + 900 = NOK 1500 per month
![image](https://user-images.githubusercontent.com/43775796/165291317-48f307a5-5224-4c72-b585-66a9c13a5719.png)

### AppService: P3V3, Sql: Dtu 400
Cost: NOK 4300 + 3700 = NOK 8000 per month
![image](https://user-images.githubusercontent.co

[2022-04-28 05:46] knudsvik commented on #160
@Magos Any updates here?

[2022-04-28 10:12] SjoenH commented on #413
@ntorsen I'm closing this as it seems like a test.

[2022-04-28 10:12] #413 closed

[2022-04-29 08:13] knudsvik commented on #408
After a chat with the user, these are two different issues.

The first part of the input describes a layout bug and is handled further in #297. Picture from process 1394:
![image](https://user-images.githubusercontent.com/25986427/165906698-a3942cd4-0475-4628-a3af-f6f4c5409b33.png)

The second part of the input is covered by #364 . Thus closing this issue.

[2022-04-29 08:13] #408 closed

[2022-04-29 08:59] knudsvik opened #416 "Choice diamond pre-fillled with arrows"
**User input 1 (by FL- sharepoint ID144):**
As a user of Flyt I would benefit of having arrows (◀▶) pre-inserted in the "selector"/Choice element when doing an VSM so save time when pointing towards sub-processes.

[2022-04-29 10:28] knudsvik opened #417 "Intuitive renaming of a process"
**User input 1 (by FL- sharepoint ID145):**
As a user of Flyt I would like to be able to rename the process mapping by selecting the name of the process mapping instead of using the dropdown menu.

**Describe the solution you'd like**
Click on name of process to rename it.

**Requirements**
- [x] Click on name of process one has Owner/Admin/Contributor access to allows renaming
- [x] For those wit

[2022-04-29 10:46] #396 closed

[2022-05-02 06:10] SjoenH commented on #416
If I understand this correctly, we could pre-fill the choices with the arrow icons. That itself is a quick fix.

Though this would also be covered by #185

[2022-05-02 08:42] askbulle commented on #409
Covered by #247

[2022-05-02 08:42] #409 closed

[2022-05-02 08:51] knudsvik commented on #185
Choice node with text on outcome lines:
![image](https://user-images.githubusercontent.com/25986427/166209081-40bcbdda-8f3c-4db8-a565-83f520699718.png)

[2022-05-02 08:55] askbulle commented on #416
@dansvend @SjoenH Kor Quick Fix er dette? Realistisk å release saman med linker for å feire 500 users?

[2022-05-02 09:22] askbulle commented on #373
Relates to
- #364
- #389

[2022-05-02 10:29] SjoenH commented on #416
Depends on how we want to solve it.

Adding some default text to the choice when adding it is a quick fix. < 1 day (Still need to decide on some details here)

I'm adding support for lines between cards with support for labels (in #296 ), then we could mark the choice lines with yes and no, which seems to cover what the user wants.

So we might want to put this on hold until we support drawing lin

[2022-05-02 11:27] knudsvik commented on #402
Am a little bit confused about the pricing here. Earlier we were told an upgrade from 400,- NOK per month to 3.000,- pr month would suffice. The comment above says 1.500,- and 8.000,- per month respectively?

[2022-05-02 11:44] askbulle commented on #361
Connected to #417 ?

[2022-05-02 11:47] SjoenH commented on #361
@askbulle Yes, what's described in #417 would render this #361 unnecessary. So we would need to choose one over the other.

[2022-05-02 12:06] anheri commented on #402
So the quote of NOK 400 was not entirely accurate... that is for the app-service, not taking into account the upgrade of the sql server.

So the current cost:
appservice S1: NOK 400 per month
sql server dtu 100: NOK 927 per month

upgraded environment:
appservice P3V3: NOK 4300 per month
sql server 400 dtu: NOK 3700 per month

[2022-05-02 12:28] askbulle commented on #157
PO's to make sketches of different VSM connections
Workshop with developers + UX designer prior to start

[2022-05-02 12:35] knudsvik commented on #402
Thanks @anheri . And both of these needs to be upgraded to get the performance boost?

[2022-05-02 13:06] anheri commented on #402
yes

[2022-05-02 13:08] anheri commented on #402
but offcourse you can slice it in half by doing:
appservice: P1V3
sql server: 200 dtu

[2022-05-04 06:15] knudsvik commented on #361
@SjoenH Could not both be possible, or is it bad practice to have same function two places? If not, I would prefer #417 I think. @Linedueo : What do you think?

[2022-05-05 05:48] SjoenH commented on #361
Of course, we could have both, but I would advise against it.
I would also vote for #417.

[2022-05-05 06:31] Linedueo commented on #361
I agree that #417 would be the better option and not both.

[2022-05-05 08:30] knudsvik opened #418 "Modified by who?"
**User story**
As a user I want to see who has done the most recent changes to a process so that I know who is working on a process

**Describe the solution you'd like**
Change the `Modified an hour ago` text to `Modified an hour ago by Thorjan Knudsvik`
![image](https://user-images.githubusercontent.com/25986427/166887247-4884d5f6-27ad-429f-87a8-5cc7100ca223.png)

**Additional context**

- Depend

[2022-05-05 13:31] dansvend commented on #175
@askbulle @knudsvik @ntorsen
This is ready for testing in Test and QA environments after refactor 🧪
It should work the same as during last test, but you might find a bug before it gets released 🚀

[2022-05-05 19:26] knudsvik commented on #175
@dansvend me and @askbulle have tested. Looks good to us 🦾

[2022-05-06 07:13] ntorsen commented on #175
@dansvend Working good when testing for me as well🏆

[2022-05-06 07:28] dansvend commented on #175
@askbulle @knudsvik @ntorsen
Thanks for taking your time to test this 🙏 Then we're ready to release this 🚀

[2022-05-06 12:32] #175 closed

[2022-05-06 13:05] dansvend opened #419 "Add link prompt visual bug"
**Describe the bug**
The "Add link"-prompt displays other content below.

**To Reproduce**
Add a link to a card that includes time and role fields.

**Expected behavior**
The "Add link"-prompt is the only thing that should be shown when adding a link.

**Screenshots**
<img width="382" alt="Uten navn" src="https://user-images.githubusercontent.com/47424077/167137606-643b66d7-b49b-44a6-8aeb-139f62ce

[2022-05-09 07:41] askbulle commented on #361
I also prefer #417

[2022-05-09 07:42] #361 closed

[2022-05-11 11:12] knudsvik opened #420 "New feedback - ID 146"
**User input 1 (by Liv Håøy- sharepoint ID146):**
Have a mark - or a pin that we can be placed on the place in process where we are now. Often we use FLYT in ongoing processes.

[2022-05-17 13:52] knudsvik opened #421 "Add screenshots"
**User input 1 (by Jenny Fried- sharepoint ID147):**
It would be great if we could add screen shots for some of the steps.  Thank you

[2022-05-23 08:25] knudsvik opened #422 "Add service message on all pages, not only landing page."
**User story**
As a user I want to see the service messages throughout the application so that I don't miss out when not going through the landing page

**Requirements**
- [ ] Service message to appear on Landing page, canvas page and categorisation page
- [ ] Removal of a message should remove it on Landing page, canvas page and categorisation page

[2022-05-24 06:22] knudsvik opened #423 "New feedback - ID 148"
**User input 1 (by Thorjan Knudsvik- sharepoint ID148):**
Test

[2022-05-24 06:23] knudsvik commented on #423
Just a test

[2022-05-24 06:23] #423 closed

[2022-06-01 06:48] knudsvik commented on #420
Duplicate of #333

[2022-06-01 06:48] #420 closed

[2022-06-01 06:52] knudsvik commented on #421
Duplicate of #170

[2022-06-01 06:52] #421 closed

[2022-06-01 10:17] knudsvik opened #424 "Generic process - All users can report PQIR's"
**User story**
As a generic process owner/designer I want input on where users of the process have problems, ideas, questions and risks so that I can see commonalities in hinders

**Describe the solution you'd like**
- Process to be marked as generic
- all users can report PQIR's (named or anonymously)
- View total PQIR's as function of time?

[2022-06-05 11:49] dansvend commented on #410
Fix is deployed to DEV-, TEST- and QA-environments and is ready for testing @ntorsen  🧪

[2022-06-07 07:32] dansvend commented on #410
Seems like it's ready to be deployed to production then. Do you want me to deployed this to production @askbulle @knudsvik ? 🚀

[2022-06-07 07:35] knudsvik commented on #410
Sure @dansvend. Good to remove the service banner 💪

[2022-06-07 08:22] #410 closed, assigned to dansvend

[2022-06-16 07:37] knudsvik opened #427 "Request access"
**User input 1 (by Fredrik Liknes- sharepoint ID149):**
As an user of flyt I would be able to request access to modify others VSMs by adding a functionality in Flyt that once triggered goes to the owner of the Flyt for approval.

[2022-06-17 06:17] knudsvik commented on #427
Duplicate of #174

[2022-06-17 06:17] #427 closed

[2022-06-24 11:18] knudsvik opened #428 "Search for process numbers"
**User input 1 (by FL- sharepoint ID150):**
As a user I would like to search for flyt numbers directly in the "search by name"-field when I have the number available and not the naming.

[2022-06-25 15:35] dansvend opened #429 "Request fails after deleting an object"
After deleting an object in a process, Flyt sends a GET-request for that same object since the side panel is open. This results in a request response code of 500 - Server error since the object has been deleted. After deleting an object it should not try to fetch that same object.

[2022-06-27 08:05] #339 closed

[2022-06-27 08:05] knudsvik commented on #336
Stalled

[2022-06-27 08:05] #336 closed

[2022-06-27 12:45] knudsvik opened #430 "Remove Duration bug"
**User input 1 (by Fredrik Liknes- sharepoint ID151):**
As a user of Flyt I would like to be able to remove times from cards so that I get the correct setup for my process mapping.

When attempting to remove times from cards today (27.06.22) the application crashes with "An error occurred on client". reloading the page get me back to where I was prior to the crash.

https://user-images.githubuserc

[2022-06-27 21:08] dansvend opened #431 "Release Please"
'standard-version' compares the wrong releases when generating change log. Fix the last change logs and consider switching to 'release-please'.

[2022-06-29 05:45] knudsvik opened #432 "Expand markdown support for rich text"
**User story**
As a user I want to format text in e.g. *italic*, **bold**, use ###headings etc so that text is richer.

**Describe the solution you'd like**
Add buttons next to the link button and make the formatting visible in the canvas too.

**Requirements**

- [ ] Buttons for italic, bold, bulleted list, numbered list, task list, reference another process exist in the input fields of all cards

[2022-07-25 07:31] knudsvik opened #433 "Search for title not correct"
**User input 1 (by Rudolf Maurer - sharepoint ID152):**
Anything I'm doing wrong on the search?
There is this stream as example, https://flyt.equinor.com/process/1526
Title: "Petech Datasheet input in DW410"
Seems like neither 'data' nor 'datasheet' shows this as result
Thx

[2022-08-02 12:38] #433 closed, assigned to nobody

[2022-08-12 05:55] knudsvik opened #434 "New feedback - ID 163"
**User input 1 (by Thorjan Knudsvik- sharepoint ID163):**
Testing 1-2-3

[2022-08-12 05:56] #434 closed, assigned to nobody

[2022-08-17 10:44] knudsvik opened #435 "New feedback - ID 164"
**User input 1 (by Karen-Maria Andersson- sharepoint ID164):**
More and more VSM in Flyt are used continuously during deliveries. Would be very beneficial to have a "We are here" to visualize how far one has come in a specific process. Could perhaps be an additional PQIR-button.

[2022-08-18 06:19] #435 closed, assigned to nobody

[2022-08-18 08:11] knudsvik opened #436 "Feat: Links in PQIR's"
**User story**
As a user I want to add links in problems, ideas, questions and risks so that the functionality is coherent throughout the application.

**User input 1 (by Thorjan Knudsvik- sharepoint ID170):**
Not possible to add links properly to PQIR's like the activity boxes. pasting regular links creates visualisation issues in the categorisation page.

**Describe the solution you'd like**
Mar

[2022-08-18 09:56] knudsvik opened #437 "Visualise links in canvas"
**User input 1 (by Fredrik Liknes- sharepoint ID165):**
As a user of Flyt I would like to have my hyperlinks visible (underlined, sharper etc..) on the cards when looking at the VSM to highlight that there are navigation options within the cards.

**User input 2 (by Lise Storhaug Ekeland, Geir Lea Berge, Henriette Eidsnes)**
Mulig å linke inn fra andre kilder eller legge document direkte inn I FLY

[2022-08-18 14:54] anheri opened #438 "Api update nuget and deploy"

[2022-08-18 14:56] anheri opened #439 "Update dependencies"
**User story**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screensh

[2022-09-05 10:37] knudsvik opened #440 "New feedback - ID 165"
**User input 1 (by Fredrik Liknes- sharepoint ID165):**
As a user of Flyt I would like to have my hyperlinks visible (underlined, sharper etc..) on the cards when looking at the VSM to highlight that there are navigation options within the cards.

[2022-09-06 06:00] #440 closed, assigned to nobody

[2022-09-06 06:35] knudsvik opened #441 "What do you want to improve today?"
**User story**
As a user I want to extract learning from existing processes so that my team can perform better faster

**Describe the solution you'd like**
The start page on Flyt could have a big question "What do you want to improve today?". When typing in keywords, the results needs to be organised in a good way, ordered by relevance and how good the process is.

**Other Relevant Issues**
- #156

[2022-09-10 17:35] knudsvik opened #442 "Timwoodi categorisation"
**User story**
As a user of the categorisation page I want to quickly make the timwoodi categories so that I can categorize problems in known categories.

**Describe the solution you'd like**
A «create timwoodi» button and good explanations on what they mean and how to use them.

[2022-09-13 11:32] SegarJJ opened #443 "Update the API error messages for some erroronious conditions"
We hit a few 500s every day with the FLYT app, but those 500s should be ignored and not reported in this case below.

DELETE Task/UnLinkTaskToObject

Mismatch of numbers reported of 500's and the actual requests in App Insights...

[2022-09-14 10:34] knudsvik opened #444 "Duplicate cards in process"
**User input 1 (by Fredrik Liknes- sharepoint ID166):**
As a user of Flyt I would like to duplicate cards in my process for reoccuring events to save time during mappings.

**User input 2 (by Marius Hegdal- sharepoint ID167):**
enable possibilities to copy/paste cards

**User input 3 (by Lise Storhaug Ekeland, Geir Lea Berge, Henriette Eidsnes):**
Ikke mulig å kopiere innhold i en eksisterende bok

[2022-09-23 07:35] knudsvik opened #445 "Enable writing directly on cards"
**User input 1 (by Marius Hegdal- sharepoint ID167):**
Enjoy using flyt for VSM first time today.

Many neat functionalities, but I'd like to suggest a few improvements:

- enable writing directly in the blue/yellow boxes, not having to go up in the editing field popping up on the right
- enable keyboard shortcuts for creating the different cards
- enable possibilities to copy/paste cards
- enable

[2022-09-29 08:17] SegarJJ opened #446 "Migrate to React Flow"
# Issues that Flyt 2.0 should resolve

- [x] #88
- [x] #115
- [x] #121
- [x] #124
- [x] #126
- [x] #144 (QIPR, roles, durations and categories are improved, but categories are not attached to QIPR's)
- [x] #169
- [x] #172
- [x] #248
- [x] #296
- [x] #297
- [x] #319
- [x] #320
- [x] #343 (Canvas tutorial)
- [x] #385
- [x] #392
- [x] #414
- [x] #415
- [x] #429
- [x] #458
- [x] #488
- [x] #544

# Tes

[2022-10-03 09:30] askbulle opened #447 "enable keyboard shortcuts for creating new cards"
**User input 1 (by Marius Hegdal- sharepoint ID167):**

enable keyboard shortcuts for creating the different cards

[2022-10-03 22:13] knudsvik opened #448 "New feedback - ID 168"
**User input 1 (by Karen-Maria Andersson- sharepoint ID168):**
Unclear how to handle transfer of Owner of a process.

Example https://flyt.equinor.com/process/172. Owner no longer works in DevOps team. Only one person with access to sharing write access.

Question: does it benefit purpose of using Flyt that default role when sharing access is set to Contributor or should the default be Admin?

[2022-10-04 06:15] #448 closed, assigned to nobody

[2022-10-05 11:47] knudsvik opened #449 "Hover the PQIR's to read the content"
**User input 1 (by Fredrik Liknes- sharepoint ID169):**
As a user of flyt I would like to have a tooltip that displays the PQIRs when I hover over the icons.

**User input 2 (by Lise Storhaug Ekeland, Geir Lea Berge, Henriette Eidsnes):**
Når en går inn på et eksisterende problem – så viser ikke alt i bildet. Noe av teksten blir ikke synlig før vi trykker inne i boksen……………….Tror mange ganger at v

[2022-10-06 07:09] knudsvik opened #450 "Links in PQIR's"
**User input 1 (by Thorjan Knudsvik- sharepoint ID170):**
Not possible to add links properly to PQIR's like the activity boxes. pasting regular links creates visualisation issues in the categorisation page.

[2022-10-13 08:39] knudsvik opened #451 "404 on changelog"
**Describe the bug**
404 error upon opening the changelog.

![image](https://user-images.githubusercontent.com/25986427/195546627-745aa27e-a4b7-448b-85f5-85ef0fa5954c.png)

[2022-10-20 10:08] knudsvik opened #452 "Links"
**User input 1 (by Yuqing Chang- sharepoint ID171):**
It will be nice to insert hyperlinks to the input notes, so we have more references (doc, maps etc.) during the discussions.

[2022-10-20 10:26] #452 closed, assigned to nobody

[2022-10-24 06:59] knudsvik opened #453 "Snack message bug"
**User input 1 (by Fredrik Liknes- sharepoint ID172):**
Established new Flyt today and a notification appeared in lower right corner that another user added/removed/changed cards. However, no changes observed in the Flyt I had started on. user name checked to be a real Equinor user.

[2022-10-24 07:10] #453 closed, assigned to nobody

[2022-10-26 12:01] knudsvik opened #454 "Advanced layout with arrows"
**User input 1 (by Gareth Steven Lord- sharepoint ID173):**
Hi,

Would like to be able to link between yellow labels, perhaps with arrows that show workflow.

Ability to group yellow labels inside a blue one and have the option to expand and collapse these, to make more complex flowcharts

Also ability to have multiple yellow labels under a blue label side by side (not linear).

More ability to pl

[2022-11-01 12:30] knudsvik opened #455 "Label categorisation by API?"
Processes could be tagged with richer metadata if the labelling were smarter. A suggestion is to have API endpoints for categories and content of labels. An example could be:

- ARIS: I want to create a label category which is the current ARIS process so that Flyt processes could be labeled with a certain ARIS process. Users can then search for how ARIS processes are being performed throughout com

[2022-11-07 09:48] dansvend opened #456 "Patch vulnerabilities"
Patch vulnerabilities found by Snyk.

[2022-11-09 07:33] knudsvik opened #457 "New labels for disciplines, software etc"
**User input 1 (by Lene Østensen- sharepoint ID174):**
Er det mulig å legge til etiketter/labels som er mer rettet mot følgende:
Fag områder, f.eks sand, erosion, sand management
Software: Prosper, EC
Industri standard: DNV RP O501

[2022-11-14 07:13] #457 closed, assigned to nobody

[2022-11-17 11:12] knudsvik opened #458 "Click here to get help"
**User story**
As a user I want a simple way to get help with mapping a process so that I don't give up before starting

**Describe the solution you'd like**
A button on the landing page/process page "Click here to get help"

[2022-11-30 14:35] knudsvik opened #459 "TEST"
**User input 1 (by Sayyare Hamit- sharepoint ID175):**
test