[2021-07-07 07:21] SegarJJ opened #85 "JOSEG test an issue"
some detail...

a
a
a
a
a

[2021-07-08 08:43] #85 closed, assigned to nobody

[2021-07-08 08:45] SjoenH opened #86 "Access control / Sharing write access"
As an end user I want to share write control with other users so that they can contribute to the VSM

[VSM-113](https://equinor-sds-si.atlassian.net/browse/vsm-113)

[2021-07-08 08:45] SjoenH opened #87 "Text reverts back to old text or just doesn't save."
Bug with ID 61 reported at 23 June 2021 11:12:02 CEST

     I am currently participating in meeting where project 92 is shown. The text in a choice card was updated. Ca 2 min later the text was reverted to old text - i.e. was saved, but not ?!??

[VSM-152](https://equinor-sds-si.atlassian.net/browse/vsm-152) + [VSM-144](https://equinor-sds-si.atlassian.net/browse/vsm-144)

[2021-07-08 08:45] SjoenH opened #88 "Adding new cards sometimes does not work."
**User input by several people:**
Noen ganger – “umulig” å få til å flytte eksisterende  bokser (blå – gule). Eller finnes et eget triks/snet ?

**User input**

[VSM-155](https://equinor-sds-si.atlassian.net/browse/vsm-155)

[2021-07-08 08:46] SjoenH opened #89 "Shifty display when showing snack-message"
[vsm-154](https://equinor-sds-si.atlassian.net/browse/VSM-154)

[2021-07-08 08:54] SjoenH opened #90 "Role should be only one line"
THOKN@equinor.com reported a bug with ID 71:In sub-activities; when the role is above a certain length it is divided over two lines. The second line interrupts with the time input on the cards. An example from project 139 is the role “Operation engineer”. The word “Operation” sits in the first row, while the second row has “engine” in it, on top of the time.

https://equinor-sds-si.atlassian.net/b

[2021-07-26 05:10] #90 closed

[2021-07-28 06:42] SjoenH commented on #86
This lays the groundwork for #86. It is basically done, but would be smart to wait with releasing this until #82 is done.

[2021-07-28 08:43] SjoenH commented on #86
Some comments from our PO

Access control in QA has been tested with two users. A couple of comments:
- There is no e-mail notification to users that has been added. I guess this is what you Peder is working on. Not critical for initial release.
- [ ] When a user is granted contributor or admin rights to a process someone else is owner of, it is not showing in the "Edit" view on the front page. I

[2021-07-28 11:03] SjoenH opened #92 "Multiplayer - Users can edit at the same time"
- [x] As a user, I want my colleagues to see the changes that I have just saved on a VSM they are also viewing.
       https://equinor-sds-si.atlassian.net/browse/VSM-19
- [ ] #128
       https://equinor-sds-si.atlassian.net/browse/VSM-132
       https://equinor-sds-si.atlassian.net/browse/VSM-149

To-do:
- [x] #116

# Known bugs
## Blockers:
- [x] #123

## non-blockers
- [ ] #124
- [ ] #125
- [ ]

[2021-07-29 08:07] SjoenH commented on #92
Waiting on API SignalR fixes ( @pagodo )

[2021-07-29 10:46] #87 closed

[2021-07-29 10:51] SjoenH opened #93 "When a user is granted contributor or admin rights to a process someone else is owner of, it is not showing in the "Edit" view on the front page."

[2021-07-29 10:55] SjoenH opened #94 "Change share-text to "You need to be owner or admin to manage sharing""
When a user without priveleges opens the share popup screen; the following message appears: "You need to be creator or admin to manage sharing". There is no role with name "creator", should probably be "owner"? Meaning error message should be "You need to be owner or admin to manage sharing"

[2021-07-29 13:44] SjoenH commented on #93
🐛 Fix in API is now out. ✨

I'll do a quick 1. to support some of the new api-features.

[2021-07-30 06:59] #94 closed

[2021-07-30 07:00] #93 closed

[2021-08-02 10:09] SjoenH commented on #89
Considering dropping the snack-message. Maybe it is not the best way to show progress?
But it might be good for error-messages... 🤔

[2021-08-06 08:09] SjoenH opened #103 "Display newlines in cards"
Feedback ID32: In all post-it boxes, the text is visualized as one long paragraph. I would like to see the card with the same layout as my original input, including returns and spaces between paragraphs.

[2021-08-06 08:09] SjoenH opened #104 "Hide the sidebar if click on canvas"
Feedback ID37: I would like to have the feature that if I have a card open (panel on the right to insert the text) that it closed when I click on the white screen again instead of using the cross.

[2021-08-06 08:10] SjoenH opened #105 "As a user I would like to read the whole description of an existing QIP before adding it to a card."
Feedback ID63: When choosing existing problem (and ideas/questions) only parts of the existing problem text is visible, truncated by the width of the side bar. Should there be multiple lines?

[2021-08-06 08:23] #86 closed

[2021-08-06 09:33] SjoenH commented on #105
Considering using a hover instead of using multiple lines in the list
![image](https://user-images.githubusercontent.com/3164065/128490097-b6e1d0b5-c229-4969-bebf-e22242d7e3ae.png)

If we put it on multiple lines, the list might look bad. Would like to talk with our designer before doing any changes there.

[2021-08-06 12:47] #103 closed

[2021-08-06 12:48] #105 closed

[2021-08-06 12:48] #104 closed

[2021-08-16 10:12] SjoenH opened #111 "Errors when adding time"
When adding the number first and then the unit on a waiting Node, the number is not saved and thus not displayed in the canvas. This happens for all type of units except Minutes. When opening the sidebar again for a waiting node , the number OR the unit is displayed, not both. However, If I start with the unit instead of number it all works ok.

[2021-08-17 13:20] SjoenH opened #112 "Categorisation page (aka. Parking lot or Fishbone)"
https://www.figma.com/file/IkHwmIQrsT0iR34f5R5UnZ/VSM?node-id=2381%3A85418

[2021-08-17 13:20] SjoenH opened #113 "FrontPage refresh"
https://www.figma.com/file/IkHwmIQrsT0iR34f5R5UnZ/VSM?node-id=2552%3A89145

[2021-08-19 12:32] SegarJJ opened #114 "Toolbox should only show when users have edit rights"
The toolbox is showing for projects where you don’t have edit rights, and it should not.

Related: The tool tray will not be presented on an editable VSM if the user previously was viewing a read-only VSM.  The tool tray should be visible in this condition.

[2021-08-19 12:36] SegarJJ opened #115 "Canvas does not properly resize if the browser is resized. (VSM-119)"

[2021-08-19 13:32] SjoenH commented on #92
Skipped SignalR. Setup websocket via socket-io + nextjs api in the same docker container running alongside the webapp.
We should do some testing of multiplayer. It’s not perfect, but a big upgrade from manually refreshing the page. @ntorsen

Code changes are in branch #106. Deployed to test now. https://web-vsm-test.radix.equinor.com

[2021-08-19 13:56] SjoenH commented on #92
What do we do when we have two people editing one card at the same time?
Right now; It's not too bad, it does update other users sidesheets, but we get overwrite issues when someone is editing the same field.

How can we improve it?
In a perfect world, we would have proper support for editing simultaneously. Could be fun to test out.

I'll think a bit about how we should approach this issue.

[2021-08-19 14:01] SjoenH commented on #92
If both users have the same card open at the same time. Sync the card state asap via websocket.

[2021-08-20 09:12] SegarJJ commented on #92
Findings from our live testing, 3 users in one VSM.

* If 2 users are editing the same description field we see that the last editing user ( user2 ) overwrites all the new text from user1.
* When two users are trying to move the same card, under certain circumstances the card can be stuck for one user.  A browser page refresh can solve the issue.
* If two user has a card open, and that same card i

[2021-08-20 09:53] SjoenH commented on #92
Also, deleting a vsm could trigger a message to the other users. Now it will just show error 404 that the project does not exist.

[2021-08-20 10:37] SjoenH commented on #92
Todo:
- [ ] Add auth for socket-io endpoints

[2021-08-20 10:46] SjoenH opened #116 "Add auth for socket-io endpoints"
Server side, use thream/socketio-jwt: https://github.com/Thream/socketio-jwt
Something like this:
[code]
Client side, do something like this:
[code]

[2021-08-20 12:10] SjoenH opened #117 "As a user I want to duplicate a project (with all features other than PQI's) so that I can adjust it to my own needs"
Click on the duplicate button in the vsm-title-dropdown to create a new VSM with the same cards.
Note; Questions, Ideas and Problems are not copied, and it is not shared with anyone by default.

- [x] #147

[2021-08-20 12:19] SjoenH opened #118 "something @pagodo"

[2021-08-20 12:22] askbulle opened #119 "test eple"

[2021-08-20 12:23] knudsvik commented on #119
Test

[2021-08-23 06:42] SjoenH commented on #118
This was just a test issue to show our POs how GitHub issues work

[2021-08-23 06:42] #118 closed

[2021-08-23 08:25] SjoenH opened #120 "Unlinking task throws an error"

[2021-08-24 06:59] knudsvik opened #121 "Card stuck on cursor"
**Describe the bug**
Sometimes when I want to add a blue main activity by dragging it, the template card in the left lower corner attach to my cursor and I'm not able to drop it off in the VSM. Finally, when I tend to rename the VSM, it leaves my cursor. I have done this several times (without wanting to rename) as a workaround.. Reg. Mona

**Sharepoint ID**
72

[2021-08-26 09:54] Magos opened #122 "Create Category"

[2021-08-27 12:17] SjoenH opened #123 "RUNTIME-CRASH: Reproduce: When pressing add existing idea. Error: Rendered more hooks than during the previous render."

[2021-08-27 12:21] SjoenH opened #124 "In some instances, if two users move a card at the same time, the card might be stuck on the pointer. Workaround: Refresh the page"
Might be related to #121

[2021-08-27 12:21] SjoenH opened #125 "You don't see the updates in the side sheet when both users are editing the same thing. This may lead to overwriting other people's changes."
We support multiple users, adding and moving cards around in the canvas & the side sheet should also be automatically refreshed, **as long as only one user have started editing what is currently selected**.

**Example:** If both users start editing the same description of a card, they won't see the other person's edits and the latest to update will overwrite the other one.

---

What do we do when

[2021-08-27 12:21] SjoenH opened #126 "If two users move a card at the same time, the layout might jump around..."
Not quite sure what is going on here... Might need to look at the render method here... :thinking:

[2021-08-27 12:21] SjoenH opened #127 "Deleting a VSM does not trigger a message to the other users. Now it will just show error 404 that the project does not exist."

[2021-08-30 08:49] SjoenH opened #128 "As a user, I want to know who else is watching the current VSM I am viewinghttps://equinor-sds-si.atlassian.net/browse/VSM-132https://equinor-sds-si.atlassian.net/browse/VSM-149"

[2021-08-30 08:50] SjoenH commented on #92
Let's move #128 out as a new feature.

[2021-08-30 10:53] SjoenH commented on #92
Releasing what we have so far to Test and QA environments.
@equinor/mad-testers - Could you do some regression testing?

@knudsvik & @askbulle
**Initial release of multiplayer is approaching.** I pushed what we have so far to QA environment for you to test out.

Note: There are some known bugs:
- #124
- #125
- #127
- #126

Let me know if any of these are considered blockers for you, or if we can r

[2021-08-31 11:24] askbulle commented on #92
Thorjan & I tested. Really nice feature. The bugs are should not stop us from releasing

[2021-08-31 11:28] SjoenH opened #129 "Multiplayer improvements"
- [ ] #124
- [ ] #125
- [ ] #127
- [ ] #126

[2021-08-31 11:30] askbulle opened #130 "Side bar hides message that other user(s) made changes in VSM"
**Describe the bug**
Side bar hides message that other user(s) made changes in VSM.

**To Reproduce**
Steps to reproduce the behavior:
1. Two users open same VSM, both with write access
2. add some cards
3. User 1 opens side bar
3. User 2 adds another card (or other change)

**Expected behavior**
Change message visible regardless of having side bar open

[2021-08-31 11:32] askbulle opened #131 "Thorjan & I tested. Really nice feature. The bugs are should not stop us from releasing"
Thorjan & I tested. Really nice feature. The bugs are should not stop us from releasing
However, when side bar is open it is not possible to see the little black box alerting to changes other user(s) have made
#130

_Originally posted by @askbulle in https://github.com/equinor/MAD-VSM-WEB/issues/92#issuecomment-909146706_

[2021-08-31 11:34] #131 closed

[2021-08-31 11:35] askbulle commented on #131
User unable to delete issue :-)

[2021-08-31 11:36] SjoenH commented on #131
I don't think it's possible to delete issues. But it doesn't matter. Closing them is good enough :)

[2021-08-31 11:40] SjoenH commented on #92
@askbulle Noted.
Moved the bugs into its own card https://github.com/orgs/equinor/projects/77#card-67753318
#129
Also, we could create an issue for the notification box if we want it to be visible when editing a card.

Doing final checks with backend @pagodo before releasing to prod.
Radix is having some growing-pains at the moment, so release might take a little longer than usual. I'll move the c

[2021-08-31 11:43] knudsvik commented on #92
@SjoenH: @askbulle already made a separate issue for it : #130 . But we couldn't get it to show in a nice way here. (other than the number and a link)... not with a title etc.

[2021-08-31 13:45] SjoenH commented on #92
Radix finally catched up. Multiplayer is now in Prod :muscle:

[2021-08-31 15:21] SjoenH opened #132 "Wrong hover-text when disconnected"
![Wrong hover-text on disconnected status](https://user-images.githubusercontent.com/3164065/131530291-62e481bf-e179-402e-9875-2ad1427dd779.png)

[2021-09-01 06:36] #92 closed

[2021-09-01 06:36] #123 closed

[2021-09-01 10:23] SjoenH commented on #132
Fixed by  #135

[2021-09-01 10:23] #132 closed

[2021-09-01 10:24] SjoenH commented on #120
Fixed by  #135

[2021-09-01 10:24] #120 closed

[2021-09-01 10:35] SjoenH commented on #120
@ntorsen Ready for testing together with #132 in Test-environment.
This is only a front-end change. So we should be good to go.

If you approve, feel free to promote it to QA and Prod: https://console.radix.equinor.com/applications/vsm/jobs/new?pipeline=promote&deploymentName=test-njsmu-afemj8dj&fromEnvironment=test

[2021-09-01 12:03] ntorsen commented on #132
looks good. text as described above does not appear when disconnected

[2021-09-01 12:33] ntorsen commented on #120
Working good in test.
Promoted to Prod

[2021-09-01 17:04] SjoenH opened #136 "Make the Changelist public"
Fixed in 1afb860aeae9695dfabbaf8cbf6c8ed9085f7fb2

[2021-09-02 05:44] ntorsen commented on #136
No problem with the changelog if you view it on the startpage. However, if you go into one of the projects and by the dropdown list on the top right side, I get this message
![image](https://user-images.githubusercontent.com/89014017/131788530-515620af-339f-4fda-a025-46edb3238a78.png)

Is the changelog only supposed to be available on the startpage? @SjoenH

[2021-09-02 06:52] SjoenH commented on #136
No, good catch!

[2021-09-02 07:03] SjoenH commented on #136
Please test again now @ntorsen

[2021-09-02 07:07] ntorsen commented on #136
Working good 🥇

[2021-09-02 09:21] SjoenH commented on #111
@ntorsen ready in test.

[2021-09-02 10:34] ntorsen commented on #111
working good in test

[2021-09-02 11:18] SjoenH commented on #116
This is done and in prod

[2021-09-02 11:18] #116 closed

[2021-09-02 11:18] #136 closed

[2021-09-02 11:22] #119 closed

[2021-09-02 11:29] #122 closed

[2021-09-02 11:54] #111 closed

[2021-09-02 12:24] SjoenH commented on #117
@ntorsen Ready for testing :100:

[2021-09-02 13:44] SjoenH commented on #117
@ntorsen Updated: Try to break it now :muscle:

[2021-09-02 14:11] SjoenH opened #139 "Patch sendt every-time you click on a card"
We got a bug where a request to update the time is sent every time the `DurationComponent` is loaded.
Expected: Only send patch-update when user makes a change.

[2021-09-03 05:49] ntorsen commented on #117
I'm not able to recreate the problem from yesterday. Working very good :)

[2021-09-03 06:59] #139 closed

[2021-09-03 07:11] SjoenH commented on #117
Ok, super. :muscle:

@knudsvik & @askbulle
NEW Duplicate feature is ready for testing in QA. What do you think?

[2021-09-03 07:13] knudsvik commented on #117
Will check it asap

[2021-09-03 10:48] SjoenH commented on #130
@ntorsen Ready in test-environment. Let me know if you need help testing it (multiplayer).

[2021-09-03 12:11] ntorsen commented on #139
looks good

[2021-09-03 12:14] ntorsen commented on #130
I think I need help testing this 👍

[2021-09-03 17:43] SjoenH commented on #112
We need to think about access-rights here... :thinking:
CRUD
Admin vs contributor vs no-role

[2021-09-06 07:15] #130 closed

[2021-09-06 08:14] askbulle opened #144 "Improve 'duplicate VSM' feature"
**User input 1 (by ES - Sharepoint ID113):**
We have duplicated a VSM and roles and time are not copied over. Is there a reason for this? Or could this feature be added?

**User input 2 (by Lise SE, GLB, HE):**
Brukes dupliserings knappen – tar ikke med roller og problem/ideer automatisk. Kun tittel felt som blir kopiert. Alt det det andre må inn påny

**Possible solution:**
When clicking the dupl

[2021-09-06 08:21] knudsvik opened #145 "Pop-up dialogue when creating new VSM"
As all roles (leaders, users etc) I want to find VSM's based on title, changing title should be mandatory when creating a new so that we don't get hoards of "Untitled VSM"'s. Evaluate how to handle naming of duplicates in same user story.

The process needs to be matured:
- What if the user just wants to test the tool etc

[2021-09-06 08:23] knudsvik commented on #117
QA:

- The title on a duplicate would be better if it was "Title (Duplicate of xx)" instead of "Duplicate of Title (xx)"
- Copying without PQI is fine for the first release. We are adding a user story in the backlog to also include PQI (low pri) and sharing rights, see #144
- Is the original project reference saved as data in the database? This could prove value in the future (version history etc)

[2021-09-06 08:35] SjoenH commented on #117
No, this is strictly a new project with the same cards. The only link we have for now is the title, and it can be removed/changed by the user.

[2021-09-06 08:47] SjoenH commented on #112
@knudsvik @askbulle Who should be able to manage categories for QIPs?

[2021-09-06 09:02] SjoenH commented on #117
New build with this change ready in QA @knudsvik

[2021-09-06 09:36] SjoenH opened #147 "Keep link to old project in project metadata"
New field `duplicateOf` in project metadata
[code]

[2021-09-06 10:18] SjoenH commented on #117
Created a task for it #147
@knudsvik do you consider it a blocker for this feature, or may we add it later?

[2021-09-06 10:35] knudsvik commented on #117
Yes, we consider this as a blocker for the initial release

[2021-09-06 10:45] SjoenH commented on #117
Ok, @Magos you have an ETA on when you could add the extra field? #147

[2021-09-06 11:07] SjoenH opened #148 "Send mail when adding new user to a VSM"

[2021-09-06 11:12] SjoenH commented on #148
@pagodo How far did we come with this issue?

[2021-09-06 11:58] Magos commented on #147
Da har jeg startet [en build med denne i](https://dev.azure.com/statoil-mad/VSM/_build/results?buildId=28413&view=results). Dette er migreringsscript for SQL-serverne
[DuplicateOf_column.zip](https://github.com/equinor/MAD-VSM-WEB/files/7115783/DuplicateOf_column.zip)
det er idempotent og kan kjøres flere ganger.

[2021-09-06 12:30] askbulle commented on #112
Owners, admins and contributors should all be able to manage categories for PQIs

[2021-09-06 13:30] SjoenH commented on #117
Ready for testing in QA. @knudsvik
![image](https://user-images.githubusercontent.com/3164065/132224167-081780f5-50a7-436a-ab16-e3470d519365.png)
Duplicates should now have a new field in the db called `duplicateOf`. Verify by looking at the response object when fetching a project.

 @ntorsen let's do a quick regression test in QA for this. If all is good, we will try to release tomorrow.

[2021-09-06 13:32] #147 closed

[2021-09-06 20:06] knudsvik opened #149 "New bug - feedback ID 84"
**Description of the bug:**
This is just a test

**Sharepoint list ID**
84

[2021-09-06 20:08] #149 closed

[2021-09-06 20:45] knudsvik commented on #117
Looks good! Checked the QA database, easy to find and use the duplicateOf data. Thumbs up!

[2021-09-07 05:39] ntorsen commented on #117
Looks good 👍

[2021-09-07 07:24] SjoenH commented on #117
Released to prod :muscle:

[2021-09-07 07:24] #117 closed

[2021-09-07 07:27] Magos opened #150 "GetProjectWithObjectsById burde ikke svare Internal server error når bruker spør om prosjekt som er slettet"
For prosjekter som ikke finnes lenger burde denne metoden ikke føre til Null Reference Exception, men heller identifisere at prosjektet er slettet og gi en bedre statuscode.

[2021-09-07 08:36] knudsvik opened #151 "Information/Tutorial for new features"
**Describe the solution you'd like**
As a user I want to get a pop-up message (with update details) when opening flyt.equinor.com for the first time after a new feature release so that I know about new features I can use.

Only for major releases? Include bugs? Link to changelog?

[2021-09-07 11:46] askbulle opened #152 "Make all text on green cards visible on canvas"
Several users map processes with a very long lists of suppliers, input, output and customers. Sometimes this is due to very complex process, sometimes just very bad and/or unclear process when these lists are long. In both cases seeing the entire list is valuable.

As of now, only the top of these lists are visible on the canvas.

Suggested solutions
a. automatically expanding green cards vertical

[2021-09-07 16:42] SjoenH commented on #112
@Magos
![image](https://user-images.githubusercontent.com/3164065/132381106-def7b865-dc7d-4bb8-bdc5-7c219dec4475.png)
Patching category that are linked to a task gives 200 ok, but the change does not stick.

[2021-09-09 08:11] Magos commented on #150
Har en retting på dette i branch bug/vsm-150, men migrerer den ikke til dev før @SjoenH evt. er ferdig med forrige branch.

[2021-09-09 08:16] SjoenH commented on #150
Siden dette kun skal være en back-end fix så kan du release til Test-miljøet og få @ntorsen til å teste.

[2021-09-09 11:38] askbulle opened #154 "Versioning"
**User input**
In addition to general metadata, also a version history with author would be useful (when sharing function with edit is available).

**Sharepoint ID(s)**
31

**User story**
As an end-user I want to keep track of all changes and possibly being able to roll-back to earlier versions to be able to understand history and secure understanding for where we are today and why (continuous imp

[2021-09-09 11:48] knudsvik opened #155 "Add R to PQI's (R for Risk)"
**User input (if feedback)**
HI, This is very good tool. I am using it for VSM process in the subactivity. you have problem, idea and questions.
 We have some risks associated and would like to have it in the drop down menu. RISK
in addition, the dropdown menu is not intuitive, i started writing in that and then clicked save. nothing was saved.

Hope to see the possibility to choose risk in the su

[2021-09-09 11:54] knudsvik opened #156 "Finding relevant VSM's"
**User input (if feedback)**
I wish to be able to filter out VSM's that are empty or "half done" so that it is easier to find VSM's where I can learn, get inspired and steal ideas

**Sharepoint ID(s) (if feedback)**
83

**User story**
As a user I wish to find VSM's where I can learn, get inspired and steal ideas

**Describe the solution you'd like**
to filter out VSM's that are empty or "half done

[2021-09-09 11:55] askbulle opened #157 "Process Hierarchy - frontend"
**User story**
As a user I want to have parent-child relations between processes so that I can see one process in relation with others. Sub-process in a different colour.. link between mother and daughter

**User input 1 (by HF - SharePoint ID53)**
Hi, I would like to have the opportunity to also create another sipoc within the same window. To be able to do that I need to be able to create another

[2021-09-09 12:00] knudsvik opened #158 "Improved P, Q, I buttons"
**User input (17)**
When adding a problem, question or idea to an activity, the dropdown list is an unecessary extra click. A better option would maybe to be presented with three coloured circles with a + sign on it (for new p, q, i) and a list of existing P, Q, I represented as circles with "P1", "Q2" labels etc. Hover-over existing will show the text.

**User input (26)**
Under Sub-activity and

[2021-09-09 12:00] askbulle opened #159 "Process labels"
**User story**
As an end user, I want to tag a process with keywords so that I can look up all processes with a common keyword

**Sharepoint ID**
34, 76, 92

**Describe the solution you'd like**
- Tags visible in overview (similar to Planner labels?)
- Examples: Asset (Åsgard, Snorre etc), Process (Well construction, department meeting etc)
- Examples: Project (Lean DPO)
- Pre-defined vs free text

[2021-09-09 12:03] askbulle opened #160 "API endpoints for Power BI"
**User story**
As an end-user or leader I want to bring statistical VSM data to other tools, e.g. Power BI dashboards so that I can visualise current process health, improvement pace and use the data to ensure progress

**Requirements**
- [ ] Data setup to contextualise the data (MVP according to existing Power BI needs)
- [ ] GDPR is not violated (e.g. user data in the changelog)

[2021-09-09 12:03] knudsvik opened #161 "Role for Main Activity"
**User input (if feedback)**
28: For Main Activity - would like possibility to include role and time there also, as for Sub-activity.
74: What about having the opportunity to add responsible unit on the main activities (blue cards) too? To me this is sometimes very useful information. Now I add it in the end of the title, but it's not as elegant :-)

**Sharepoint ID(s) (if feedback)**
28, 74

[2021-09-09 12:03] knudsvik commented on #161
Henry: There is already support in the back-end for this. If you want it we can get it in with little effort.

[2021-09-09 12:06] askbulle opened #162 "Waiting card improvements"
**User input (if feedback)**
As a user I would like to add a description text to a waiting box in a similar way as is possible for other boxes like main and sub activities etc.

**Sharepoint ID(s) (if feedback)**
10

**User story**
As a leader I need to be able to get data on waiting in processes visualized (time & role) to know when follow up by me is necessary

**Describe the solution you'd like

[2021-09-09 12:09] knudsvik opened #163 "Duration unknown or range"
**User input (if feedback)**
When entering duration of an activity it must be possible to enter
-  "?" for unknown duration
-  a range for varying duration (e.g. 5-300 Minute(s) ) (an early quick fix can be alternative "Varying"

**Sharepoint ID(s) (if feedback)**
48

[2021-09-09 12:09] askbulle opened #164 "Digitise brown paper"
**User story**
As a user I want to digitise a grey paper VSM so that I can continue following up problems digitally, make it available and not use wall space

**Describe the solution you'd like**
1. Take picture of total problem with cell phone
2.  Automatic text recognition and card layout
3. Ask for more picture where unknown or text unclear

[2021-09-09 12:10] knudsvik opened #165 "Marking PQI as Solved"
**User input 1**
Possibility to mark problems, ideas and questions as solved. Now it's only possible to delete them (not desirable as it is part of the meta-data needed).

**User input 2**
When a problem is deleted from a flow, it still is registered as an "existing problem" and still appears in "categorize PQIR's"

**Sharepoint ID(s)**
49, 105

**Requirements (for @ntorsen)**
- [x] Checkbox next

[2021-09-09 12:12] askbulle opened #166 "Improved feedback form"
**User story**
As a product owner I want to improve feedback form so that we can streamline tha handling process

**Describe the solution you'd like**
- See REP feedback - using Services@Equinor
- See VSM in Flyt - Project 13

[2021-09-09 12:12] knudsvik opened #167 "Feat: Move PQI between yellow cards"
**User input (if feedback)**
Easy way to move problems, ideas and questions between sub-activities/waiting/choice etc.

**Sharepoint ID(s) (if feedback)**
65

**User story**
As a mapper I would like to easily being able to move PQI between yellow cards

[2021-09-09 12:13] askbulle opened #168 "Label processes with high potential for improvement"
**User story**
As a team member I want to label a process as "High potential" so that leaders and team can prioritise efforts

**Describe the solution you'd like**
- Key word: High potential"

[2021-09-09 12:14] knudsvik opened #169 "Hover description of boxes"
**User input (if feedback)**
When highlighting new elements a title should appear for easier use of mapping. For people that is not so familiar with VSMs.

**Sharepoint ID(s) (if feedback)**
66

**User story**
As a new user I would like the boxes in tool bar to have explanitory text when hovering over them to make it easier to drag the correct box into canvas

[2021-09-09 12:19] knudsvik opened #170 "Add boxes/text/images to canvas"
**User input (if feedback)**
Would like to have a 'text box'/grey note or similar where we could enter background information that is relevant for the process being mapped but not directly part of it. Would help when we are to use these VSMs also as 'How To'-documents for experience transfer

**Sharepoint ID(s) (if feedback)**
68

[2021-09-09 12:20] askbulle opened #171 "Low activity"
**User story**
As a leader I want to get notified if a process (with high improvement potential) is not being worked on so that I can prioritize efforts

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2021-09-09 12:21] knudsvik opened #172 "Drop cards between other cards"
**User input (if feedback)**
I would like to add new boxes between existing boxes. This is more intuitive for the user than to drop new boxes inside existing ones.

**Sharepoint ID(s) (if feedback)**
7

**User story**
As an end-user I would like to add new boxes between existing boxes so that the tool is more intuitive

[2021-09-09 12:22] askbulle opened #173 "Obsolete VSM"
**User story**
As an end-user I want to mark a VSM as obsolete so that other users know that the process mapping is no longer relevant or worked on

**Describe the solution you'd like**
- Include comment on why it is obsolete?
- water mark in canvas

[2021-09-09 12:23] knudsvik opened #174 "Request contributor access"
**User input (if feedback)**
As a user I want to request contributor access so that I help admins/owners with the access control process

**Sharepoint ID(s) (if feedback)**
77

**User story**
As a mapper I would like to be able to request access as contributor/admin to help the person with admin access give access so that more people are able to update/contribute to VSM's

[2021-09-09 12:25] ntorsen commented on #150
Looks good in test
![image](https://user-images.githubusercontent.com/89014017/132685325-a3c7bbc3-fcec-4104-b8a1-a4a41b9b25be.png)

[2021-09-09 12:25] knudsvik opened #175 "Links not url's"
**Users**
Thorjan Knudsvik, Fredrik Liknes x2, Liv Håøy

**User input (ID 78)**
Insert links on words, not the full url, to save space in activity boxes.

**User input (ID 102)**
Add functionality to link in URLs in Problems/ideas/risks etc.. Then you can refer further if you have an idea you want to share a link to for further work.

**User input (ID 107)**
Include possibility for link in card -

[2021-09-09 12:27] askbulle opened #176 "Problem solving actions"
**User story**
As an end-user I want to be able to make comments and add actions to people to secure progress on improvements

**Describe the solution you'd like**
- Could be in the tool, but also in other tools.
- Problems could be lifted to leading advisors etc

[2021-09-09 12:27] knudsvik opened #177 "Share access to groups"
**User input (if feedback)**
Could write-access sharing also be shared to groups rather than specific shortnames only?
A group could be part of a process mapped using the tool, so then ideally it is the group (with associated members) that could be allowed to edit the mapped process.

**Sharepoint ID(s) (if feedback)**
79

[2021-09-09 12:28] askbulle opened #178 "Problem solving tool"
**User story**
As an end-user I want to go from VSM app to e.g. SIP to solve a problem with other lean tools (e.g. creating A3)

[2021-09-09 12:29] knudsvik opened #179 "HowTo's"
**User story**
As an end-user I want to write HowTo on back of activity cards to secure best practise/find existing how-tos

[2021-09-09 12:30] askbulle opened #180 "Record time/Time variations"
**User story**
As an end-user I want to record time spent on a process (both total and effective) to visualise improvement potentials

**Describe the solution you'd like**
- Need to have time variations as part of this user story
- Idea: Each time the flow time is recorded --> New version in version history
- Mouse hover on time --> pop-up on time variations
- Separate user story?: Indicator for a

[2021-09-09 12:31] askbulle opened #181 "Sharing data"
**User story**
As a leader/cross-BA role I want to visualize great improvements (e.g. top 10 improved processes) for experience transfer to other teams and inspiration

[2021-09-09 12:32] knudsvik opened #182 "Identify same problem in several processes"
**User story**
As a problem solver I want to know if a problem exist in several processes so that the priority can be lifted and solved for many processes

**Describe the solution you'd like**
Machine learning problem? Identify similarity

[2021-09-09 12:32] askbulle opened #183 "Similar activities"
**User story**
As an end-user I want to get hints of similar activites made by others as to see the best practice, experience transfer or problem solving

[2021-09-09 12:34] askbulle opened #184 "Similar processes"
**User story**
As an end-user I want to get hints of similar processes made by others as to see how the process may flow effectively

**Describe the solution you'd like**
- Machine learning candidate to look for similarities
- Notify users that similar processes exist

[2021-09-09 12:35] knudsvik opened #185 "Feat: Improved choice"
**User input 1 (by TR - Sharepoint ID8)**
I would like to see "Yes" and "No" as text for the "two branches" belonging to a Choice box. As a default "No" branch can be to the right hand side and the "Yes" branch be to the left hand side below the choice diamond.

**User input 2 (by LSE, GLB, HE):**
Når vi skal sammenligne mer enn to dimensjoner, er det mulig å ha flere enn to valg/alternativ?

**Us

[2021-09-09 12:35] askbulle opened #186 "Stand-alone Fishbone"
**User story**
As an end-user I want to be able to use the Fishbone stand alone, but then with Sticker in “mouth of fish” for brain storming sessions

[2021-09-09 12:38] askbulle commented on #186
#112

[2021-09-09 12:39] knudsvik opened #187 "Improvement potential measure"
**User story**
As a team leader I want to know which processes have highest potential for improvement so that I can prioritise efforts

**Dependencies**
#159 #190 #192

**Ideas to include**
- number of problems
- variation in time
- many waiting
- lead times
- VA /NVA
- Differences between actual and to-be process (lead times, # steps etc)

[2021-09-09 12:42] askbulle opened #188 "VSM tool improvements (VSM project #18)"
**User story**
As a product owner or leader I want to have a VSM on mapping VSM with VSM tool to be able to find problems and ideas with the VSM tool to improve it

**Describe the solution you'd like**
- VSM #18 mapped (Mapping with Flyt) (done)
- This could be the HowTo accesible from the front page
- Users can not change process, but can add problems, questions or ideas

[2021-09-09 12:43] knudsvik opened #189 "Links to further details, e.g. A3"
**User story**
As a user I want to add links to relevant information, e.g. A3 so that I can know about connected information

**Dependency**
#175

**Relevant links**
- HowTo
- A3
- problem grouping
- ARIS

**Additional context**
MVP idea: Links in ideas

[2021-09-09 12:44] askbulle opened #190 "Value adding - non-value-adding"
**User story**
As an end-user I want to be able to categorize between VA/N/NVA activities to be able to focus on the right improvements and visualise it

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2021-09-09 12:45] knudsvik opened #191 "Sum time from sub-actvitites to main activity"
**User story**
As a user I want the times from sub-activities to be aggregated to the main activity so that I can get better overview of the total time

**Dependency**
Dependent on solution for #163

[2021-09-09 12:46] askbulle opened #192 "To-be process"
**User story**
As a user I want to map how a perfect process would look like so that we can communicate around the targets

**Describe the solution you'd like**
- A special case to the version history in future
- Based on current version

**Dependency**
#154

----
### NOTE:
- ~~#159 needs to be done in the API before we can start on this task.~~ Labels are now supported in the api.
----
# Developm

[2021-09-09 12:47] knudsvik opened #193 "Team statistics"
**User story**
As a team leader I want to be able to measure the continuous improvements (total lead time and variation, problems solved etc) to guide and empower the team.

**Dependencies**
#154
#159 (to get data on which processes are in a specific team or responsible leader)

[2021-09-09 15:09] knudsvik opened #194 "New feature request ID 86"
**User input (if feedback)**
As a user I want to subscribe to any changes in a process so that I can be notified when wanted

**Sharepoint ID(s) (if feedback)**
86

[2021-09-10 06:04] knudsvik opened #195 "Alignment of sub activities"
**Describe the bug**
Sub activities should be left aligned, does not look good today when one card has problem and another does not and they are right aligned.

[2021-09-10 06:29] knudsvik commented on #195
![image](https://user-images.githubusercontent.com/25986427/132809831-e37f9827-0c96-4eca-be29-e2393475b8c4.png)

[2021-09-10 06:58] SjoenH commented on #112
@knudsvik & @askbulle Getting close to have something to show you here.

I think we can get a release early next week if all goes well.

[2021-09-10 08:07] #150 closed

[2021-09-10 09:04] SjoenH commented on #186
What do you mean with `Sticker in “mouth of fish”`?

[2021-09-10 09:15] knudsvik commented on #186
Not sure we need this user story any longer do we? We are not developing a traditional fishbone.. @askbulle ?

[2021-09-10 10:33] knudsvik commented on #195
I guess this issue is only valid for sub-activities under a choice

[2021-09-10 11:28] askbulle commented on #186
1. I believe that we ought to focus our backlog refining on user stories that are not set with low priority
2. the essence of this user story is as relevant as it was. We will have 90+% of the functionality of a cause-effect tool in our problem grouping solution in Flyt.  A digital tool for quick and easy cause-effect analysis is very interesting to have.
3. but the wording is wrong since we no lo

[2021-09-10 13:43] Magos commented on #113
Da har jeg et draft av migreringsscript til ny databasestruktur for å støtte dette. Innholdet er:

- Først, litt renhold - fjerning av kolonner som ikke er i bruk i modellen vår. For å gjennomføre dette vil det være slettede data på noen nivåer; det handler om <10 rows i hvert nivå jeg har undersøkt og jeg antar alle er opprettet via SQL heller enn applikasjonen. I prodnivået er det 1 påvirket row

[2021-09-13 07:49] askbulle commented on #171
Dependent on #194 and #168

[2021-09-13 07:52] SjoenH commented on #148
Last time the request was denied in Service now. Missing approval from PO.
https://equinor.service-now.com/selfservice?id=ticket&table=sc_req_item&sys_id=7c10ff0887e9f410d93210273cbb3531

[2021-09-13 08:01] knudsvik commented on #166
Alternatively #188 (report bugs and feature requests as a VSM on mapping)

[2021-09-13 08:20] knudsvik commented on #168
Alternative solution: Automatic labelling: #187

[2021-09-13 08:28] knudsvik commented on #154
Should #192 be solved at the same time?

[2021-09-13 08:29] knudsvik commented on #193
Alternatively: May be solved with #187

[2021-09-13 09:01] SegarJJ commented on #114
I would like to test this in a few methods before we close it out. @ntorsen might help as well.

[2021-09-13 09:02] SjoenH commented on #114
Seems to be working as expected. @ntorsen Could you verify?

[2021-09-13 09:02] knudsvik commented on #88
Alternative solution: Present some message to the user that they should not have many things open, like Teams etc.

[2021-09-13 09:03] SjoenH commented on #89
@equinor/mad-testers Could we get this verified that it's ok now?

[2021-09-13 09:09] knudsvik opened #196 "Tutorial for new features"
As a user I want to see what new features have been added since last time I opened the tool so that I can explot new features

[2021-09-13 09:14] knudsvik opened #197 "Feat: Full name of users"
**User story**
As I user I want to relate to full names throughout the Flyt-app, so that I don't need to remember/look up short names separately. I also want to be able to use short names when I know them, so that I don't have to look up full names separately. In addition, it should only be possible to add existing Equinor users (user name in AD).

**User input 1 (by AMBB - Sharepoint ID89)**
Very

[2021-09-13 09:19] knudsvik opened #198 "New feature request ID 87"
**User input (if feedback)**
Strategic problemsolving in this tool is in my opinion "disabled" by having open read access for all users (including suppliers with Equinor email access).
Due to information security requirements, f.ex processes containing business information and security information cannot be solved in this open form. One example: Equinor is Technical service provider for Gassco in

[2021-09-13 09:47] ntorsen commented on #114
Works here as well. Toolbox appears only when having edit rights.

[2021-09-13 09:55] SjoenH commented on #114
Super :muscle: closing this then.

[2021-09-13 09:55] #114 closed

[2021-09-13 10:11] ntorsen commented on #89
@SjoenH yes, I can verify on my end-
No shifty display

[2021-09-13 10:19] #89 closed

[2021-09-14 07:11] SjoenH opened #199 "Chore - Change usernames to something unique"
Now we may have users with the same `shortNames` with different email-addresses.

[2021-09-15 12:59] knudsvik opened #200 "New feedback - ID 88"
**User input**
Om flere asset skal mappe samme prosess kunne en satt opp prosessen i forkant for å sette strukturen på gjennomgangen. Hver gruppe kunne tatt en kopi av "master"-versjonen og fylt den ut. Videre kunne det vært hensiktsmessig å sette det sammen igjen ("merge" flere flyt) slik at det er lettere å gruppere.

**Sharepoint list ID**
88

[2021-09-15 13:57] SjoenH commented on #112
I had my second vaccination dose on Monday, so have been a bit out of it since then. :sweat_smile:

**Categorization-page**/parking-lot is usable now, but there are some things that would be good to improve. See the description **Front-end** list on top. :point_up:
But it would be good to get some initial feedback on the solution as it is now.

@equinor/flyt-product-owners Please have a look at ht

[2021-09-15 17:54] askbulle commented on #200
Highly interesting when mapping same process across several groups (e.g. assets). The master version functionality is already in place with the ability to duplicate VSM's. Analyzing problem across several VSM's then becomes desirable.
- an early workaround for this could be to decide on common categories that are used in all duplicated VSM's. --> Q: will categories in parking lot be included when

[2021-09-15 19:43] knudsvik commented on #196
Miro does this quite nicely:
![image](https://user-images.githubusercontent.com/25986427/133498996-599a3c60-36af-48f4-afc4-813803090258.png)

[2021-09-16 08:23] knudsvik opened #201 "wrong data type in DuplicateOf column"
**Describe the bug**
The DuplicateOf column in the dbo.VSM table in Flyt database should be of datatype `int`, not `varchar(200)` as it is today.

![image](https://user-images.githubusercontent.com/25986427/133576706-2431b35a-74b7-4316-b19b-6e7193d1f770.png)

[2021-09-16 09:51] knudsvik opened #202 "DuplicateOf not registered"
**Describe the bug**
Several processes were duplicated today, none of them are flagged in the DuplicateOf column in backend.

Eg. 467 is a duplicate of 466
468 and 469 are also duplicates.

[2021-09-16 13:18] knudsvik commented on #112
Me and @askbulle have played around with it today, this looks so good!! We have a few comments:

- We need to have a good way of switching back and forth between the canvas and the parking lot. We don't think default should be to open a new window, but rather animate towards right/left to go into this page and vice versa.
- When grabbing a category and hovering over a problem, the problem card sho

[2021-09-16 13:21] knudsvik opened #203 "Multiple categorisation pages for one process"
Multiple categorisation pages for one process

[2021-09-16 13:22] knudsvik opened #204 "Logical step after categorisation"
What should the next step be after categorising the PQI's - solving problems

[2021-09-16 13:24] knudsvik opened #205 "PQI details"
Clicking on a PQI for details
- Change text
- Solved
- Where in process

[2021-09-16 13:27] SjoenH commented on #113
@Magos, I talked with Line. Search for a specific person should give back all project where that user has edit-access. That means an owner, admin, or contributor role.

[2021-09-17 09:55] Magos commented on #192
@askbulle @knudsvik Jeg har diskutert denne og #154 litt med @pagodo, og vi lurer på om dette behovet kan dekkes av #117 - altså at brukerne kan lage en ny versjon av VSMen som er "den vi vil jobbe mot" og vedlike holde disse to ved siden av hverandre uten å involvere versjonshistorikk.
[Metoden for versjonshistorikk vi ser på akkurat nå](https://docs.microsoft.com/en-us/sql/relational-databases/t

[2021-09-17 10:12] martabenthem commented on #113
@Magos, we believe that in order to faving and unfaving a project, we need a PATCH method.

Right now, we are using a POST method that expects a VSM project, where the VSM projects's ID is provided. There are two issues with that:

- We are sending the entire VSM project by faving/unfaving - if someone else were working on that project at the same time as we made the "fave" request, we would be ov

[2021-09-17 11:37] knudsvik commented on #192
Det er en tanke ja, spesielt forståelig for back-end. Kanskje det kunne vært en løsning i front-end å trykke på "Make a to-be process" som i back-end lager en duplikat, mens i front-end vises som en fremtidig versjon?

[2021-09-17 12:26] Magos commented on #113
Looking at a separate "fave" endpoint now.

[2021-09-20 07:31] knudsvik commented on #204
Also related to

- #176
- #178

[2021-09-20 07:40] knudsvik commented on #205
Current PoC:

![image](https://user-images.githubusercontent.com/25986427/133969853-292723a5-2ea7-43f9-87fc-93ebd52f00f6.png)

[2021-09-20 08:48] SegarJJ commented on #154
I was thinking this story could be split into two features.  to ease us into it.   One feature to view the changes on the VSM and another to allow the admin some method to start a rollback process, whatever it may include....

[2021-09-20 08:58] SjoenH commented on #192
Metadata on the original process. Link to the `ToBe`/ideal process
The `ToBe`-process is a new process.

[2021-09-20 10:35] SjoenH commented on #202
Fixed and released to production-environment.

[2021-09-20 17:26] knudsvik opened #206 "Numbers of PQI's in a category"
**PO input from testing #112 :**
We miss something around number of PQI's in a category, how many is filtered etc. See image for our idea on it:

![image](https://user-images.githubusercontent.com/25986427/134046592-df4847c6-5d84-433b-a361-582404d14418.png)

[2021-09-21 07:20] SjoenH commented on #159
@Linedueo I think this one would be quite easy to do. Do you have a design on it?

[2021-09-21 12:17] SjoenH commented on #129
Testing out replacing this with a milestone...

[2021-09-21 12:17] #129 closed

[2021-09-23 10:05] Magos commented on #113
Update since last

- Separate fav/unfav endpoint now exists on /api/v{api-version}/project/favorite/{id} (PUT favs, DELETE unfavs)
- Corrected a situation where new users could be stored multiple times, damaging data integrity wrt. favorites.
- Corrected a situation where new user access rule (sharing a VSM with someone) failed to save.
- Corrected a situation where new projects (empty or duplicat

[2021-09-23 13:26] Linedueo commented on #112
Back button- switching back and forth between canvas and parking lot
<img width="1186" alt="Skjermbilde 2021-09-23 kl  15 26 23" src="https://user-images.githubusercontent.com/74361011/134515345-20508a20-a7c1-4e2f-a8a3-6979ed825688.png">
t

[2021-09-23 13:56] SjoenH commented on #112
Looks good. Can we add a (esc) keyboard shortcut hint as well? Or would that be bad?

From: Line Due-Olsen ***@***.***>
Date: Thursday, 23 September 2021 at 15:27
To: equinor/MAD-VSM-WEB ***@***.***>
Cc: Henry Skorpe Sjøen ***@***.***>, Assign ***@***.***>
Subject: Re: [equinor/MAD-VSM-WEB] Categorisation page (aka. Parking lot or Fishbone) (#112)

Back button- switching back and forth between can

[2021-09-24 06:22] Magos commented on #154
After technical exploration with @pagodo we have some conclusions:

- The Temporal Tables feature of our database seem to be our best approach for this versioning feature, offering performance improvements over maintaining our own history tables with triggers.
- This should minimize the alterations to existing code for CRUD operations.
- In order to actually perform time travelling queries we have

[2021-09-24 07:25] pagodo commented on #154
Moving to a release candidate for the technology the api is based on is not a good idea, there is a good chance we will be left with a unstable system. The release of these versions is set to early november and we should at least wait with the prod release until the technology is formaly released and if we are to release a early version of dotnet6 we have to do extensive testing of the api. But we

[2021-09-24 09:27] knudsvik opened #208 "New feedback - ID 89"
**User input**
Very nice app. As a user it would be good to see full name in sharing popup - not just short name.

**Sharepoint list ID**
89

[2021-09-24 09:29] Magos commented on #208
Seems to be a duplicate of #197 .

[2021-09-24 09:29] #208 closed

[2021-09-27 07:16] SjoenH commented on #154
Maybe we should put this on hold untill @Linedueo have landed on designing functionality requirements with our POs?

We may consider supporting the release-candidate only for Flyt application if we find that the new functionality it provides is the best way to implement our versioning -requirements.

[2021-09-27 07:21] SjoenH commented on #159
<img width="966" alt="Skjermbilde 2021-09-26 kl  20 40 42" src="https://user-images.githubusercontent.com/3164065/134862239-a892cbe7-e5d3-4561-af9f-048872f80855.png">
Design for adding tags to a project. (in the canvas down right)
Still need design for showing tags in the front-page ( ref _**Tags visible in overview (similar to Planner labels?)**_) and possible to filter on tags. @Linedueo

[2021-09-27 07:24] SjoenH commented on #159
Maybe we should call this **labels** instead of **tags**...

[2021-09-27 07:29] SjoenH commented on #159
Do we need a label overview/edit page like in GitHub?

[2021-09-27 07:33] SjoenH commented on #159
Can everyone create new labels? Should these labels be used as suggestions for other users? What happens then if someone creates a label for every letter in the alphabet?

[2021-09-27 07:59] SjoenH commented on #157
This could be solved 1. quite simple with just a link in an existing card or 2. as a new card type as explained in the requested solution above.
**_Overview of linked processes_** would require some type of metadata stored. If we go for number solution 2 the metadata could be stored in the new card.

We should also think about what it would look like in the linked-to process.
@Linedueo let's have

[2021-09-27 08:09] SjoenH commented on #128
Can't really find the Figma design for this. But it is quite self-explanatory. Let's implement the change then get feedback then iterate.
 (the hard thing here is not the design, it's the connection)

[2021-09-27 08:37] SjoenH commented on #112
Back to process instead of back to canvas. Canvas is a technical word that does not make sense.
Consider an icon instead?
Consider adding an navigation transition?

[2021-09-27 08:39] SjoenH commented on #112
Consider animation. Move from right to left when going into the process. Like a next step.

[2021-09-27 08:43] SjoenH commented on #148
@knudsvik @SegarJJ Could you investigate this issue?

[2021-09-27 08:48] SjoenH commented on #159
@Linedueo could you talk with @knudsvik and @askbulle about the scope and design of this user story.

[2021-09-27 09:18] SjoenH commented on #174
Consider a mailto link. If that is enough then this might be a quick fix. Only thing is we are dependent on #199 & #197

[2021-09-27 09:22] SjoenH commented on #175
Markdown formatting could be the solution here. Needs to do some changes to the sidesheet.
- View & edit modes.
- Consider Replace input to markdown formatter ( since users generally don't know markdown)... ++

[2021-09-27 09:36] SjoenH commented on #191
Not to hard, can be done in frontend. But might be crashing with #161 .
Discuss and maybe design -> Do we want a fancy summary like a duration per role etc...

[2021-09-27 09:38] SjoenH commented on #205
#165

[2021-09-27 11:39] Magos opened #209 "Security vulnerability in JwtBearer"
Vulnerability reported by Snyk:
Microsoft.AspNetCore.Authentication.JwtBearer is an ASP.NET Core middleware that enables an application to receive an OpenID Connect bearer token.

Affected versions of this package are vulnerable to Improper Output Neutralization for Logs. It adds JWT tokens into the logfile if those can't be parsed correctly.

    Introduced through
    Microsoft.AspNetCore.Authen

[2021-09-28 06:45] Linedueo commented on #112
back to process makes sense. dont think we should add an icon.

[2021-09-28 07:06] SjoenH commented on #155
@Linedueo what color would fit?

[2021-09-28 11:55] SegarJJ opened #211 "Why the dotted lines around 'logout' and 'duplicate' items?"
I can see the dotted lines around both of these choices, in the pulldown options in the main toolbar when looking at a VSM, but I am not sure why they are standing out from the rest of the options, is it intended to tell me something special?

[2021-09-28 11:56] SegarJJ commented on #211
![image](https://user-images.githubusercontent.com/23700786/135082088-7fa0be0b-db22-4538-ae9e-d4bf97f074c1.png)

[2021-09-28 12:31] knudsvik commented on #211
I had the exact same question to @SjoenH a couple of weeks ago.. answer: "Det er for keyboard navigasjon". It works somewhere, but not consistently..

[2021-09-28 12:35] SjoenH commented on #211
It's a part of keyboard navigation hint that we get by using EDS components.
Keyboard navigation is not currently up to par with https://www.a11yproject.com/

[2021-09-28 13:26] SjoenH commented on #211
https://eds.equinor.com/guidelines/accessibility/#what-is-accessibility

[2021-09-29 07:22] SjoenH commented on #154
From Daily 29 sept:
It sounds like we probalbly should store all changes with timestamps in the back-end. (temporal tables etc)
Then it is a visualisation problem to pick good points. Or we could show them all like in Figma history view.

Talking with @Magos we believe that the view should be able to update quite quickly when selecting a prior state.

[2021-09-29 10:47] Linedueo commented on #154
Versjonshistorikken blir visualisert som en timeline. Denne viser en oversikt over datoer hvor prosessen har blitt endret (oppsummert per dag)

[2021-09-29 11:13] SjoenH commented on #211
Closing this since it's not an issue. (And not linked to POs sharepoint...)
I don't want to overwrite EDS-component functionality. We should rather create a task for
improving accessibility.

[2021-09-29 11:13] #211 closed

[2021-09-29 11:20] SjoenH opened #214 "Improve accessibility"
Accessibility has not been prioritized yet.

For example; The current solution does not support keyboard navigation. But the components does, which leads to confusion like 👉  #211.

An accessibility audit (using lighthouse etc) would be a great place to start.

Some resources to learn more about accessibility:
- https://a11y.coffee/
- https://www.a11yproject.com/
- https://eds.equinor.com/guidelin

[2021-09-29 11:23] SjoenH commented on #113
@ntorsen Ready for testing in dev environment. https://web-vsm-dev.radix.equinor.com/
Add a comment if you find something strange. If all is good, you may promote it to QA environment and notify our POs.

[2021-09-29 12:01] SjoenH commented on #148
I moved this issue to in progress since I understand that @SegarJJ  are looking into this issue.
@SegarJJ Do you have a service-now link for this request?

[2021-09-29 12:38] knudsvik commented on #159
Sure give me a call @SjoenH

[2021-09-29 13:23] ntorsen commented on #113
**Results from testing 29.09**
![image](https://user-images.githubusercontent.com/89014017/135276926-174ea8c5-311e-43ad-ae9a-bc41a00e5f21.png)

[2021-09-29 13:44] SegarJJ commented on #148
https://equinor.service-now.com/nav_to.do?uri=sc_req_item.do?sys_id=11be1ecb877eb490a9faa9383cbb35bf

[2021-09-30 04:48] SjoenH commented on #154
Sounds good @Linedueo.
Please update user-story and notify us when it's ready for development.

[2021-09-30 05:21] SjoenH commented on #113
Thanks for testing @ntorsen
Not a big thing but, I would appreciate it if next time you add the images and text directly into GitHub so that it is easier to read and respond to your feedback 😄

**Search for name & users:**

Yes, but full-name-search is dependent upon #148. Let's add it later. We only support short-name-search for now.

**Alphabetically:**

We display your own `Untitled` processes,

[2021-09-30 05:58] ntorsen commented on #113
Yes, it follows this rule 👍 However I get other people's duplicate of untitled vsm. Is this an exception to rule? @SjoenH
![image](https://user-images.githubusercontent.com/89014017/135395118-44c09edf-d353-4c03-a4e9-dae68f640028.png)

Yes that makes sense 💯

[2021-09-30 07:00] SjoenH commented on #155
![primary](https://user-images.githubusercontent.com/3164065/135403119-9ff3b808-0ce5-4e0b-a1a3-b69a8c530fb0.png)

[2021-09-30 07:53] SjoenH commented on #113
Yes. I don't think it will be a common thing people will do in prod. 🤔 Let's do something about it if it becomes a problem.

[2021-09-30 08:16] ntorsen commented on #113
@Magos will you let me know when the fix for deleting vsm is put in?

[2021-09-30 08:49] Magos commented on #113
@ntorsen The fix was updating an SQL Stored Procedure, so no deploy for this - Dev environment is updated now.

[2021-09-30 09:08] ntorsen commented on #113
Change message 500 for deleted projects @Magos
![image](https://user-images.githubusercontent.com/89014017/135423175-5f042550-2b89-4483-9e1e-072c6b9b7f79.png)

[2021-09-30 10:00] SjoenH commented on #192
👋 @knudsvik Thanks for the talk.

We are ready to start on this whenever, add it to our Dev-board (Flyt - issue tracker) to confirm. 👼

[2021-09-30 10:30] Magos commented on #113
@ntorsen @Sjoen 404 response for nonexistent project is now deployed to Dev.
![firefox_icJ2tQ3EdV](https://user-images.githubusercontent.com/1004386/135439116-f362d076-9e40-468e-9d58-b3fd25e581fc.png)
H

[2021-09-30 10:38] ntorsen commented on #113
Looking good 👍
I'm promoting DEV into QA

[2021-09-30 10:40] SjoenH commented on #159
I had a call with @knudsvik
On the points mentioned above, we don't want to govern the use of labels if we can help it. Let's see how it works out without limiting rubbish labels. _So **the issues I brought up** is a **non-concern** at the moment._

I believe these to be our immediate requirements:
- Every user can create and read labels
- You need access to the project to assign a label to it.

R

[2021-09-30 11:16] SjoenH commented on #113
@equinor/flyt-product-owners This is now ready for Testing in QA enviroment. https://web-vsm-qa.radix.equinor.com

Let us know if you have any concerns. If not, we will prepare for a release.
@Magos we will need to look into a good timing for release to Production. Expected downtime approx 10 minutes.

[2021-10-01 06:31] knudsvik commented on #113
I have tested the QA version, nice improvements! Do have some comments:
- The search bar should be available in all screens (all projects, your projects, your favourite projects), the separate search page is not needed
- When many participants are active in one project, the icons looks a bit weird. ![image](https://user-images.githubusercontent.com/25986427/135574472-e5d97194-29e8-4fde-af5d-f20936

[2021-10-01 07:20] SjoenH commented on #159
Status:
We are still waiting on design for labels on the front-page. @Linedueo do you have a status update on the progress of this?

Design for adding and removing labels to a project is ready. So moving this task to ready for development.

[2021-10-01 07:47] SjoenH commented on #113
@knudsvik thanks for the feedback.

Ok, then the search would be affected by your choice in the left-navbar. All projects + search would give the same as the search-page atm.

Yes, I see your point. @Linedueo could you keep this in mind when doing #159 ? Also, I think the cards are a bit short with the new design. If for instance, you have a long title, it will now be cut off really early.

@marta

[2021-10-01 08:01] knudsvik commented on #113
Was thinking the same. I think that `Processses` are better than `Projects`, but harder to pronounce. The url's (e.g. https://flyt.equinor.com/projects/475) already says project.. don't want to ruin old links, but maybe this could be fixed in a smart way too. I'll check with @askbulle about this.

[2021-10-01 08:09] knudsvik commented on #192
Agreed solution:
- Toggle switch somewhere in the canvas to shift from "current" to "to-be" process (default current)
- First time toggling creates a new blank process and moves to the to-be
- To-be processes should be hidden from front page
- To-be processes should be linked to the "current process" in back-end (new reference column, similar to the dulicateOf)
- To-be processes have their own ver

[2021-10-01 08:26] knudsvik commented on #113
@askbulle : definitivt `Processes`! Good catch

[2021-10-01 08:37] SjoenH commented on #113
@knudsvik
1. OK, changing to **processes** (ping @martabenthem)
2. Yes, I think so. I'll look into setting up a redirect for `/project` into `/process`.

[2021-10-01 08:39] SjoenH opened #216 "When many participants are active in one project, the icons looks a bit weird."
When many participants are active in one project, the icons looks a bit weird. ![Image](https://user-images.githubusercontent.com/25986427/135574472-e5d97194-29e8-4fde-af5d-f209360b9512.png) Is it possible to this any cleaner? E.g. having the owner as a separate, then stacking admins and collaborators or something? I guess the layout of the cards will have to change with #159, so could be addresse

[2021-10-01 08:43] SjoenH commented on #216
I think the way GitHub does this looks great.
![userDot-inspiration](https://user-images.githubusercontent.com/3164065/135591215-a927eb31-a594-4626-9a16-93ca61a3f355.gif)

Also, I think they are only showing 3-4 `user-dots`.
Right now we are displaying all users, which quickly gets crowded.

Let's consider only showing a few, then a `(+3)`-icon or something...

[2021-10-01 09:59] SjoenH commented on #211
Also, there's a related bug in EDS right now https://github.com/equinor/design-system/issues/605

[2021-10-01 10:53] SjoenH commented on #192
@Magos mentioned a concern about #159
I guess that both the original process and the to-be process would use the same labels? (Since they really are just two alternatives of the same process.)

[2021-10-01 10:55] SjoenH commented on #155
@ntorsen this is ready for testing in dev environment. https://web-vsm-dev.radix.equinor.com

[2021-10-01 11:27] knudsvik commented on #192
The biggest use-case for labels is to search for them in the front page. The to-be processes are not going to be shown in the front page. But I guess we could just say that the current and the to-be process share labels. Adding to one will add to the other and vice versa

[2021-10-01 18:26] martabenthem commented on #113
@SjoenH I have now adressed  However:

- I have changed "Projects" to "Process" everywhere except in the URL routing. I will wait to discuss this with you before redirecting.

- There is still a small bug concerning the pagination in the "All processes" page (again, the pagination bar shows even when the search returns a couple of cards).

[2021-10-04 07:05] ntorsen commented on #155
I don't get Risk up in dev env. Has there been any changes to it? @SjoenH

[2021-10-04 07:15] knudsvik commented on #113
Can you also please change `Last created` to `Date created`

![image](https://user-images.githubusercontent.com/25986427/135808801-b9b686e5-ee6f-460c-928d-608ff9ab8c7f.png)

[2021-10-04 07:22] SjoenH opened #218 "Show as many processes on the front page as the window allows."
As of today we only show ~15 processes on the front-page.

Calculate how many we can show (height and width) and display as many as possible on a page.

[2021-10-04 07:54] martabenthem commented on #155
@ntorsen the changes have been pushed again to dev.

[2021-10-04 08:00] Linedueo commented on #159
Design for labels on frontpage is being worked on- will update you asap

[2021-10-04 08:01] martabenthem commented on #113
@knudsvik that can be done! I guess also `Last modified` to `Date modified`?

[2021-10-04 08:02] ntorsen commented on #155
@martabenthem looks good in dev 👍

[2021-10-04 08:12] SjoenH commented on #148
Any updates on this? @SegarJJ

[2021-10-04 08:17] SjoenH commented on #113
Right now, we only show ~15 processes on the front-page. This looks fine most of the time.
But we could calculate how many we can show (height and width) and display as many as possible on a page. #218

@knudsvik Let us know if this should be fixed before we release or if it is not prioritized. Created an issue for it, so we may do it later.

[2021-10-04 08:22] SjoenH commented on #155
@Magos I think we are ready in QA for this? Was just a small database addition if I remember correctly.
@martabenthem please promote and move :)

[2021-10-04 08:26] Magos commented on #155
Yes, Risk type is already added to databases for Dev, Test and QA.

[2021-10-04 08:39] SjoenH commented on #202
@ntorsen try to reproduce this, please.

[2021-10-04 08:39] ntorsen commented on #155
Tested in QA env, working good.

[2021-10-04 08:45] SjoenH commented on #192
@Linedueo could you update figma with a simple toggle?

[2021-10-04 09:30] Linedueo commented on #192
@SjoenH yup will do

[2021-10-04 09:30] SjoenH commented on #151
Duplicated by #196. Maybe we should close this one? @knudsvik

[2021-10-04 09:32] SjoenH commented on #151
Also, this one is in high-priority but not in our backlog.

[2021-10-04 09:34] knudsvik commented on #151
Agreed. Closing this.

[2021-10-04 09:34] #151 closed

[2021-10-04 10:19] ntorsen commented on #202
In which environment can I try to reproduce this?

[2021-10-04 10:20] Magos commented on #202
QA for instance. It should be supported on all environments now.

[2021-10-04 10:35] SjoenH commented on #155
@equinor/flyt-product-owners I mentioned this one in our Stakeholder meeting, but forgot to add a comment here. :)
This is ready for testing.

[2021-10-04 10:52] ntorsen commented on #202
Not able to reproduce it, DuplicateOf gets registered.

[2021-10-04 10:54] Magos commented on #202
@SjoenH Do we have any controls on caching of script files and such in browsers? Could some users be connecting with older versions of the front-end?

[2021-10-04 10:57] Linedueo commented on #159
<img width="1514" alt="Skjermbilde 2021-10-04 kl  12 56 43" src="https://user-images.githubusercontent.com/74361011/135839709-6b384199-4ccd-4cb0-8471-d930b2ec5692.png">
@SjoenH @knudsvik

[2021-10-04 10:58] Linedueo commented on #216
<img width="1493" alt="Skjermbilde 2021-10-04 kl  12 57 29" src="https://user-images.githubusercontent.com/74361011/135839795-0b0943b5-845a-4420-81f6-e22c8d449de2.png">
@SjoenH same as #159 but I add it here as well cause its relevant

[2021-10-04 11:06] Linedueo commented on #159
Figma link: https://www.figma.com/file/IkHwmIQrsT0iR34f5R5UnZ/VSM?node-id=2816%3A107643

[2021-10-04 11:12] SjoenH commented on #159
Looks good to me. 👍
Does the cards have a fixed size or do they expand when adding labels￼?

Also, how do we filter on labels? 🏷

[2021-10-04 11:14] Linedueo commented on #159
@SjoenH they expand when adding labels

[2021-10-04 11:20] Linedueo commented on #159
@SjoenH Im not sure what would be a max amount of labels. But to not go overboard on adding labels we should probably have a maximum of 10? the cards will expand when adding labels so no fixed size.

[2021-10-04 12:06] knudsvik commented on #155
looks good! You may release 🙌

[2021-10-04 13:02] SjoenH commented on #113
@ntorsen ready for testing in Dev. https://web-vsm-dev.radix.equinor.com

[2021-10-04 13:28] SjoenH commented on #113
@ntorsen
Note, that this front-page change does not include the risk-feature #155 atm. So you might see a weird rendering like this
![image](https://user-images.githubusercontent.com/3164065/135859898-72985620-ee8b-448b-9af9-da769fa88a66.png)
Apart from that, everything else should work as expected.

[2021-10-05 06:17] #155 closed

[2021-10-05 06:28] SjoenH commented on #155
💪 Let's get this one out.
@Magos please report back when the database changes are done in prod. (I don't think we need any downtime for that, since it is just adding another `taskType`?)

[2021-10-05 06:31] Magos commented on #155
@SjoenH Prod is updated now. No downtime for this, indeed.

[2021-10-05 06:57] SjoenH commented on #155
This feature is now released to production. @equinor/flyt-product-owners

[2021-10-05 07:28] SjoenH opened #219 "Redesign `VSMCards component`"
![image](https://user-images.githubusercontent.com/3164065/135979172-482f630a-0e46-43e5-b91f-5aade4686862.png)

- [x] Move the `edited time` text up.
- [x] Update `userDots` component to only show 3 users at a time.
- [x] Make the `userdots` component clickable. ⇾ open `AccessBox`- component in a scrim. Center on the page.
- [x] Create new `Label`-component
- [x] Create new `Labels`-component. ~~D

[2021-10-05 07:32] SjoenH commented on #159
@martabenthem You may start on the redesign of the `VSMCards`. #219

[2021-10-05 07:46] Linedueo commented on #192
<img width="1692" alt="Skjermbilde 2021-10-05 kl  09 46 19" src="https://user-images.githubusercontent.com/74361011/135981680-642b2008-76c7-4c95-a66f-c6788eacbaf8.png">
@SjoenH

[2021-10-05 07:51] Linedueo commented on #192
https://www.figma.com/file/IkHwmIQrsT0iR34f5R5UnZ/VSM?node-id=2827%3A105422

[2021-10-05 07:59] Linedueo commented on #113
@SjoenH Front page design justeringer- venstre justert search bar og tittel, flush med cards. searchbar og tittel flyter litt nå. cards skal være venstrestilt og ikke sentrert. Pagination skal være høyrestilt. Det hadde også vært fint og fått sentrert logo over ikoner i left nav. Vi bruker grønn logo. Det er også fryktelig mye spacing mellom logo og navn.

[2021-10-05 08:00] Linedueo commented on #113
Se figma skisser

[2021-10-05 08:11] SjoenH opened #220 "Frontpage design feedback"
Front page design justeringer- venstre justert search bar og tittel, flush med cards. searchbar og tittel flyter litt nå. cards skal være venstrestilt og ikke sentrert. Pagination skal være høyrestilt. Det hadde også vært fint og fått sentrert logo over ikoner i left nav. Vi bruker grønn logo. Det er også fryktelig mye spacing mellom logo og navn.

_Originally posted by @Linedueo in https://github

[2021-10-05 08:26] SjoenH commented on #113
Thanks for the feedback @Linedueo. I created a new issue based on it  #220
I don't consider these improvements a blocker for the release of these new features.

So instead of stopping our testing now, I'm suggesting we do these changes asap after this. We also have #159 that would need more front-end changes.
@equinor/flyt-product-owners  let me know if you think different about this.

[2021-10-05 08:57] SjoenH commented on #192
@Magos let's have a chat about this.

[2021-10-05 09:00] ntorsen commented on #113
**Testing went good 🥇 . Here are some feedback from testing:**
- My old bookmark does not work, I get an error 404.
![image](https://user-images.githubusercontent.com/89014017/135992222-1d51db31-895f-412b-8dd6-48310f645b9e.png)
![image](https://user-images.githubusercontent.com/89014017/135992283-98ec3947-a590-467e-8016-ebd133930bf1.png)

Does not work when refreshing site, but works when clicking

[2021-10-05 10:01] SjoenH commented on #192
@equinor/flyt-product-owners When duplicating a process, does that duplicate include the to-be process?

[2021-10-05 10:06] SjoenH commented on #113
Thanks for testing. I don't think that is an issue. Moving this to QA now.

[2021-10-05 10:27] martabenthem commented on #219
https://www.figma.com/file/IkHwmIQrsT0iR34f5R5UnZ/VSM?node-id=2816%3A107643

[2021-10-05 10:28] SjoenH commented on #192
@equinor/flyt-product-owners  Should PQIRs be shared between the `To-be` and original process, or should they be separate?

[2021-10-05 10:39] SjoenH commented on #220
👋 @Linedueo
About the top bar alignment issue you mentioned.

We are using the [EDS component for top bar](https://eds.equinor.com/components/navigation-top-bar/) which have a preset padding.

We do have a bit more padding on the left though because of the ghost-button wrapping the front-page link. So we could improve it a bit, but it would still not align with the left navigation-bar.

What would

[2021-10-05 10:40] SjoenH commented on #113
@knudsvik & @askbulle 🚀
Ready for UAT in QA-environment: https://web-vsm-qa.radix.equinor.com/

[2021-10-05 11:13] SjoenH commented on #115
FYI: This should also remove the need for the black-bar around the canvas.  _(The black border is showing the canvas size after a resize of the window.)_

[2021-10-05 11:41] Linedueo commented on #220
@SjoenH I would prefer you follow my design, yes.

[2021-10-05 12:52] knudsvik commented on #113
Looks good! You may release 🥳

[2021-10-05 19:20] knudsvik commented on #192
Nope, not at the first release at least. I've added it to #144

No, the `To-be` process should be blank without any cards (except the starting SIPOC cards) when created.

[2021-10-06 05:21] SjoenH commented on #112
@Magos, We need a back-end change for  "Alert when updating category with the same name as another". Let's block it in the API with a fitting response code.

[2021-10-06 06:00] SjoenH opened #221 "Recenter process in the canvas when navigating into it"
This would fix two bugs:

- [x] #223
- [x] #222

The current workaround for these two bugs are to manually refresh the page.

[2021-10-06 06:24] SjoenH opened #222 "When scrolling in the category-page, the canvas scrolls as well... making us lose our place in the canvas."

[2021-10-06 06:27] SjoenH opened #223 "When navigating between processes, the scroll-position is "remembered". Which can put that other process outside the visible canvas."
https://user-images.githubusercontent.com/3164065/136151551-329be6fc-19b4-4b83-99a7-536ebac5416a.mov

**What happens:**  When navigating between processes, the scroll-position is "remembered". Which can put that other process outside the visible canvas.

**Expected:** When navigating into a process, the process should be visible. Not linked to previous zoom or scroll in other processes.

**Workaro

[2021-10-06 07:39] knudsvik commented on #113
This bar chart shows at which hour of day the changes has happened, that should be a good indication of when it is suitable to do this

![image](https://user-images.githubusercontent.com/25986427/136160163-261a5f5c-409a-4950-a6eb-cd4e74b76f0c.png)

[2021-10-06 08:01] SjoenH opened #224 "Service-message banner. Notify users about service outages etc..."

[2021-10-06 08:37] SjoenH commented on #113
### I suggest releasing at 08:00 tomorrow 7. Oct.

**I suggest at 8 tomorrow**. _Which is still quite early with not that much activity._
If this is ok with you: - It would be nice to inform the users about some downtime. What is the best channel for this? Could you @knudsvik relay the message? :)

### For future changes:
We probably should think about adding some service-message banner so that we

[2021-10-06 08:42] knudsvik commented on #113
Good catch wih the UTC! These are the sum of pkChangeLog items, not an average so it could probably improve. But still at good indication of when it is used. We don't have a proper channel to communicate it in, hence I like the #224 . Just release it asap tomorrow morning!

[2021-10-06 08:43] SjoenH commented on #113
Super. 💪 Will do 🚀

[2021-10-06 13:37] SjoenH commented on #113
QA build ready to promote after API tomorrow at 08:00.
[Press here to promote QA to PROD](https://console.radix.equinor.com/applications/vsm/jobs/new?pipeline=promote&deploymentName=qa-ygkgc-l2vsobtj&fromEnvironment=qa) 👈 🚀

[2021-10-07 06:15] SjoenH commented on #113
API release in progress.
![image](https://user-images.githubusercontent.com/3164065/136329614-5785261f-1ee0-4901-b8fe-7944e7bcf041.png)

[2021-10-07 06:35] SjoenH commented on #113
**Note:** We are having some issues with fave-ing processes. @Magos is looking into it now.

[2021-10-07 06:51] knudsvik commented on #113
Not sure if it's a bug or intentional but I wanted to search for some processes that have "P&I" in the title. I did not get any results, not with brackets either. I guess it's the "&" somehow making problems? This is the same search result from the power BI report:

![image](https://user-images.githubusercontent.com/25986427/136333749-f2f07323-21f6-42fc-a2b8-defa632a3dcc.png)

[2021-10-07 06:55] SjoenH opened #225 "Search including & doesn't work"
Not sure if it's a bug or intentional but I wanted to search for some processes that have `P&I` in the title. I did not get any results, not with `"P&I"` either. I guess it's the `&` somehow making problems? This is the same search result from the power BI report:

![image](https://user-images.githubusercontent.com/25986427/136333749-f2f07323-21f6-42fc-a2b8-defa632a3dcc.png)

_Originally posted by

[2021-10-07 07:13] SjoenH opened #226 "Search: Combining shortName + somethingelse returns no results"
Searching for hsjo returns all my processes.
![image](https://user-images.githubusercontent.com/3164065/136336434-1c055be0-1d5f-40f0-a4d5-46ce6a52b065.png)

But adding another query parameter does not give us the expected result.
![image](https://user-images.githubusercontent.com/3164065/136336523-cd097265-7f51-4961-829a-e09df1f1c374.png)

_Originally posted by @SjoenH in https://github.com/equino

[2021-10-07 08:10] Magos opened #227 "Processes listing is slow on the production dataset"
With the larger set of processes existing in production, we're being slowed down by searching a large set of fields and connections using Entity Framework. A page of results is typically returned in 3 seconds, but for user responsiveness the target should be <500ms.

Consider a stored procedure for sorting/searching/paging processes, which returns a table of int IDs that Entity Framework can load.

[2021-10-07 08:12] knudsvik commented on #219
As of today, the titles on the cards are truncated without any visual indications of it being truncated. There should be a visual indication, e.g. `...` and possibility to see the full title when hovering

[2021-10-07 08:22] knudsvik commented on #226
The Figma design had functionality for this.. I think I asked for that in the QA?

[2021-10-07 08:53] SjoenH commented on #226
I created Q4 in https://flyt.equinor.com/projects/172 which relates to this and preparing a story for development.
@equinor/flyt-developers let's have a look over our process tomorrow and see if we can improve our process here. (Dogfooding FTW! 😄)

[2021-10-07 08:58] SjoenH commented on #226
@knudsvik do we need to be able to search for multiple users as well?

For example, searching for a process with title `Some process-title` that includes users `hsjo` and `thokn`.

[2021-10-07 12:50] SjoenH commented on #209
Released

[2021-10-07 12:50] #209 closed

[2021-10-08 05:13] SjoenH commented on #112
@Magos
It doesn't seem like the fix above is applied. Tested in Dev and Test-environments.
Here is an example in Dev: [BUG: Multiple categories with the same name](https://web-vsm-dev.radix.equinor.com/process/432/categories)

[2021-10-08 06:34] Linedueo commented on #159
<img width="327" alt="Skjermbilde 2021-10-08 kl  08 33 26" src="https://user-images.githubusercontent.com/74361011/136509387-b3cbcd66-aac5-4513-91e2-132b6fc6c677.png">
@SjoenH updated design for adding labels- with suggestion when adding a new label

[2021-10-08 07:13] SjoenH commented on #201
We'll get it out together with #112

[2021-10-08 07:20] SjoenH commented on #219
@knudsvik 👋
@Linedueo  suggests that we show the whole title for a card. No truncation. Wrap down to new-line.

[2021-10-08 07:45] Magos commented on #202
We've found a repro method:

1. Duplicate a process.
2. Rename the duplicate to something else.

Evidently, the frontend does not report the duplicateOf field back to the backend when updating, and the update method allows this field to be changed.

[2021-10-10 20:18] Linedueo commented on #159
@knudsvik I will take a look at it.  I agree that it would be nice to see the most used labels

[2021-10-10 20:50] Linedueo commented on #159
@knudsvik what do you think? The selected labels would show after closing so you can still refer to the ones you chose and also remove them.
![   ](https://user-images.githubusercontent.com/74361011/136712615-fe0a9621-8db6-4d2b-8848-0bd53f5e5a5d.png)

[2021-10-10 20:53] knudsvik commented on #159
Love it! 👍🏻

[2021-10-11 07:14] SjoenH commented on #159
@Magos suggests that we use the sortLinkCount param when fetching the labels in the add-view.
We are also considering adding that linkCount as a field in the label-object-response. I think it is a good idea, but only if it is quick to do...

[2021-10-11 07:40] SjoenH opened #229 "Improve user-search and filtering"
We got new design for how to search for processes with users.
![image](https://user-images.githubusercontent.com/3164065/138650337-41c03860-6b1c-4034-8b19-c522c739cec7.png)

**Requirements**:
- [ ] filter processes on one or several users
- [ ] search for users to filter on
- [ ] the filter should use AND-logic. For example: selecting two users will display the processes where both those two users

[2021-10-11 07:41] SjoenH commented on #229
@Linedueo Hi! Could you add the new design for filtering on users here?

[2021-10-11 10:05] knudsvik opened #230 "Decimal numbers in duration throws error"
**User input**
Duration hours gives 400 error when not supplying it with a whole number

**Sharepoint list ID**
90

[2021-10-11 12:04] SjoenH opened #231 "Prompt users to reload the app when a new version is out"
Since this is a single page application, a user won't necessarily use the newest version of the app after a release. A refresh of the page might be needed.

If that's the case, we could show a message to the users prompting them to do a refresh.

We could potentially automatically refresh their browser for them, but that might affect their current app-state. :thinking:

[2021-10-12 07:02] #202 closed

[2021-10-12 07:16] Linedueo commented on #159
![labels](https://user-images.githubusercontent.com/74361011/136909435-363a26c0-085d-494a-82ae-149b358d1ed6.png)

Figma 👉🏻      https://www.figma.com/file/IkHwmIQrsT0iR34f5R5UnZ/VSM?node-id=2888%3A109052

[2021-10-13 06:31] SjoenH opened #233 "chore: Architecture contract"
Get the architecture contract sorted out.
**Status**: _Process started by adding [issue](https://github.com/equinor/architecturecontract/issues/678) to the architecture contract repo_. **Waiting on response from a leading advisor.**

Read more about the process here https://github.com/equinor/architecturecontract#process

[2021-10-13 18:57] SjoenH commented on #220
👋 I found this: https://medium.com/@andybarefoot/a-masonry-style-layout-using-css-grid-8c663d355ebb
But don't spend too much time on it. Also, we could look into something called masonry. Also https://www.npmjs.com/package/react-masonry-css

[2021-10-14 06:08] SjoenH commented on #112
@Magos could you look at the test environment? Getting 500 on `project` endpoint
![image](https://user-images.githubusercontent.com/3164065/137261327-ed2c2707-609e-4e2e-b0b3-08b6eb4d22fe.png)

[2021-10-14 06:45] SjoenH commented on #233
To initiate this process I need `Short description of project/initiative (including business area and plans for technology & architecture)`

[2021-10-14 07:30] Magos commented on #112
Ran database migrations on test for

- Labels
- Int DuplicateOf
This allows the backend code on `feature/vsm-112` to run without these 500s.

[2021-10-14 08:21] Magos commented on #192
Quick check on API design here: Does the front-end need more details about the current/to-be versions than this?
![FgPvuSUeBJ](https://user-images.githubusercontent.com/1004386/137279018-40c0677d-755b-489f-8385-2af9e9e6c63b.png)

This is before adding the mirroring of name, labels and accesses from current to to-be versions. Any comments @SjoenH @martabenthem ?

[2021-10-14 08:28] SjoenH commented on #192
A bit unsure about the name `currentProcessId`, but i don't have a better one. So let's go with this.

[2021-10-14 08:35] SjoenH commented on #192
So, thinking this through in the front-end.
If no `toBeProcessId`, I can create a new project with `currentProcessId` in the JSON request. The `toBeProcessId` in the `current`-process will then be set by the API.

[code]
For the toggle-state-logic...
I can indicate on the `toBe`-process that we are currently showing that one by checking that the `currentProcessId` field is not empty.

If none of t

[2021-10-14 09:54] SjoenH opened #236 "Remove deprecated SignalR functionality"
**Back-end**
- [x] Remove dependency on packages Microsoft.Azure.SignalR and Microsoft.Azure.SignalR.Management
- [x] Remove configuration and startup related to SignalR hubs.
- [x] Fix any remaining build issues, tests etc.
- [x] Create a branch or tag pointing our way to the version before this removal in case we want this kind of functionality back.

**Front-end**
- [ ] #249

[2021-10-14 10:45] dansvend opened #237 "Plus sign in Add-button not centered"
The plus sign in the button to add "Questions, Ideas, Problems and Risks" is not centered on chrome/edge(chromium), but is centered on firefox. If chrome/edge(chromium) is the preferred browser by Equinor this fixes it. It will however look worse on Firefox after this change.

Picture of Google Chrome before fix:
![image](https://user-images.githubusercontent.com/47424077/137302171-17e5fe02-8157-4

[2021-10-14 12:24] #237 closed, assigned to nobody

[2021-10-14 19:13] SegarJJ opened #239 "Add the MAD healthcheck and basic API tests to the VSM API"
Create the healthcheck function
Add a selection of API calls and response tests to the VSM Healthcheck page to be included here:

https://mad-web-dev.azurewebsites.net/ and higher environments

[2021-10-15 12:23] knudsvik opened #241 "User Disconnected"
**Describe the bug**
During a collaboration session on Teams (15.10.21 14:00), the user sharing Flyt screen got "Socket disconnected ..." error message several times. Another user updated cards, but not reflected immediately for the user sharing screen.

**Screenshots**
![image](https://user-images.githubusercontent.com/25986427/137485876-5f238499-7c7a-4621-982c-39a7cb83abbb.png)

[2021-10-18 05:30] knudsvik opened #242 "New feedback - ID 91"
**User input**
Some work processes are rather large and it is not suitable to do all stages in one VSM. One way of doing this is to state that it is a selected sub-process that is evaluated. Another option could be to have a main process where you link in new sub-processes along the way (introducing a new button for navigation between VSMs).

**Sharepoint list ID**
91

[2021-10-18 05:32] knudsvik opened #243 "Suggest label (metadata) based on process content"
**User story**
As a user I would like Flyt to suggest label (metadata) based on content my VSM so that my VSM gets as same metadata as possible to similar VSM's and increases consistency.

**User input**
Metadata. Have it been looked into metadata for the VSMs? Finding relevant VSMs could be easier if metadata is selected. Possible to develop a function that suggest metadata based on content in VS

[2021-10-18 07:13] SjoenH opened #244 "Fix deploy pipeline (API)"
There's been some changes in the [MAD-team](https://equinor-sds-si.atlassian.net/l/c/KqDsMsGd)'s deployment pipelines that affects our release-pipelines for Flyt.

Ref https://equinor-sds-si.atlassian.net/browse/GOE-1221

[2021-10-18 07:34] #242 closed, assigned to nobody

[2021-10-18 10:00] knudsvik opened #245 "New feedback - ID 93"
**User input**
Tag input with short name. Can go back and clarify what was meant by the comment.

**Sharepoint list ID**
93

[2021-10-18 12:39] #239 closed, assigned to Magos

[2021-10-18 12:43] #244 closed

[2021-10-19 09:11] Magos opened #246 "Remote code execution vulnerability"
See Snyk report
https://snyk.io/vuln/SNYK-DOTNET-SYSTEMTEXTENCODINGSWEB-1253267

[2021-10-19 10:28] knudsvik opened #247 "Transfer ownership"
**User story**
As an owner I want to transfer ownership to others so that I am not related to processes I am creating for others

**Describe the solution you'd like**
In the sharing section, the dropdown menu on a name should include `Owner` when the current owner opens it. If ownership is put on another person, a popup message should/could appear to confirm transfer and maybe ask what rights the

[2021-10-19 10:45] knudsvik opened #248 "Poor readability of text"
**User input 1 (by Karen-Maria Andersson - Sharepoint ID21)**
Still poor readability of text. Need to zoom in too much to read.

**User input 2 (by Liv Håøy - Sharepoint ID39)**
Difficult to take picure of VSM - want to share VSM in presentation

**User input 3 (by Lise Storhaug Ekeland, Geir Lea Berge, Henriette Eidsnes)**
Vanskelig å print ut - screen shots - Tekst på SIPOC viser dårlig og skrif

[2021-10-19 11:01] Magos opened #249 "Remove SignalR methods etc. that are not in use."

[2021-10-19 11:02] #236 closed, assigned to Magos

[2021-10-19 11:09] knudsvik opened #250 "Mobile - top bar not scaling properly"
**User input**
The top bar is not scaling properly on mobile phone (at least on my iPhone) in vertical mode. Sections on each side is missing (logo on left side and login name icon on right side.

**Sharepoint ID (if feedback)**
40

**Legacy Jira ID**
VSM-140

[2021-10-19 13:55] Linedueo commented on #229
<img width="724" alt="Skjermbilde 2021-10-19 kl  15 53 58" src="https://user-images.githubusercontent.com/74361011/137924374-6aa308b0-540b-4228-9133-5b23392547e3.png">
We can re-use the component for filter on label for the filter on user. @SjoenH

[2021-10-20 10:00] ntorsen commented on #112
**Results from testing 20.10.21**

*Things you should be able to do:*
- Navigate into the category-page and back into the process: Works fine to navigate back and forth, but from a user perspective I found it a little difficult finding the icon to the category-page. Maybe it can be moved to a place where we have other options/icons instead of it being all by itself on the bottom right side?

- Hel

[2021-10-20 11:39] Magos commented on #112
This is potentially a good point to limit the size of the name and description texts in the API & database, as they're both currently VARCHAR(MAX) - probably should be like NVARCHAR(200) & NVARCHAR(2000), something like that.

[2021-10-21 06:30] SjoenH commented on #112
@Magos 😆 Let's not discriminate against the people of Z̶̬͐a̷̙̋l̴͈̾g̷̪̈́o̵̪̅.
But I see we don't support emoji by itself. 🤔  (Giving us error that name must be unique)

@ntorsen thanks for testing!
About the settings screen, we could add a back button. But this is a web-browser, so the included back button should work as well. 🤔

It is indicated with no border on the card if you cannot drop onto it.

[2021-10-21 07:29] knudsvik opened #252 "Favourite a process from the canvas"
**User story**
As a user I want to mark a process as a favourite from the canvas so that I don't have to exit the process and find it again in the landing page to mark it

**Describe the solution you'd like**
A heart in the navigation bar - with a descriptive hover text

**User input**
Functionality; to set as favorite within Flyt. E.g. getting a link to a flyt from someone else and figure out tha

[2021-10-21 07:52] knudsvik opened #253 "Feat: Hover text for long text in cards"
**User input 1 (by Lise SE, GLB, HE):**
Liten plass til tekst – kun deler viser av både header og undertekst 

**User story**
As a user I want to know the full text of a card when hovering the mouse over so that I don't have to open the sidebar every time a card has more

**Describe the solution you'd like**
Mouse hover-over text when length of text is extending the limitations

[2021-10-21 07:56] SjoenH opened #254 "Back-end: Fix position logic for cards in a choice"
Cards might get the same position number. Thus those cards cannot be re-arranged.
![image](https://user-images.githubusercontent.com/3164065/138236774-0798da3c-4e56-43fc-a6b2-5de540525033.png)

**Testing:** see comment https://github.com/equinor/MAD-VSM-WEB/issues/254#issuecomment-970111206
**Please test overall position and re-ordering of cards in the canvas**

[2021-10-21 08:08] SjoenH commented on #248
Does this concern all text, or just the text in the canvas?

[2021-10-21 10:56] SjoenH commented on #252
Unsure if we need design on this. The described solution sounds good to me. @Linedueo

[2021-10-22 08:48] SjoenH opened #256 "Service-message banner is "indented" on the changelog-page"
![image](https://user-images.githubusercontent.com/3164065/138423859-6009d154-b397-4c6f-8cb1-65e4f8323dd1.png)

[2021-10-22 11:13] knudsvik opened #257 "Pick another colour for a category"
**User story**
As a user I want to choose the colour of a PQIR category, so it stays the same over time for recognizing it easy and possibly for semi-categorizing them in colour batches

**Describe the solution you'd like**
A third option in the drop-down: Change colour. This may be a first step for #203 as well.
![image](https://user-images.githubusercontent.com/25986427/138444555-5ff175a8-8f43-4

[2021-10-22 11:15] #221 closed, assigned to nobody

[2021-10-22 11:15] #223 closed, assigned to SjoenH

[2021-10-22 11:36] #246 closed, assigned to Magos

[2021-10-22 12:52] knudsvik opened #258 "Changes in categorization page --> last modified"
**Describe the bug**
Changes in categorization page is not reflected in the Last modified data on front page

**To Reproduce**
Steps to reproduce the behavior:
1. Check last modified for a process on the front page
2. Open a process
3. Go to categorisation page
4. Make a change
5. Go back to the front page and check last modified date

**Expected behavior**
Last modified to be updated upon changes

[2021-10-25 04:52] SjoenH opened #259 "Service-message banner doesnt hide if we set status to false in the mad-back-end."
## Expected behaviour
The service-message-banner should be hidden when there is no active message.

## Align logic with how MAD-Common v1 is set up to work
Version 1 of the [MAD-Common API](https://mad-api-dev.azurewebsites.net/swagger/index.html) returns an object even if there is no service-message currently active, which makes the service-banner show without any content.
![image](https://user-i

[2021-10-25 06:29] #259 closed, assigned to SjoenH

[2021-10-25 08:58] SjoenH opened #261 "Make Flyt mobile/touch friendly"
Make it mobile friendly.
- [ ] Front-page #262
- [ ] Canvas-page #263
- [ ] Categorization-page #264

_Originally posted by @SjoenH in https://github.com/equinor/MAD-VSM-WEB/issues/250#issuecomment-950686320_

[2021-10-25 08:58] SjoenH opened #262 "Make Front-page mobile friendly"

[2021-10-25 08:58] SjoenH opened #263 "Make Canvas mobile friendly"
**User story**
As a user I want to interact with the canvas from touch screens (mobile/laptop/surface) so that I am not limited to my PC

**Requirements**

- [ ] Zoom in and out by pinching gesture
- [ ] Move cards by hold-drag gesture
- [ ] Add cards by dragging from toolbar

[2021-10-25 08:58] SjoenH opened #264 "Make Categorization mobile friendly"

[2021-10-27 08:35] knudsvik opened #268 "Share access with multiple users effectively"
**User input**
We use Flyt in our team, and it can be quite slow to give the whole team access to all our processes.

Consider adding a bulk-import. For example comma separate users in the input-box.

**Sharepoint list ID**
94

[2021-10-27 16:00] #256 closed, assigned to nobody

[2021-10-28 06:18] SjoenH opened #271 "Upgrade to NextJS 12"
New NextJS version available

 - Rust Compiler: ~3x faster Fast Refresh and ~5x faster builds
 - Middleware (beta): Enabling full flexibility in Next.js with code over configuration
 - React 18 Support: Native Next.js APIs are now supported, as well as Suspense
 - AVIF Support: Opt-in for 20% smaller images
 - Bot-aware ISR Fallback: Optimized SEO for web crawlers
 - Native ES Modules Support: Ali

[2021-10-28 10:56] SjoenH opened #273 "Initial setup of Automated E2E-testing with Cypress"
Initial setup of Cypress testing for our front-end.

[2021-10-28 11:12] knudsvik opened #274 "Verification of solved problems"
**User input**
Would like to be able to mark problems as solved so that we can verify after a while whether or not the problem really was solved (PDCA+verify solution(s))

**Sharepoint list ID**
95

[2021-10-29 05:46] SjoenH opened #275 "Verify what code is currently running"
### User-story
As a tester,
I need to verify what features are currently running in the browser,
So that I can do a good test and test the right thing.

### Background
This is important to get in because of browser caching. How can someone verify that they are testing the correct build?
We need to be confident that what we are pushing to some environment is what is tested before releasing.

### Su

[2021-11-01 07:41] ntorsen commented on #219
This has been tested in Test env.

Findings: When renaming the process with as many as 300 characters, the name "sticks" to the tile.
However, if you put in a very long word, the name of the process will go out of the tile. See example below:
![image](https://user-images.githubusercontent.com/89014017/139636964-5732a9c5-f1af-4632-b75b-d5bfa5507889.png)

Works good otherwise- only shows three user

[2021-11-01 08:11] SjoenH commented on #219
Ping 🔔 @martabenthem
I tested the copy-link button, and it is copying the current URL, which worked when we have the share-box in the same page as the process, but need to be adjusted when used other places.
**Correct behaviour,** copy the link to the process.

So then we have two things to fix:
- [ ] Text-wrap
- [ ] Copy-share-link

[2021-11-01 08:34] ntorsen commented on #219
I'm guessing that the text-wrap will also fix that users are able to put process as favorite ❤️ ? @SjoenH
Because that is not possible now.

[2021-11-01 08:51] Magos commented on #273
Potentially relevant thread in Equinor Slack:
https://equinor.slack.com/archives/C3HLP8ZTQ/p1635755301025700

[2021-11-01 09:10] Magos commented on #192
@ntorsen The new version with FromSqlRaw and parameters (should deal with injection attacks) is deployed to Dev & Test now.

[2021-11-01 09:15] Linedueo commented on #165
![Skjermbilde 2021-11-01 kl  10 12 05](https://user-images.githubusercontent.com/74361011/139648979-1394e850-bb52-4f1e-ab15-b681c2e1ecf1.png)

@knudsvik @SjoenH
Checkbox to mark as solved is placed under trash button. There will be a tooltip to explain. A snackbar will appear after marking as solved to be able to undo. Marked problem or risk will now be hidden from canvas. When clicking on an idea

[2021-11-01 09:15] Linedueo commented on #165
Figma 👉🏻 https://www.figma.com/file/IkHwmIQrsT0iR34f5R5UnZ/VSM?node-id=2970%3A114316

[2021-11-01 09:35] SjoenH commented on #192
Still need to deploy front-end to test

[2021-11-01 09:44] knudsvik commented on #165
@Linedueo Check if an updated design to show the solved stuff also should include these improvements: #158

[2021-11-01 09:44] SjoenH commented on #165
What happens in the categorization page?

[2021-11-01 10:08] knudsvik opened #276 "Snack messages from other process hangs"
**Describe the bug**
The snack message `<User> Updated a card` is displayed for a process even after opening another process

**To Reproduce**
Steps to reproduce the behavior:
1. Two users open same process (Process 1)
2. User 1 makes changes to the process so that User 2 other gets the snack message `<User 1> Updated a card`
3. User 1 continue to make changes, while User 2 moves to another proces

[2021-11-01 11:17] ntorsen commented on #225
@Magos I don't think this is ready for testing. When searching for a name with & in it, I get almost all of the processes as search result.
![image](https://user-images.githubusercontent.com/89014017/139663527-8f2886cf-ae27-445a-87e6-5f4901fe80a6.png)

[2021-11-01 11:31] Magos commented on #225
This part is a front-end issue, where the front end sends the parameters
`?page=1&items=15&q=t&qa=&orderBy=modified`
but should send the parameters
`?page=1&items=15&q=t%26qa=&orderBy=modified`

[2021-11-01 11:35] SjoenH commented on #225
- [ ] Url-encode searchQuery

[2021-11-01 11:36] SjoenH opened #277 "Url-encode searchQuery"
This part is a front-end issue, where the front end sends the parameters
`?page=1&items=15&q=t&qa=&orderBy=modified`
but should send the parameters
`?page=1&items=15&q=t%26qa=&orderBy=modified`
and the back-end treats "qa" as a query parameter it doesn't recognize.
@SjoenH Could you add an urlencode step here?

_Originally posted by @Magos in https://github.com/equinor/MAD-VSM-WEB/issues/225#issue

[2021-11-01 12:48] ntorsen commented on #225
Works good in test now (for both &-sign and other signs) 👍
![image](https://user-images.githubusercontent.com/89014017/139673646-0a56bc9d-84e9-4cd0-8844-e079786a98d9.png)

Search gives results when there is space between words and also when no space.

[2021-11-01 12:49] SjoenH commented on #225
Ok, super 💪

[2021-11-01 13:31] SjoenH commented on #192
To-do:
Back-end:
- [ ] Guard post endpoint against creating empty projects
Front-end:
- [ ] Hide toggle if `to-be` is not created.

[2021-11-01 13:54] #277 closed

[2021-11-01 14:06] Magos commented on #192
Empty to-be processes should not be creatable by users who can't edit the `current` version in the current Dev/Test environments.

[2021-11-01 15:06] martabenthem commented on #219
@ntorsen you mean in case there is a very long word? If that's what you mean then yeah, the heart will be on the card so it will be possible to fave the process.

[2021-11-02 06:02] SjoenH commented on #192
@ntorsen @Linedueo ready for testing 💪
https://web-vsm-test.radix.equinor.com

[2021-11-02 07:14] ntorsen commented on #219
@martabenthem when adding a long word or a long word in a sentence, it was not possible to put the process as favorite. You can see this from the picture I attached above. However, I see that there has been made some changes now :-)
![image](https://user-images.githubusercontent.com/89014017/139801759-eddf0bd2-6968-4608-a1e1-dd4ed2f8bff8.png)

[2021-11-02 07:23] ntorsen commented on #192
@SjoenH I get an error when clicking on the 'to-be process'
![image](https://user-images.githubusercontent.com/89014017/139803014-e39c14af-88b1-48d0-b206-4845f017b208.png)

[2021-11-02 07:25] SjoenH commented on #192
@ntorsen This was caused when clicking the toggle before @Magos did his fix.
Please test with a new process.

[2021-11-02 09:03] ntorsen commented on #192
To-be process has been tested in Test env, and it looks good 👍

@Magos when I deleted a process I get an error code 400. So it doesn't look like it is deleted correctly.
![image](https://user-images.githubusercontent.com/89014017/139816651-c0a3bb8f-d2aa-4870-b589-1a1dd01439c3.png)

When searching for the process after it has been 'deleted', I get this
![image](https://user-images.githubusercontent

[2021-11-02 09:04] SjoenH commented on #273
Already got authentication working 💪

Test will be interrupted and need user-input to login.
Which I think is fine. Just need to adopt our development-flow.

[2021-11-02 09:07] SjoenH commented on #219
The heart should probably not be centred with the text, but be aligned top like the other cards.

[2021-11-02 09:10] SjoenH commented on #276
I'm curious if this triggers a re-fetch in the other process... 🤔

[2021-11-02 11:23] Magos commented on #192
I'm now putting out [Release 188](https://dev.azure.com/statoil-mad/VSM/_apps/hub/ms.vss-releaseManagement-web.cd-release-progress?_a=release-pipeline-progress&releaseId=188), with automatic deletion of to-be processes if the current process is deleted. This should prevent that error.
Note that this is not symmetrical - deleting a to-be process should not delete its current version automatically.

[2021-11-02 11:26] SjoenH commented on #192
@Magos
The GUI doesn't differentiate between renaming or managing access on a `To-be` process or a `current` process.
So, wouldn't it make sense that deleting works the same as well? 🤔

[2021-11-02 11:42] SjoenH commented on #192
Considering there's always just one process from the user-perspective. We are abstracting away the underlying two processes...
I don't see why we should make it possible to delete a To-be process, and leave the current.
The UI doesn't differentiate today, so we would need to make that clear somehow if we want this feature.

I'm open to hear your points @Magos.
I'm leaning towards that the API dele

[2021-11-02 11:58] Magos commented on #192
I was a little unsure myself, so I ended up leaving it at the asymmetric version, but symmetrically deleting both if the user tries to delete either makes sense too. I'm deploying [that version](https://dev.azure.com/statoil-mad/VSM/_releaseProgress?_a=release-pipeline-progress&releaseId=189) out now.

[2021-11-02 11:59] SjoenH commented on #192
Super. Thank you

[2021-11-02 13:11] SjoenH commented on #192
@ntorsen I believe this is ready for testing again.

[2021-11-02 13:16] SjoenH commented on #192
Need to look over the duplicate feature... 🙃

To-do Front-end
- [ ] When duplicating a process, it should duplicate the `current`-process and not create a `To-be`-process.

[2021-11-02 19:12] knudsvik opened #279 "Right click to open a process in a new tab or window"
**User input**
While browsing through list of Flyts it would be great to "control-click" or right click to open flyts in a new tab to not loose position when navigating through multiple sheets.

**Sharepoint list ID**
96

[2021-11-03 06:49] knudsvik commented on #274
Related to #165 , but this user input is more about the verification of solved problems. Needs to be matured.

[2021-11-03 12:39] SjoenH commented on #279
Might be a quick fix. Need to investigate a bit https://nextjs.org/docs/api-reference/next/link#if-the-child-is-a-custom-component-that-wraps-an-a-tag

[2021-11-03 12:42] SjoenH commented on #192
@ntorsen ready for testing.
I fixed the point above.

[2021-11-03 13:10] ntorsen commented on #192
Tried duplicating while on current-process and on to-be process, both gives a duplicate of the current.
Also I've done an overall testing of the other points mentioned at the top- everything works good 😎

[2021-11-03 13:57] SjoenH commented on #192
### Ready for testing in **QA** @knudsvik & @askbulle.

@Linedueo I've not heard anything from you about this task, but I have [tagged you earlier](https://github.com/equinor/MAD-VSM-WEB/issues/192#issuecomment-957125059), so you should have been notified as agreed upon... So I'm assuming everything is OK? 😅

I'm moving front-end into QA. @Magos I believe the API is already in QA? If not, please r

[2021-11-03 16:05] knudsvik commented on #192
When I click the To-Be button (from process 129), a new Untitled process is created, not the To-Be process, so something is off...

[2021-11-04 04:07] Magos commented on #192
[Deployet To-be-process backend til QA nå](https://dev.azure.com/statoil-mad/VSM/_releaseProgress?_a=release-environment-logs&releaseId=189&environmentId=755), og min egentest ser bra ut på web-vsm-qa.radix.equinor.com.

[2021-11-04 05:39] SjoenH commented on #192
@knudsvik Sorry about that. Would you try again now?

[2021-11-04 07:22] SjoenH commented on #219
@ntorsen Ready for testing: https://web-vsm-test.radix.equinor.com

[2021-11-04 07:23] SjoenH commented on #219
@ntorsen @Linedueo  Ready for testing: https://web-vsm-test.radix.equinor.com

[2021-11-04 07:53] knudsvik commented on #192
## Results from initial QA:
- The to-be switch seems a bit counter-intuitive when it's a on-off switch. Instead, would it make more sense to have a switch between two options (`Current` and `To-be`)?
- Deleting a process when in To-be mode should only delete the To-be process, or we would risk a lot of angry mappers. How can we fix that problem? Detailing the text in the popup message better as we

[2021-11-04 08:00] SjoenH commented on #192
@knudsvik Thanks for testing.
@Linedueo we would need some input on best-practice behaviour here.

[2021-11-04 08:52] Linedueo commented on #192
@knudsvik The to be switch could be solved by using a toggle button instead of a switch. It would look like this:
<img width="613" alt="Skjermbilde 2021-11-04 kl  09 50 46" src="https://user-images.githubusercontent.com/74361011/140284725-b5f9eeb4-c3b4-462e-8b5b-df2be25c0016.png">
<img width="1094" alt="Skjermbilde 2021-11-04 kl  09 51 43" src="https://user-images.githubusercontent.com/74361011/14

[2021-11-04 08:54] Linedueo commented on #219
@SjoenH ser bra ut!

[2021-11-04 09:38] knudsvik commented on #192
Looked way better :) Yes please

[2021-11-04 09:39] askbulle commented on #192
@Linedueo I love the toggle button

[2021-11-04 09:50] askbulle commented on #192
@SjoenH Re: Why someone would like to delete only To-Be

This is mostly speculation. Our main problem is that too many processes are unmapped all together. Flyt makes it extremely easy to start mapping - just open the tool and new process is saved even if just looking/browsing what the tool looks like. Same for To-be.

This is good for mapping but causes bad digital hygiene wrt metrics. One very i

[2021-11-04 11:31] knudsvik commented on #192
A user may want to delete the to-be process and start from scratch. But the most important thing in my mind is to secure that a user do not delete both current and to-be by a mistake thinking that he/she will only delete the to-be...

[2021-11-04 11:35] SjoenH commented on #192
We could change the button to say `Delete To-be process` when displaying that one.
But we would lose that data+version-history when they delete it.
If that's not a concern, we may do this change quite quickly.

[2021-11-04 11:46] SjoenH commented on #192
@askbulle  (+ @knudsvik)
We are able to differentiate a `To-be`-process from a `current`-process. But it has to be accounted for with regard to metrics.

As it is now: (as mentioned in https://github.com/equinor/MAD-VSM-WEB/issues/192#issuecomment-943126907)
- If it is a `To-be` process, it should include a number in the field `currentProcessId`.
- If not, it's a `current`-process. (The `currentPr

[2021-11-04 12:13] SjoenH commented on #192
@Linedueo do you have any feedback on this?

[2021-11-04 12:53] Magos commented on #258
Deployed to Dev environment and available to test there now. @ntorsen

[2021-11-04 12:59] knudsvik commented on #258
This is actually an issue for the To-be process #192 as well when tested in QA now.

[2021-11-04 13:32] Linedueo commented on #192
@SjoenH @knudsvik would it be possible to delete "to be" process only when in the "to be" process. And when in current you delete the entire process

[2021-11-04 14:06] knudsvik commented on #192
@Linedueo That's what @SjoenH proposed as well I think? I'm somehow ambivalent to it. I trust @Linedueo to come up with the best suggestion.

Something needs to be done with the dialogue window anyhow to explain better what is about to happen (and add info that it is not possible to recover it once it's deleted).

[2021-11-05 06:42] ntorsen commented on #258
This is working as expected in Dev environment 👍 @Magos

[2021-11-05 07:07] ntorsen commented on #219
@SjoenH working good 👍
- Copy-share-link is working
- Can add users from main page (doesn't have to enter process to add users)
- Three users is showing, when hovering all users will come up as well as clicking on right down side of the tile
- Text is within tile (used many characters)
- Heart when favoriting a process is aligned at the top

[2021-11-05 07:43] martabenthem commented on #219
@askbulle @knudsvik this feature is ready for you to check 👍

[2021-11-05 08:17] knudsvik opened #280 "URL aliases to Dev, Test and QA"
**User story**
As product owner and potentially user forum member I would like to find qa, test, dev environments easier so that I don't have to find the url's through GitHub

**Describe the solution you'd like**
qa.flyt.equinor.com --> https://web-vsm-qa.radix.equinor.com/
test.flyt.equinor.com --> https://web-vsm-test.radix.equinor.com/
dev.flyt.equinor.com --> https://web-vsm-dev.radix.equinor.

[2021-11-05 08:38] knudsvik commented on #192
@SjoenH Can you add last updated/modified update when To-be process has changes as a requirement? Ref #258

[2021-11-05 08:41] knudsvik commented on #219
It looks awesome! The only comment I have is that the following two notations should be the same word? Not directly related to this issue, also a problem with the current prod version. But should ideally be fixed, maybe in this PR?

![image](https://user-images.githubusercontent.com/25986427/140482334-72a0f478-5c04-4baa-a6c8-0045f3176b6c.png)

[2021-11-05 08:48] martabenthem commented on #219
@knudsvik nice catch! I can easily modify it in this PR indeed.

[2021-11-05 09:54] SjoenH opened #281 "Fix standard version."
Same issue as mentioned here: https://github.com/conventional-changelog/standard-version/issues/509
Investigate possible solutions as mentioned.

[2021-11-05 10:54] SjoenH opened #282 "@SjoenH Can you add last updated/modified update when To-be process has changes as a requirement? Ref #258"
@SjoenH Can you add last updated/modified update when To-be process has changes as a requirement? Ref #258

_Originally posted by @knudsvik in https://github.com/equinor/MAD-VSM-WEB/issues/192#issuecomment-961714547_

[2021-11-05 11:01] SjoenH commented on #192
Sure,
Added another requirement:
"When updating a To-be process, it should be reflected in the front-page last-modified." #282

[2021-11-05 11:14] Magos commented on #282
@SjoenH @martabenthem Would it get in the way of the front-end if these object fields
![firefox_155znCnlsn](https://user-images.githubusercontent.com/1004386/140501086-9f98d9b9-d15d-4f1b-b4b3-010a33768a01.png)
got replaced with just the datetimes? I'm thinking of adding these queries as virtual columns in SQL.

[2021-11-05 13:08] #219 closed

[2021-11-05 13:09] martabenthem commented on #219
@askbulle @knudsvik this feature has now been released.

[2021-11-05 14:31] SjoenH commented on #282
Not really. We don't use it today, but #245 could need something like it.

[2021-11-08 06:07] SjoenH commented on #219
@martabenthem remember to move the cards when the status updates. 😄

[2021-11-08 06:30] SjoenH commented on #280
This is already available in the Readme: https://github.com/equinor/MAD-VSM-WEB#branching-and-deploying-stuff
Any suggestions on where would be a better place?

| Environment | Release script          | Deploy status                                                                                                                  | URL                                     | Who should test what?

[2021-11-08 06:33] SjoenH commented on #280
Ah, I see what you mean now. Adding either redirects or subdomains on the Flyt domain..

[2021-11-08 06:51] martabenthem commented on #219
@SjoenH apparently if you reopen the issue by mistake the card is moved automatically to pending release. Closing the issue back does not move the card back to released.

[2021-11-08 06:52] SjoenH commented on #219
Ah! That makes sense 😅

[2021-11-08 06:56] martabenthem commented on #282
I don't use any of those objects directly. As long as the sorting by "date created" and "last modified" continues to work in the search query, seems good to me.

[2021-11-08 08:39] knudsvik opened #283 "To-be process --> The new current process"
**User story**
As a user I want a new version of the current process to be a copy of the to-be process

Dependent on #154

[2021-11-08 16:21] Magos opened #285 ""My processes" not filtering"
Currently, the front-end is sending filter parameter "user" = shortname, but should use "ru" = user-ref. As a consequence, "my processes" is the same set as "all processes".

[2021-11-09 06:03] SjoenH opened #286 ""My processes" not filtering"
**Front-end fix:** Currently, the front-end is sending filter parameter "user" = shortname, but should use "ru" = user-ref. As a consequence, "my processes" is the same set as "all processes".

**Back-end fix:** Also, currently only showing the processes I have been added to, not my own. @Magos

[2021-11-09 06:20] SjoenH commented on #286
Patch was applied to prod 07:20.
https://flyt.equinor.com/processes/mine?orderBy=modified

[2021-11-09 06:25] Magos commented on #285
Duplicate of #286

[2021-11-09 06:25] #285 closed

[2021-11-09 06:31] #258 closed

[2021-11-09 06:31] #227 closed

[2021-11-09 07:30] SjoenH opened #288 "Cannot add category to a PQIR (task)"
Drag-and drop stopped working. Maybe related to #258 ?
[code]

[2021-11-09 08:30] knudsvik opened #289 "Categorisation not working"
**User input**
Mapping categories to problems is not working

**Sharepoint list ID**
97

[2021-11-09 08:31] smolvik1 commented on #289
![categories_mapping](https://user-images.githubusercontent.com/36161719/140889343-ad114526-b054-4415-bfba-5e61738168c3.gif)

[2021-11-09 08:31] SjoenH commented on #289
duplicate of #288

[2021-11-09 08:31] SjoenH commented on #289
Hi. Thanks for the report. We are working on a fix.

[2021-11-09 08:53] SjoenH opened #290 "Catch runtime errors and track page-views etc."
Add Application insights to Front-end

[2021-11-09 10:03] SjoenH commented on #286
Front-end done. Waiting on Back-end.

[2021-11-09 13:35] #288 closed

[2021-11-09 13:42] #225 closed

[2021-11-09 13:43] SjoenH opened #291 "Search params need to be url-encoded. #225-resurfaced"
Search params need to be url-encoded to support & etc.

ref  #225

[2021-11-09 13:59] #291 closed

[2021-11-10 08:44] SjoenH commented on #254
@Magos will take a look at implementing positioning logic without any changes needed for the front-end.

Note: position is not used in the front-end.

[2021-11-10 08:52] SjoenH commented on #154
@Magos tells us that .Net6 is out! 🥳

[2021-11-10 12:27] Magos opened #293 "SignalR services are still running in Azure"
If SignalR support is being sunsetted, we should finalize cancelling these services at some point.

[2021-11-10 12:48] knudsvik commented on #289
Fixed upon release yesterday

[2021-11-10 12:48] #289 closed

[2021-11-10 12:50] SjoenH commented on #293
Yes. Just do it.
Better to create them again if we decide to use it.

[2021-11-10 12:55] Linedueo commented on #192
<img width="1905" alt="Skjermbilde 2021-11-10 kl  13 50 43" src="https://user-images.githubusercontent.com/74361011/141116108-3ca32ed7-f308-4f35-94a4-71d0fdd228c0.png">
@SjoenH @knudsvik @askbulle I´ve added som screenshots here of how we could solve the "reset to be version" and "delete VSM". Ive added a reset page button in the to be version. A dialog will pop up with an explanatory text (need h

[2021-11-10 12:57] Linedueo commented on #192
link: https://www.figma.com/file/IkHwmIQrsT0iR34f5R5UnZ/VSM?node-id=2994%3A117375

[2021-11-10 14:11] Magos commented on #293
Deleted services vsm-sr-prod, vsm-sr-qa, vsm-sr-test, vsm-sr-dev from the Azure resource groups.

[2021-11-10 14:11] #293 closed

[2021-11-11 09:26] askbulle commented on #192
@Linedueo @SjoenH

Thorjan and I both like the design for both delete and reset. Explanatory texts
Delete:
Are you sure you want to delete this process? By doing so you will delete all versions of Current and To-be processes, neither of which will be recoverable.

Reset:
Are you sure you want to reset the To-Be process? By doing so you will reset to a blank To-Be process and previous version of th

[2021-11-11 09:33] SjoenH commented on #192
Some thoughts...
P: People don't read text.
S: We need intuitive design... or at least the possibility to undo actions.

I: We could **archive instead of delete** and make it possible to unarchive it.
C: Then it isn't a big deal if someone archives the whole process by accident.

Q: What then if you really want to delete something?
A: Maybe only show the delete-button for archived processes?

Q: W

[2021-11-11 09:33] knudsvik commented on #154
@SjoenH : New requirement for this feature. Update the delete/reset button explanatory texts, ref #192 . When a to-be process is reset, the version history will still keep the old version I guess.

[2021-11-11 10:45] Linedueo commented on #192
I did add a snackbar to the design so that you can undo actions
<img width="794" alt="Skjermbilde 2021-11-11 kl  11 44 52" src="https://user-images.githubusercontent.com/74361011/141284809-63974165-8c95-49a0-9c62-0c12e5ecc501.png">

[2021-11-11 10:56] SjoenH commented on #192
That design would need a lot of thought put into the implementation. So I would suggest we drop it at this point. We are already showing a prompt before they are doing the change.

We may consider adding it after versioning is available.

[2021-11-11 11:07] knudsvik opened #295 "Feat: Undo"
Acceptance Criteria:
Undo 3 steps back for now

Track state-changing user actions.
Save the previous state before each action.
Allow the client to request an “undo,” which rolls back to an earlier state.

Testing Required:
Yes, acceptance criteria is to be fulfilled.

Definition of Done:

**User input 1 (by LSE, GLB, HE):**
Sensitivt - klarer både å slette og flytte bokser uten advarsel => få en u

[2021-11-11 11:08] knudsvik commented on #192
Agreed, but love the idea though! Made it into a feature #295

[2021-11-11 11:11] Linedueo commented on #192
👍🏻

[2021-11-11 14:05] SjoenH opened #296 "Improve canvas layout engine and performance"

[2021-11-11 19:53] SjoenH commented on #248
Might be improved by baking the Equinor font into a high-resolution `BitmapText font`. Ref https://github.com/pixijs/pixijs/issues/4939#issuecomment-392565787

[2021-11-12 11:19] knudsvik opened #297 "Nested choices overlap bug"
**User input 1 (by FL- sharepoint ID98)**
When adding a choice under an existing choice the boxes overlap.

**User input 2 (by ABE- sharepoint ID140):**
I've started testing Flyt based on a VSM done in REN a year ago on Failure events. The layout hides comments and risks that I've added to a sub task a few steps into the work stream. This is because I've added a few decision gates at earlier stage

[2021-11-12 11:23] knudsvik opened #298 "New feedback - ID 99"
**User input**
Add "opportunity" as choice (as we have for problem, risk, question and idea)

**Sharepoint list ID**
99

[2021-11-12 13:11] martabenthem commented on #159
@Linedueo will there be a smartphone (small screen) version of the design for this feature?

[2021-11-12 14:03] Linedueo commented on #159
@martabenthem  If it´s needed then yes. @knudsvik @askbulle is this something we should get done? If so, should it be prioritized?

[2021-11-12 19:36] askbulle commented on #298
Asked feedback provider about more details:

"I feel opportunity is covered by Idea. 'Idea' has been used instead of 'Solution' with the purpose being able to cover most positive things.

Would like more info on why 'opportunity' is needed (in addition to improving the process)?  What am I missing?"

[2021-11-12 19:37] askbulle commented on #298
Answer from feedback provider:

Hi!

The purpose of having opportunity was to highlight that there was a gain (an additional benefit vs removing a problem). It is my subjective opinion that risk is associated with something negative (even though I know that it could be positive of course..)

I didn’t couple idea as an opposite to risk, but don’t disagree with your reasoning.

To place it in a cont

[2021-11-12 19:42] askbulle commented on #298
We need to discuss whether or not this is a good idea. How can consistent use of PQIRx's be ensured the more alternatives the tool has? I feel this is definitely an interesting idea, but 'advanced settings' wrt getting the basics of mapping and fixing process flow up and running in practice.

[2021-11-15 07:08] Linedueo commented on #165
I have looked at what we talked about during the meeting last week. Solved or mitigated problems/risks will be listed under and grayed out to show they are disabled.

<img width="1252" alt="Skjermbilde 2021-11-15 kl  08 03 29" src="https://user-images.githubusercontent.com/74361011/141736791-c6183c29-6bd5-4e58-95d0-9ce943e1a15d.png">

Figma link 👉🏻 https://www.figma.com/file/IkHwmIQrsT0iR34f5R5UnZ

[2021-11-15 07:09] Linedueo commented on #165
@SjoenH @knudsvik ☝🏻

[2021-11-15 07:49] knudsvik commented on #165
Looks good 👍

[2021-11-15 08:37] SjoenH commented on #165
Looks good, but missing some design regarding interacting with solved PQIRS.
Unsolve etc...
I guess we can use the same section box for that? @Linedueo

[2021-11-15 08:56] knudsvik commented on #295
Dependent on #154 according to @SjoenH

[2021-11-15 09:39] SjoenH commented on #192
@Magos Let's have a quick talk about this one.

[2021-11-15 12:38] knudsvik opened #299 "Sharing with names instead of short name"
**User input**
Hi, sharing the VSM with others is very good, but having to use only the shortname to put in the ones you want to share with makes it slower than necessary. is it possible to have that function based on both shortnames and names?

**Sharepoint list ID**
100

[2021-11-15 12:41] knudsvik opened #300 "New feedback - ID 101"
**User input**
Often the challenge in VSM work is actually to be able to bring it further into actions to follow up and actually get the wanted work done. Is it possible to have an option of exporting the idea/problem/risk etc into planner? (and also be able to choose the right planner to export the task into)

**Sharepoint list ID**
101

[2021-11-15 13:50] knudsvik opened #301 "New feedback - ID 102"
**User input**
Add functionality to link in URLs in Problems/ideas/risks etc.. Then you can refer further if you have an idea you want to share a link to for further work.

**Sharepoint list ID**
102

[2021-11-15 19:50] knudsvik opened #302 "New feedback - ID 103"
**User input**
Functionality; to set as favorite within Flyt. E.g. getting a link to a flyt from someone else and figure out that it was something to keep for later. Work-around is to search on Flyt-name on landing page and then save (heart")

**Sharepoint list ID**
103

[2021-11-16 07:55] SjoenH commented on #302
Duplicate of #252

[2021-11-16 08:03] knudsvik commented on #302
Following up this issue in #252

[2021-11-16 08:03] #302 closed

[2021-11-16 08:13] knudsvik opened #303 "New feedback - ID 104"
**User input**
in PQIR-part of Flyt; What is the plan with this after grouping. Should the next step be a list that can be worked on with comments and close resolved/cancelled PQIRs functionality? The flyt itself would then be "cleaner" as things are resolved. Flyt can then be transformed from an "as is" to a "to be".

**Sharepoint list ID**
104

[2021-11-16 08:33] SjoenH commented on #254
@SjoenH Do some initial testing. Thank you future me.

[2021-11-16 09:00] SjoenH commented on #303
Relates to #165 & #204

[2021-11-16 09:06] SjoenH commented on #300
The request to export into a different tool is a sign that our tool is not fulfilling the requirements of the user.
Exporting might be a solution in some cases, but it would be good to get some feedback from the user on what they are missing and focus on improving Flyt itself.

A couple of features in our backlog that might cover some of this request:
- [ ] #165
- [ ] #204

[2021-11-16 09:13] SjoenH commented on #301
Could be solved by a view/edit-view, as I've mentioned before. (E.g. markdown support for text-input fields)
I think this would also be useful for the text in all our cards... Which could cover requirements for issue #189, and linking to different processes. (Simplified solution of #157)

[2021-11-16 09:16] SjoenH commented on #299
Relevant issues #199 #197

[2021-11-16 10:03] SjoenH commented on #254
Initial testing in dev done. We have migrated the changes to test-environment for testing @ntorsen.
A bit hard to check for this...
The problem was that Sometimes a card under a choice wouldn't move when you tried to re-order the children.
This shouldn't happen any more.

**Please test overall position and re-ordering of cards in the canvas**

[2021-11-16 10:21] SjoenH commented on #192
**Regarding resetting a to-be process.**
👋 @knudsvik - After talk with @Magos we are leaning towards keeping the PQIRs, only unlinking them before resetting the process.
I believe it to be safer with regard to versioning in the future.

Also, seems like a reset-endpoint in the API might be better than doing it in the Front-end-client. The reason is that this is business logic concerning the databa

[2021-11-16 12:45] ntorsen commented on #254
@SjoenH working really well 🙌
Even got this message when trying to move a parent to a child-object:
![image](https://user-images.githubusercontent.com/89014017/141987430-a104b44c-4dce-476c-b5ed-78a465142c5e.png)

[2021-11-16 19:44] Linedueo commented on #192
<img width="600" alt="Skjermbilde 2021-11-16 kl  20 44 11" src="https://user-images.githubusercontent.com/74361011/142054732-c7a7876c-0105-4910-8807-1bff8c10e5fe.png">

@SjoenH Let´s treat it as a regular contained button in disabled state

[2021-11-16 20:10] SjoenH commented on #192
Thanks. Looks much better

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Line Due-Olsen ***@***.***>
Sent: Tuesday, November 16, 2021 8:44:59 PM
To: equinor/MAD-VSM-WEB ***@***.***>
Cc: Henry Skorpe Sjøen ***@***.***>; Mention ***@***.***>
Subject: Re: [equinor/MAD-VSM-WEB] To-be process (#192)

[Skjermbilde 2021-11-16 kl  20 44 11]<https://eur03.safelinks.prote

[2021-11-17 06:17] knudsvik commented on #159
We did agree that for all new features/designs we were to plan for mobile friendly layout from now on.

[2021-11-17 07:11] SjoenH commented on #254
@Magos let's talk about releasing this bug-fix.

[2021-11-17 08:37] SjoenH commented on #254
**Planning a release for this today.**
First to QA as a test-run, then we will add a service-message and get it out into prod.

[2021-11-17 08:59] SjoenH commented on #254
Release to QA went OK. Verified by Magnus and me.
Service message is put up in Production.

**Planning API-release around 11:00. There will be some downtime estimated to around 15 minutes.**

[2021-11-17 09:27] martabenthem commented on #159
Hello! Should the labels be case-sensitive?

If case-sensitive, we risk having "Kårstø" and "kårstø", which can be fixed with the merge functionality but it's not very valuable to be monitoring caps on labels.

If not case-sensitive, should we store labels as case-insensitive, and then show them with the first letter capitalised? Or show them with no caps at all ("kårstø")?

[2021-11-17 09:31] knudsvik commented on #159
Good questions @martabenthem . I think they should not be case sensitive to avoid `Kårstø `and `kårstø `being two different labels.

[2021-11-17 10:36] SjoenH commented on #254
We have discovered a bug that is affecting adding and reordering cards in a process. We are investigating and considering our options.

[2021-11-17 10:55] SjoenH commented on #254
Rolling back seems to work OK for QA. As long as no-users have started using the new position as introduced in the new api.

It seems like I'm the only one that has done any changes in this period, so we should be fine, but we will keep our eyes open.

[2021-11-17 11:03] SjoenH commented on #254
API was rolled back successfully. We did verify that all cards are using the old positioning index. 🙆‍♂️

[2021-11-18 07:28] SjoenH commented on #192
Front-end done. Waiting on API endpoint. @Magos

[2021-11-18 11:09] SjoenH commented on #254
@ntorsen Ready again in test.
From initial testing, this looks good. But we will need to do take our time, testing the overall position and re-ordering of cards in the canvas.

[2021-11-18 18:16] SjoenH commented on #115
Think I found the solution. @SjoenH remember to test this tomorrow
[code]

[2021-11-19 09:37] Magos commented on #192
Reset endpoint is now building to Dev environment. Example URL:
`PATCH /api/v1/Project/776/Reset`
Currently, it's available for roles {Owner, Admin}.

[2021-11-19 09:56] ntorsen commented on #254
Created a new process and added a main-activity to it. Then added a card under it. Does not give childIndex -1 anymore. First card added under main-activity gets number 1289, and the following cards get 1290 and 1291.

![image](https://user-images.githubusercontent.com/89014017/142602023-e72ab157-186f-42fe-a5fa-900614319587.png)

When moving position of a card, for example if I move the first sub-

[2021-11-19 10:59] Magos commented on #254
I would say that keeping the QIPRs around even if the cards they're on is deleted is intended as far as I understand.

[2021-11-19 11:09] SjoenH commented on #254
Thanks for testing @ntorsen.

**Let's wait till next week with releasing this fix.**
I want to be on the cautious side for this release.
Let's have a talk on Monday on when would be a good release window.

-----

Good! BTW. this check is done in the front-end. Not sure if we would throw an error in the API for it. @Magos When you have time, it would be good to verify what API allows here. But low

[2021-11-19 13:48] knudsvik opened #304 "New feedback - ID 105"
**User input**
When a problem is deleted from a flow, it still is registered as an "existing problem" and still appears in "categorize PQIR's"

Example: Flow #33 and P18

**Sharepoint list ID**
105

[2021-11-21 09:16] knudsvik commented on #304
Covered by #165

[2021-11-21 09:16] #304 closed

[2021-11-21 09:35] knudsvik commented on #301
Also relates to:
- #175

[2021-11-21 09:38] knudsvik commented on #303
Also relates to:
- #176

[2021-11-22 06:35] SjoenH commented on #192
@Magos I get 404 in dev-env.
For example: `PATCH | https://api.statoil.com/app/vsm/dev/api/v1.0/project/777/reset`

[2021-11-22 08:58] Magos commented on #159
Current status is that both searchText="alf" and searchtext="aLf" find the label "Svartalfrheim", so searching for an existing similar label is not case sensitive. It should be possible in the current system to make two labels that differ only in capitalization.

[2021-11-22 09:44] SegarJJ commented on #273
What are the expectations to call this done?

- [ ]  testing infrastructure, including authentication
- [ ] 3 example workflows, create a new and add basics to it, open that newly created and edit, then open that same and delete it.
- [ ] run these tests manually
- [ ] run these tests with every client build to DEV, TEST, or QA.
- [ ] aob?

[2021-11-22 09:50] SjoenH commented on #197
@Magos let's have a chat about this.

[2021-11-22 10:20] SjoenH commented on #159
To-do:
- [ ] superuser access (not a requirement for this issue)

Labels are free-text input. That means it's up to the user to decide on the CapItaliZation and speling.
But they will get previously used labels as a suggestion

[2021-11-22 10:52] SjoenH commented on #273
@SegarJJ

This is an initial setup of Cypress testing for our front-end.
Focus, is to get the dev-environment for writing tests up and running.
I need to look over the PR #284, but support for testing from a developers' machine should be done.

Would be nice to look at running the tests against a local API and DB with some mocked authentication. ⇒ super speedy ⚡   tests. But needs engineering time

[2021-11-22 11:55] SjoenH commented on #192
Works good now @Magos 💪
Would you release to Test-env?

[2021-11-22 12:10] knudsvik commented on #204
Heard a good idea from the Business Process Automation team today. What if we can send our process/part of a process/cateogry of problems to that team via the Service@Equinor API to solve particular categories or problems with robots? They would have a good description from the process and could help quickly to automate some activities...

[2021-11-22 12:11] #254 closed

[2021-11-22 12:14] knudsvik opened #305 "Business Process Automation team"
Heard a good idea from the Business Process Automation team today. What if we can send our process/part of a process/cateogry of problems to that team via the Service@Equinor API to solve particular categories or problems with robots? They would have a good description from the process and could help quickly to automate some activities...

_Originally posted by @knudsvik in https://github.com/equi

[2021-11-22 12:16] knudsvik commented on #178
Business Process Automation may be a problem solving tool:
- #305

[2021-11-23 06:38] SjoenH commented on #192
@ntorsen Ready for testing 💪

[2021-11-23 08:24] Linedueo commented on #165
![Skjermbilde 2021-11-23 kl  09 18 23](https://user-images.githubusercontent.com/74361011/142990156-9b7d23d3-536a-47ff-907b-f61b9e7fb2cf.png)

Whatever is solved is listed below. In case you want to unsolve you´ll have a section box just like the one above to be able to read and unsolve (uncheck) if necessary and the problem will go back to the section above. @SjoenH I followed your suggestion- ma

[2021-11-23 11:12] ntorsen commented on #192
### **Results from testing:**
User can flip a toggle to switch between the original and the to-be process. ✔️
Name is shared ✔️
Access is the same as the original process ✔️
To-be processes should not be shown on the front-page. (We need some metadata to distinguish them from regular ones...) ✔️
Individual version history. ✔️
PQIRs are not shared between original and to-be. ✔️
Disable toggle if to

[2021-11-23 11:40] Magos commented on #192
On this: The approach I'm planning for #154 means we will soon abandon the ChangeLog-based way this is updated now. As such, I'm inclined not to change this now, but instead when we release versioning.

[2021-11-23 11:50] SjoenH opened #307 "My process dissappears from my-processes after it gets an to-be process"
If I create a new process and make a to-be process, this does not show in "See my processes". Newly created processes land on that page, but if you do something on the To-be, they will disappear from this page.

_Originally posted by @ntorsen in https://github.com/equinor/MAD-VSM-WEB/issues/192#issuecomment-976411874_

[2021-11-23 12:35] SjoenH commented on #192
Moving this to in-progress since we need to fix
- [ ] #307

[2021-11-23 14:19] Magos commented on #307
New version is out to fix this in dev, and [also building to Test](https://dev.azure.com/statoil-mad/VSM/_releaseProgress?_a=release-pipeline-progress&releaseId=220). Could you try it out, @ntorsen ?

[2021-11-23 14:41] ntorsen commented on #307
Tried it out in DEV environment --> working good now @Magos  🥇

[2021-11-23 14:45] ntorsen commented on #307
Seems to be working in test env as well 😃

[2021-11-24 06:18] #307 closed

[2021-11-24 06:20] SjoenH commented on #192
Let's get this into QA. @Magos 💪  [Ref](https://github.com/equinor/MAD-VSM-WEB/issues/307#issuecomment-976653205)

[2021-11-24 07:48] martabenthem commented on #165
Will start up on this one.

@Linedueo thank you for the design, for now everything is clear. Did we decide what happens to the solved problem in the categorisation page?

[2021-11-24 08:19] Linedueo commented on #165
<img width="451" alt="Skjermbilde 2021-11-24 kl  09 18 37" src="https://user-images.githubusercontent.com/74361011/143200626-b266ba9c-1ed8-4e45-be14-06205000652e.png">

Updated with solve or mitigate and unsolve or unmitigate

[2021-11-24 08:20] Linedueo commented on #165
<img width="533" alt="Skjermbilde 2021-11-24 kl  09 20 33" src="https://user-images.githubusercontent.com/74361011/143200898-3a4e625b-aba8-426d-8141-ed26e6b75ac0.png">

Updated with solve or mitigate and unsolve or unmitigate

[2021-11-24 08:28] SjoenH commented on #165
@Linedueo Why do you want a snack-bar here?

[2021-11-24 08:32] Magos commented on #192
Building to QA environment now.

[2021-11-24 08:39] SjoenH commented on #165
Bringing this to your attention again... @Linedueo @knudsvik @askbulle What happens in the categorization page?

[2021-11-24 08:39] SjoenH opened #308 "Decide on how to present solved PQIRs in the categorization page."
Bringing this to your attention again... @Linedueo @knudsvik @askbulle What happens in the categorization page?

_Originally posted by @SjoenH in https://github.com/equinor/MAD-VSM-WEB/issues/165#issuecomment-977652284_

[2021-11-24 08:47] knudsvik commented on #308
Solved PQIR's should not show in the categorisation page.

[2021-11-24 08:48] SjoenH opened #309 "Design improvement on categorization page"

[2021-11-24 08:51] SjoenH commented on #159
Line will take a look at improving process-label edit and search for small screens.

[2021-11-24 08:53] SjoenH commented on #192
@askbulle @knudsvik @Linedueo @ntorsen Ready for testing in QA.
https://web-vsm-qa.radix.equinor.com/

Let us know of any concerns.

[2021-11-24 11:11] SjoenH commented on #308
Super. Here's the answer @martabenthem. Please filter them away in the categorization page.
@Magos I think it makes sense to do this in the front-end. Let me know if you object.

[2021-11-24 11:11] #308 closed

[2021-11-24 11:13] ntorsen commented on #192
No concerns here. Working good in QA 👍

[2021-11-24 11:14] SjoenH commented on #192
Super. Waiting on PO approval.

[2021-11-25 08:04] knudsvik commented on #192
Looks good, you may release 💪

[2021-11-25 13:17] SjoenH opened #310 "Add an open-source licence"
TR1621 2.8.1 Software developed by/for the company shall be made open source, unless IP rights prevents this.

Open Source software is computer software with its source code made available with a licence in which the copyright holder provides the rights to study, change, and distribute the software to anyone and for any purpose. Open Source software may be developed in a collaborative, public mann

[2021-11-29 09:19] SjoenH commented on #192
This is now released together with #254 to Prod :tada:

[2021-11-29 09:19] #192 closed

[2021-11-29 09:32] SjoenH opened #311 "Resetting a to-be process"
Gives error 404

[2021-11-29 09:43] SjoenH commented on #218
@knudsvik suggested using an infinite scroll instead. And I agree.

[2021-11-29 09:43] SjoenH opened #312 "Infinite scroll on front page"
@knudsvik suggested using an infinite scroll instead. And I agree.

_Originally posted by @SjoenH in https://github.com/equinor/MAD-VSM-WEB/issues/218#issuecomment-981459283_

[2021-11-29 09:43] SjoenH commented on #218
Closing this for now.

[2021-11-29 09:43] #218 closed

[2021-11-29 09:46] Magos commented on #311
Her var det APIM som ikke visste om den nye ruten. Ny deploy fikset det.

[2021-11-29 09:46] #311 closed

[2021-11-29 09:57] SjoenH opened #313 "Reset a to-be process gives error 404 in prod."

[2021-11-29 10:02] SjoenH commented on #313
The problem was APIM-release misbehaving…
Fixed by a re-deployment.

[2021-11-29 10:03] SjoenH commented on #313
Ref https://github.com/equinor/MAD-VSM-WEB/issues/311#issuecomment-981461160

[2021-11-29 10:03] #313 closed

[2021-11-29 14:01] knudsvik opened #314 "Import Current process to To-Be process"
**User story**
As a user I want to import the current process to the To-Be process so that I can have a better start when designing a better process

**Describe the solution you'd like**
Button below the reset process to "Import Current"

[2021-11-30 08:49] SjoenH commented on #159
@askbulle @knudsvik
I told you yesterday that I thought this was going to be ready this week. But I forgot that @martabenthem is out of office and not working full-time on Flyt this week. Sorry about that.

We are currently looking at estimated release next week for this feature. We will keep you posted.

[2021-11-30 08:53] SjoenH commented on #309
I don't remember what this was about...  :thinking:
Yes. We do need design improvement. Especially considering mobile devices, but we do have a story for that :point_right: #264
So I'm closing this :wastebasket:

[2021-11-30 08:53] #309 closed

[2021-11-30 15:10] knudsvik opened #315 "New feedback - ID 106"
**User input**
Can we have the overview of the problems that appears on the right size expandable? It is hard to see everything when you are using the tool. Thanks :)

**Sharepoint list ID**
106

[2021-12-01 08:44] SjoenH opened #316 "Redesign card detail view"
The detail view is what we currently are referring to as the side sheet.

[2021-12-01 08:51] knudsvik opened #317 "Links in an activity card"
**User input**
Include possibility for link in card - yellow (and blue) cards. Can i.e. have a link to ARIS or to a checklist.

**Sharepoint list ID**
107

**User**
Liv Håøy

[2021-12-01 08:59] SjoenH commented on #154
**API discussion.**
Changing `created` and `lastUpdated` to a date.
The `created` object is used today to check if we are an admin, thus `userAccesses` needs to include the admin as well. (remove filter)

**Remember:** We want all connected `vsmObjects` (`card`) and  `task` (`PQIR`) etc… -changes to be reflected in the `process`-changelog.

**Aggregating the changes to one day.**
Front-end or back

[2021-12-01 09:57] knudsvik opened #318 "New feedback - ID 108"
**User input**
There must be an option to define who is going to have access to a process mapping. Some processes are sensitive, and pain points can't be open for everyone.

**Sharepoint list ID**
108

[2021-12-01 12:32] knudsvik opened #319 "New feedback - ID 109"
**User input**
very slow response

**Sharepoint list ID**
109

[2021-12-01 12:33] knudsvik opened #320 "Navigate on canvas with keyboard arrows"
**User input 1 (by ZC- Sharepoint ID110)**
for the user, it will be nice to be able to scroll down

**User input 2 (by Lise SE, GLB, HE)**
Sensitivt mht å bla vertikalt – fort gjort å forskyve bokser - => egen scrolle knapp ?

**User story**
As a user I want to use an alternative way to the mouse to navigate in the canvas so that it works with my intuition

**Possible solution**
Move around the ca

[2021-12-01 12:34] knudsvik opened #321 "New feedback - ID 111"
**User input**
often freezes and got a message "disconnected"

**Sharepoint list ID**
111

[2021-12-01 13:11] SjoenH commented on #290
This might help us catch things like #321

[2021-12-01 13:12] SjoenH commented on #320
Need more information about what the user is trying to do.

[2021-12-01 13:17] SjoenH commented on #321
I've reached out asking for more information about the problem.
Awaiting response.

[2021-12-01 13:19] SjoenH commented on #317
Duplicate of #189

[2021-12-01 13:20] SjoenH commented on #315
We should have a look at improving the detail-view. (today in a side-sheet)
We did talk about a re-design, but not sure if we created any GitHub Issue on it... 🤔

[2021-12-01 21:11] knudsvik commented on #319
Issues are probably related. Same user.
- #319
- #320
- #321

[2021-12-01 21:12] knudsvik commented on #320
Issues are probably related. Same user.
- #319
- #320
- #321

[2021-12-01 21:13] knudsvik commented on #320
Additional user input: This to be able to quickly access the lower part of the process.  The application is quite slow and dragging up was taking forever, therefore if there is a scroll down possibility, it might be faster to reach the lower part of the page without zoom in and out.

[2021-12-01 21:14] knudsvik commented on #321
Issues are probably related. Same user.
- #319
- #320
- #321

[2021-12-01 21:16] knudsvik opened #322 "New feedback - ID 112"
**User input**
I had a thought about the way the problems, ideas, questions and risks were logged. Would it be possible for the cards in the “categorise” area to have the heading of the subprocess? i.e. for Problem 7 in my case it would look something like this. May be a challenge if this is a one to many relationship, but something to consider.

**Sharepoint list ID**
112

**User**
Thorjan Knudsv

[2021-12-01 21:25] knudsvik commented on #318
Similar to #198

[2021-12-02 09:52] SjoenH commented on #322
I did something similar as a `PQIR edit/detail page` proof of concept.
But we need to think it through.

[2021-12-02 09:56] SjoenH commented on #321
Disconnected message is the same as #241
Not sure about the freezing. I'll ask about the computer and browser to try to get a reproduction.

bcc: @ntorsen

[2021-12-02 10:10] SjoenH commented on #319
I've reached out and asked for more information:

[2021-12-02 10:11] SjoenH commented on #320
Yes, probably connected to the #319.

[2021-12-03 09:48] SjoenH commented on #245
@knudsvik As it is today, this is a quick fix, but might be affected by planned API changes.
@Magos what did we decide upon here? WRT #154

[2021-12-03 09:51] SjoenH commented on #314
Might not be too much work. What do you say @Magos ?

[2021-12-03 09:52] SjoenH commented on #310
MIT is probably a good fit.

[2021-12-03 09:53] SjoenH commented on #286
Looks like we forgot to close this one.

[2021-12-03 09:53] #286 closed

[2021-12-03 09:57] SjoenH commented on #216
This was fixed by #219

[2021-12-03 09:57] #216 closed

[2021-12-03 10:00] SjoenH commented on #177
Partly covered by #269

[2021-12-03 10:05] SjoenH commented on #162
Unsure if it is a quick-fix. But shouldn't take too much time.

[2021-12-03 12:32] knudsvik commented on #274
The possibility to verifiy will improve with
- #154

[2021-12-03 12:37] knudsvik commented on #204
#300 is one of several possible solutions

[2021-12-03 12:43] knudsvik commented on #305
Relates to:
- #204

[2021-12-03 12:50] knudsvik commented on #314
Could also include export from To-be to Current

[2021-12-03 12:55] knudsvik commented on #316
Waiting for new ownership to prioritise this

[2021-12-03 12:56] knudsvik commented on #315
#316

[2021-12-03 12:58] knudsvik commented on #317
Related also to
- #175
- #301

[2021-12-06 08:30] knudsvik commented on #163
Also include possibility to add "Years" or "Months" without explicit value..

[2021-12-06 08:36] SjoenH commented on #154
@Magos @SjoenH Let's have a quick chat later today

[2021-12-06 08:47] knudsvik commented on #314
@knudsvik @askbulle . Define requirements - e.g wil PQIR's be copied?

[2021-12-07 07:02] SjoenH commented on #163
@Linedueo a modification to the time-component to include uncertainty.

@knudsvik I'm thinking a bit ahead now... not sure how important the feature we have talked about is; **displaying the total time of a process**, and potentially **comparing the time to a different process**. _(don't think we have a story for it though...?)_

These changes will make it harder to sum-up the time for each proces

[2021-12-07 09:35] SjoenH commented on #154
@Magos What you have done sounds good.

Aggregation is a front-end task as of now.

@Magos have looked at api-endpoint for process-changelog, but mentions that he could add endpoints for VSMObjects, and PQIR, but not implementing that at this time.

Let me know when it is ready for testing in Front-end. :smile:

[2021-12-08 11:11] knudsvik opened #323 "Missing roles and times when duplicating"
**User input**
We have duplicated a VSM and roles and time are not copied over.
Is there a reason for this? Or could this feature be added?

**Sharepoint list ID**
113

**User**
Elisabeth Siem

[2021-12-08 11:13] knudsvik opened #324 "New feedback - ID 114"
**User input**
Would like more flexibility for setting "time".
E.g.  15. Jan, or mid Jan and/ or week 3, Q1

**Sharepoint list ID**
114

**User**
Elisabeth Siem

[2021-12-08 11:13] SjoenH commented on #323
Roles and times should be included... :thinking:
I'll have to take a look.

[2021-12-08 11:14] knudsvik opened #325 "Role and time for main activity"
**User input**
Would like role and time also for Main Activity.

**Sharepoint list ID**
115

**User**
Elisabeth Siem

[2021-12-08 11:16] SjoenH commented on #325
duplicate of #161

[2021-12-08 11:29] knudsvik opened #326 "New feedback - ID 116"
**User input**
Would like to visualise "Waiting" between to Main Activities

**Sharepoint list ID**
116

**User**
Elisabeth Siem

[2021-12-09 07:25] knudsvik opened #327 "Contributor access to process 824"
**User input**
Hei
Jeg er contributer på et flyt diagram men får  ikke editerer eller legge inn noe på dette? Andre som er contributers på samme flyt diagrammet har rettigheter til å editere?  Er det noen tilganger som jeg mangler?  Hilsen Nina

**Sharepoint list ID**
117

**User**
Nina Melbye Hansen

[2021-12-09 08:45] knudsvik commented on #327
Wrong short name was used when providing contributor access. Would probably not been an issue when #197 is solved.

[2021-12-09 08:45] #327 closed

[2021-12-09 08:47] SjoenH commented on #327
Ok, super. Thanks for checking. :+1:

[2021-12-09 11:46] SjoenH commented on #323
Reproduce by duplicating a project. Roles and times are not moved over.

[2021-12-09 11:53] #325 closed

[2021-12-09 11:56] knudsvik commented on #323
Relates to:
- #144

[2021-12-09 12:15] knudsvik commented on #326
Will probably need to have fixed #172 before this, otherwise dropping a waiting card onto a main activity will place it underneath.

[2021-12-09 12:16] knudsvik commented on #296
@SjoenH is this also covering #172 ?

[2021-12-09 12:21] SjoenH commented on #326
Yes, I'm looking into possible technical solutions for this in #296.
The underlying canvas-logic we have today is too simplistic for such interactions. :man_scientist:

[2021-12-09 12:22] SjoenH commented on #296
Correct! Added it now :smile:

[2021-12-09 12:50] knudsvik opened #330 "New feedback - ID 118"
**User input**
Suggest making an attachment with overview over roles with description of acronyms and names of dedicated persons for active process. I have examples from VSM creator.

**Sharepoint list ID**
118

**User**
Elisabeth Siem

[2021-12-09 17:58] knudsvik opened #331 "New feedback - ID 119"
**User input**
it will be nice to automatic nummbering the steps, the blue post its and yellow steps

**Sharepoint list ID**
119

**User**
Zoila Corriveau

[2021-12-11 08:29] knudsvik opened #333 "Visualise where each started item is"
**User story**
As a user I want to visualise where in a process each started item is so that it can be used to communicate to suppliers and customers

**Describe the solution you'd like**
1. Start a new process run
2. Dots on top of cards where the items currently are
3. Drag items onwards in process

Relates to/can solve:
- #180

To discuss:
- [ ] Link to a specific item for communication
- [ ] T

[2021-12-13 11:30] martabenthem commented on #159
@ntorsen this feature is now ready for testing in the TEST environment :)

[2021-12-13 14:54] martabenthem commented on #159
@Linedueo could you also take a look at the test environment and check this feature?

[2021-12-13 15:01] ntorsen commented on #159
Tested all of the requirements (on top page ⬆️ ) and they worked good 👍

Here are some findings I made when testing:
* Added a lot of process labels, and after doing that Filter by label does not look too happy. Maybe we can change the format here so that a user is able to scroll down a long list of labels?
![image](https://user-images.githubusercontent.com/89014017/145835315-2f634dfd-b39d-4eb8-8c

[2021-12-14 08:42] SjoenH opened #335 "Declutter the front-page cards"
@Linedueo Let's create a task for decluttering the front-page cards.

_Originally posted by @SjoenH in https://github.com/equinor/MAD-VSM-WEB/issues/306#issuecomment-993301770_

[2021-12-14 08:55] Linedueo commented on #335
Front page cards needs to be cleaned up to make sure the design is intuitive. We will add a "more" menu next to heart that will include sharing VSM and editing tags. All users will show on the cards (removing the +...) to easier be able to filter on users by clicking on them.

[2021-12-14 09:02] SjoenH commented on #252
@ntorsen
Ready for testing in test environment

[2021-12-14 09:05] Linedueo commented on #335
@martabenthem @SjoenH

<img width="1032" alt="Skjermbilde 2021-12-14 kl  10 04 52" src="https://user-images.githubusercontent.com/74361011/145967141-423b0738-926d-4878-b81b-f110e703c217.png">

<img width="1127" alt="Skjermbilde 2021-12-14 kl  10 03 01" src="https://user-images.githubusercontent.com/74361011/145966848-f3c92447-976f-4947-b2c9-12ea9c9de566.png">

Figma: https://www.figma.com/file/IkH

[2021-12-14 09:15] knudsvik commented on #335
@Linedueo : Should it include renaming the process?

[2021-12-14 09:22] Linedueo commented on #335
@knudsvik We can add this to the more menu. It makes sense that someone would like to easily change the title 👍🏻 We do have in mind though to later be able to edit the entire card from the front page- like in github. But for that we need to create a new task.

[2021-12-14 09:29] Linedueo commented on #335
<img width="810" alt="Skjermbilde 2021-12-14 kl  10 28 15" src="https://user-images.githubusercontent.com/74361011/145970977-4d994164-2bae-4ce7-ac64-9839664f3d50.png">
@SjoenH is this something we can add for this task?

[2021-12-14 09:33] SjoenH commented on #335
Yes. Should be fine. 👍

[2021-12-14 09:59] knudsvik opened #336 "Cannot see any available processes"
**User input**
I  cannot see any available/established processes.

**Sharepoint list ID**
120

**User**
Marianne Fløistad

[2021-12-14 10:04] ntorsen commented on #252
**Remarks for testing:** There is no problem setting a process as Favorite from current process. And it lands on 'See my favorite processes' page too. However, ❤-icon appears in To-be process as well, but it is not possible to set it as Favorite from this page.
![image](https://user-images.githubusercontent.com/89014017/145975946-6a99a6bd-27d2-4fb8-b800-c9f8d5c31d56.png)
If a user is not supposed

[2021-12-14 10:22] knudsvik commented on #336
@SjoenH Do you mind checking this out?

[2021-12-14 11:24] SjoenH commented on #252
Good catch!
For other metadata-changes (name, access, labels) we have handled the to-be process and the current one as the same.
@Magos could you take a look at it?
- [ ] Favouriting a To-Be-process should be reflected in the current.

[2021-12-14 11:41] SjoenH commented on #336
I've sent a mail requesting more information about the problem.

[2021-12-14 11:42] knudsvik commented on #252
.. and vice versa ;)

[2021-12-14 13:25] ntorsen commented on #159
**Test of new updated version:**
- Filter by label is looking good 😊
- User gets a message when typing in more than 200 characters 🥇

![image](https://user-images.githubusercontent.com/89014017/146005511-51f9eeab-2c84-48a8-bbb2-b5cba077dcbc.png)
- Found out that some emojis work, while others don't. But I agree with you @martabenthem, we can see if this becomes a concern

**Major difference from b

[2021-12-14 13:27] SjoenH commented on #159
@ntorsen You can add labels by clicking on the label-icon.

[2021-12-14 13:35] martabenthem commented on #159
@ntorsen sorry, I forgot to mention that change in functionality.

- I added a "tag" button at the bottom of process cards. It only appers in processes where you have edit access.
- You can click on any label and that will trigger filtering by that label.

[2021-12-14 14:28] SjoenH commented on #159
![image](https://user-images.githubusercontent.com/3164065/146017109-ca226660-098a-4ac5-b9e0-f2e6468fd052.png)
@martabenthem I still get these inactive scroll-bars.

[2021-12-14 14:41] martabenthem commented on #159
@SjoenH do you get inactive scroll-bars when you open the ManageLabelBox too?

[2021-12-14 15:23] knudsvik commented on #159
When I have this dialogue box open and scroll with the mouse wheel, the background is scrolled, not the dialogue box. Similar strange behaviour appears in the dialogue box when opening from the process

![image](https://user-images.githubusercontent.com/25986427/146026866-fcd11b04-b260-4216-8f2e-af08c9038cbf.png)

[2021-12-14 16:44] martabenthem commented on #159
@knudsvik thank you for the feedback. Should be fixed now.

[2021-12-14 17:02] knudsvik commented on #159
@SjoenH @martabenthem : We are contemplating (again) whether making new labels should be open for the users. Yes we know that we discussed this and agreed upon having it open a long while ago 🤬. The risk of releasing it with the intended functionality is that it rapidly grows out of control and loses value. Changing it to a locked list on the other hand; not very nice to you developers and a maint

[2021-12-14 17:34] SjoenH commented on #159
@knudsvik it's not that big of a change to disable it in the front-end... But that is just safety by obscurity and it would be best to limit that interaction in the back-end as well. But it might be good enough for now? :man_shrugging:
Not sure how long time it will take to fix in the back-end. @Magos

**A note about managing labels.**
@Magos made an endpoint to ease combining multiple labels into

[2021-12-14 17:40] SjoenH commented on #159
Btw. I created a label for our team and this feature makes it so much easier to share all our processes. :100:

[2021-12-14 17:43] knudsvik commented on #159
@SjoenH disabling it in the front-end may be a good solution for initial release. Maybe we could revisit after a month and decide to either disable back-end or opening it up? That way we have a better feeling about it after some initial use and can get some feedback.

If so it would be good to have the import tool you screenshot on Slack available in the interim period. That way we can add more la

[2021-12-14 17:45] SjoenH commented on #159
Sounds like a plan :muscle: I'll spend some time tomorrow on improving label management. Nothing fancy. Design by Henry. :nerd_face:

[2021-12-14 20:30] knudsvik commented on #159
Doesn't have to be fancy, it's not for the customers ;)

[2021-12-15 07:29] Magos commented on #159
I suppose the main option right now would be to introduce a check for Super-user access before you're allowed to create a new label text. The new label route and project->Add label route would both need to introduce this check if the label text is not an existing one.

[2021-12-15 08:26] Magos commented on #154
I just built a version to dev, which should fix these issues

- UserAccess DELETE is now handled by accessing the Accesses table, not the UserAccesses view.
- Task-category links changelogging now uses explicit db calls rather than assuming the entity has its project entity included
- Corrected the column name in the VsmUpdates db function.

[2021-12-15 08:40] SjoenH commented on #159
Todo:
- [ ] We should only be able to add existing labels to a process.

Frontend:

@martabenthem
- [ ] Remove the add button and enter-key listener
- [ ] Green outline when active (EDS Design)
- [ ] Do not round the corners (EDS Design)
- [ ] Grey background in the input field (EDS Design)
- [ ] Autofocus (check if it works fine)

@SjoenH
- [ ] Admin labels page

Back-end: @Magos
- [ ] user needs

[2021-12-15 09:59] martabenthem commented on #159
@Magos FYI, my changes are now deployed in TEST.

[2021-12-15 11:43] Magos commented on #159
My changes to the backend [are now deploying to TEST environment also](https://dev.azure.com/statoil-mad/VSM/_releaseProgress?_a=release-pipeline-progress&releaseId=229).

[2021-12-15 12:54] knudsvik opened #339 "Untitled process"
**Describe the bug**
Observed a strange bug today.. process 668 was named "Develop sand management strategy (external)" months ago, but when opened today it was "Untitled Process". User STIMO changed it back and the original name was proposed. Isn't this strange? I checked the changelog, but title changes are not recorded as far as I see.

**Screenshots**
![image](https://user-images.githubusercon

[2021-12-15 12:59] SjoenH commented on #159
Ready for testing in Test & QA @knudsvik @askbulle @ntorsen

Label admin can be reached at:
- https://web-vsm-test.radix.equinor.com/labels/bulkAdd
- https://web-vsm-qa.radix.equinor.com/labels/bulkAdd

Note: Only superUsers can create labels. (@ntorsen I'm sorry. But you may verify that you cannot create any :angel: )

[2021-12-15 15:28] knudsvik commented on #159
@SjoenH : ### Result from QA

The label sorting, filtering etc functionality works well, also tried the bulk importer which seems good for initial usage. Adding labels both from the front page and the canvas is missing something in our minds.

![image](https://user-images.githubusercontent.com/25986427/146214394-f0cc315d-4863-4b74-aff7-874ad15aa0e5.png)

The user should ideally see the available l

[2021-12-15 15:42] ntorsen commented on #159
I can verify that I'm not able to add any process labels (since not superUser) ✔

[2021-12-16 07:58] knudsvik commented on #163
Good question. I think me and @askbulle should specify better what we actually want here, I see that the story now is not well defined.

[2021-12-16 08:43] martabenthem commented on #159
@Linedueo what do you think about the feedback above?
It could be useful to have an overview of available labels as suggested by @knudsvik, but it could also become difficult to actually read them when the number of labels increases.

[2021-12-16 10:14] Linedueo commented on #159
@martabenthem Best solution I think would be to do what @knudsvik mentioned. The available labels should show and then you start filtering by typing. But we should probably have max number of labels shown. I would think a maximum of 3-5 lines  of labels and then scrolling if there are more.

[2021-12-17 11:06] knudsvik opened #340 "Miro integration"
**User story**
As a user of both Flyt and Miro, I would like to combine them so that I can harness the power of both!

**Describe the solution you'd like**
Possibility to show a process in a Miro canvas - possibly also make changes directly from Miro. Idea to have a button in the canvas that takes you to a Miro board where additional information and context can be added (pictures and all kinds of

[2021-12-20 09:36] martabenthem commented on #159
![image](https://user-images.githubusercontent.com/61791419/146745668-98322171-e2b8-497a-9276-5e7c868d1356.png)

[2021-12-20 11:11] Linedueo commented on #159
@martabenthem Thorjan and I came up with a solution. We put a search bar on top, and below the search bar you have active labels followed by all labels. Then of course you can filter labels by searching. Let me know if you have questions.
<img width="988" alt="Skjermbilde 2021-12-20 kl  12 09 00" src="https://user-images.githubusercontent.com/74361011/146758408-5ee69554-f575-40d3-ae96-94b8155e41fd

[2021-12-20 12:23] martabenthem commented on #159
@Linedueo are the existing labels also filtered when you type on the search bar? Or do they stay always there irrespective of what you type in the search bar?

[2021-12-20 12:31] knudsvik commented on #159
I think we should leave the existing lables there irrespective of the searching.. Can always change this later if it feels inconsistent?

[2021-12-20 13:48] Magos commented on #252
Update to allow that in the backend is now live on test & QA levels.

[2021-12-20 17:01] martabenthem commented on #159
@ntorsen the change discussed above is now in TEST.
@Linedueo you might want to check TEST as well.

[2021-12-21 10:48] ntorsen commented on #159
@martabenthem for transparency reasons I will also list my findings here.
When adding a label to a process that has a long text inside, the bracket looks kind of "cut off"
![image](https://user-images.githubusercontent.com/89014017/146917283-1bf524c3-f663-4ea1-be8c-ebafabb42ee5.png)

And when clicking on Filter by label I get two scroll bars. The first one seems inactive, its the second one I use

[2021-12-21 11:50] martabenthem commented on #159
@ntorsen the scroll issues should be fixed now.

@knudsvik I had not thought of whether the user should be able to add labels both from current process and to-be process, what do you think?

[2021-12-21 11:57] knudsvik commented on #159
It seems like the version in test now allows you to add labels from both Current and To-Be (and they are shared). I think that is how it supposed to be!

[2021-12-21 12:00] martabenthem commented on #159
@knudsvik not exactly, I think for now adding from the To-Be process doesn't work. But I will look into implementing it such that adding to the Current also adds to the To-Be process, and vice-versa. Same for removing.

[2021-12-21 12:07] knudsvik commented on #159
Ok, I am able to remove from both Current and To-Be, but only add from Current.

[2021-12-21 12:21] martabenthem commented on #159
@Magos I think this is something that could potentially be handled in the backend - that adding an removing labels from the current process does the same operation to to To-Be and viceversa. What do you think?

[2021-12-21 13:09] martabenthem commented on #159
@ntorsen @knudsvik I have addressed the scrolling issues. Labels are added/removed always from both the current and the to-be processes. These fixes are now deployed to TEST.

[2021-12-21 13:40] ntorsen commented on #159
@martabenthem I still get the two scrollbars in Filter by label (opened up a incognito window for this new test).

For the labels that contained a long text in a process they was sort of cut off before, now the whole text is visible with an added scrollbar below to view it. Is it possible to somehow make the labels look whole without having this scrollbar? Maybe with some dots (...) after a certai

[2021-12-21 15:16] martabenthem commented on #159
@ntorsen in my browser I don't see inactive scrollbars so I don't have a way of checking. I think now it should have been fixed.

@knudsvik do you have an opinion about the design of long labels on the process cards? I think this is an edge case since labels are rarely that long.

[2021-12-21 15:19] knudsvik commented on #159
Yes, agree that it is an edge case. Not sure if it needs to be adressed now since we are also in control of the labels, will not make any this long. Maybe we could fix this if it becomes a problem later?

[2021-12-22 08:51] ntorsen commented on #159
For Chrome and Edge it looks like this now in Filter by label:

![image](https://user-images.githubusercontent.com/89014017/147064220-545936b5-bd8b-4e7f-a145-ffad17aa3350.png)

[2021-12-22 08:52] martabenthem commented on #159
@knudsvik I think that makes sense. I will release to QA!

[2021-12-22 08:58] knudsvik commented on #252
@martabenthem does that mean this is now ready for another test?

[2021-12-22 09:46] Magos commented on #252
@knudsvik As far as I know, @SjoenH's work on the front-end is not published to those levels for testing. Might just wait for the new year to get that one together.

[2021-12-22 09:52] knudsvik commented on #252
@Magos It was actually in Test 8 days ago so I think the work is done. The To-be issue was caught by @ntorsen when testing.

[2022-01-03 09:23] SjoenH commented on #252
I'll get a new build out into Test asap.

[2022-01-03 09:25] SjoenH commented on #154
@Magos I'm back from my vacation now and will test your new build :muscle:

[2022-01-03 09:31] SjoenH commented on #252
Ready for testing @ntorsen https://web-vsm-test.radix.equinor.com

[2022-01-03 09:37] SjoenH commented on #197
@Magos Let's schedule a time for talking about this.

Investigate how to get access to full-names (and emails?)
Also, today we use Short names… what will be affected by this change?

This feature should probably cover the input-field with search selections (like the add label input).

[2022-01-03 10:01] ntorsen commented on #252
Able to set a process as favorite from both current and to-be canvas 👍
It lands on 'see my favorite processes' as expected.

But there is still no descriptive hover text as mentioned in user story above @SjoenH
If there has been decisions made that it is not necessary any more, then please discard this comment.

[2022-01-03 10:27] SjoenH commented on #252
I've moved this to QA now. @knudsvik ready for testing.
I did not add the hover-text (as @ntorsen mentioned) to be consistent with what we have done for the front-page hearts. Let me know if this should be changed or not.
https://web-vsm-qa.radix.equinor.com

[2022-01-03 11:56] martabenthem commented on #159
@ntorsen ready for a new round of testing!

[2022-01-03 12:36] knudsvik commented on #252
Awesome! Don't think the hover is necessary; self-explainatory and consistent both. Ready for release.

[2022-01-03 12:55] #252 closed

[2022-01-03 13:50] ntorsen commented on #159
Done another run-through of requirements of testing (checklist on top). Fixes that has been made;
- Label text is showing whole text
- Filter by label: now has only one scroll bar and pop-up box looks right
- Able to add labels from current and to-be

**BUT only able to remove labels from current, not from to-be process**
@martabenthem

[2022-01-03 13:52] Magos commented on #159
Quick question: Is this "close" text intended? The button kinda more represents "remove" or something, I feel.
![u9polMfgK6](https://user-images.githubusercontent.com/1004386/147938455-7c1b106d-837d-4537-87b1-f6ba868bd40d.png)

[2022-01-03 13:56] SjoenH commented on #154
@Magos. Some initial testing.

- [x] Update endpoint now returns an array dates. https://github.com/equinor/MAD-VSM-WEB/issues/154#issuecomment-990293902
- [x] Adding categories seems to work as expected. https://github.com/equinor/MAD-VSM-WEB/issues/154#issuecomment-990276498
- [x] Removing a user from a process works
- [ ] **But changing the role of a user gives error 500(?)**

**Error 500**
The

[2022-01-03 13:58] Magos commented on #159
I checked the test environment database, and found some of the processes to be in an inconsistent state (label-links stored on the to-be process) that should not be possible to create after this latest backend fix. I've corrected those entries by deleting the labels from those processes.

[2022-01-03 15:11] ntorsen commented on #159
Working good for test environment now 😊

[2022-01-03 15:23] martabenthem commented on #159
Great! @knudsvik and @askbulle this feature is now deployed in QA.

[2022-01-04 08:33] SjoenH opened #342 "Proper hover text for labels"
Quick question: Is this "close" text intended? The button kinda more represents "remove" or something, I feel.
![u9polMfgK6](https://user-images.githubusercontent.com/1004386/147938455-7c1b106d-837d-4537-87b1-f6ba868bd40d.png)

_Originally posted by @Magos in https://github.com/equinor/MAD-VSM-WEB/issues/159#issuecomment-1004106693_

[2022-01-04 13:52] Magos commented on #154
Update-ruter som ikke fungerer pr nå:

- [ ] UserAccess
- [ ] Object

[2022-01-04 14:15] SjoenH commented on #154
Also, adding that there seems to be some issues with getting the process I want for a given date-time. `asOf` string not matching or something? Needs to be looked into.

[2022-01-05 09:47] knudsvik opened #343 "Legend"
**User input (121)**
Explaining steps by explaining coloring. Like i.e:
Blue - Main process steps, Yellow - substep, Green - frames with start/stop point of process and customer/supplier

**User input (134)**
I would also appreciate some explanation of the elements (cards/shapes) you can add for us who are not so familiar with all the elements of a VSM

**Sharepoint list ID**
121, 134

**User (121

[2022-01-05 09:49] knudsvik opened #344 "New feedback - ID 122"
**User input**
In my process I want to explain what I mean with roles - who is the team in this VSM, who is group etc

**Sharepoint list ID**
122

**User**
Liv Håøy

[2022-01-07 12:13] knudsvik opened #345 "Label sorting"
**User story**
As a user I want to sort the list of labels also alphabetically so that I can scroll through existing labels efficiently

**Describe the solution you'd like**
A dropdown where most used is default, but also includes "alphabetically A-Z" and "Z-A" (possibly also least used?) in all three label windows:
- Filter by label
- Add label from front page
- Add label from canvas

[2022-01-07 12:19] knudsvik commented on #159
### Results from QA:

We have discussed the sorting of labels in the pop-up boxes but landed on creating a new issue which could take care of other sorting options and releasing as is now as MVP. New issue created for sorting:
- #345

Otherwise it looks good except for one thing. When we are going to type in the "Search labels" bar, internet explorer wants to propose stuff we have written earlier.

[2022-01-07 13:31] knudsvik opened #346 "New feedback - ID"
**User input**
Hei, er det mulig å sortere basert på kategoriene? Bakgrunn for at eg spør er arbeid med flyt 626. Måten me bruker kategoriene på der er å vise i kva grad me har flytta oppgavene til Planner. Ser no at det kunne gitt endå bedre oversikt om eg kunne sortere på dei sjølvlaga kategoriene.

**Sharepoint list ID**

**User**

[2022-01-07 14:17] Magos commented on #345
In case @SjoenH is the one to do this, I'll just point out this from the Swagger - the Swagger HTML will recommend sending numbers, but I'd say it's better to send the texts in the x-enum-varnames here:
![sfSXxKk6uB](https://user-images.githubusercontent.com/1004386/148556662-0bf002c8-aec7-4b37-bdad-565e4f827e95.png)

[2022-01-10 08:53] knudsvik commented on #324
possible to use regular text in cards for this purpose, hence low priority.

[2022-01-10 08:54] SjoenH commented on #159
@knudsvik Super... I'll take a look at it :+1:

[2022-01-10 08:56] knudsvik commented on #344
Possible to solve with a Info card?

[2022-01-10 09:05] knudsvik commented on #330
Could be solved with Info card or #340 . Same as #344?

[2022-01-10 09:10] askbulle commented on #333
![image](https://user-images.githubusercontent.com/89247788/148741346-4b87a092-1e3f-497f-ab2b-3a08c0482f7b.png)

[2022-01-10 09:16] askbulle commented on #345
I'd like the list to be alphabetical within the current 3 types of labels
- assets
- functional areas
- organization at L1-level

[2022-01-10 09:18] askbulle commented on #345
Assess priority after initial label testing (ca 1 month)

[2022-01-10 10:22] SjoenH commented on #159
@knudsvik I didn't get it reproduced on my end, but I've released a new build that should technically disable it.
Could you take a look in QA?

[2022-01-10 10:31] knudsvik commented on #159
@SjoenH perfect now!

[2022-01-10 10:32] SjoenH commented on #165
We also talked about and decided that we don't need two text-areas. The important is to separate the solved or mitigated PQIRS from the unsolved ones.

[2022-01-10 12:18] #159 closed

[2022-01-10 12:28] SjoenH commented on #159
Released to Prod

[2022-01-10 13:48] SjoenH commented on #165
@knudsvik @askbulle 👋
Do we need to differentiate between a solved PQIR by itself and a solved PQIR on a card?

The Implementation I've done now is on the PQIR level. That means, when I mark a PQIR as solved, it will be solved and removed from all of the places in the process.

[2022-01-10 14:07] SjoenH commented on #165
@knudsvik @askbulle
Here's a video to further explain how it works as of now.
https://user-images.githubusercontent.com/3164065/148778952-caed281f-e56d-4b84-8f91-215b889c0f2e.mp4

You may give it a try in Test environment https://web-vsm-test.radix.equinor.com

Let me know if this is as we expect it to work or if we need to do some adjustments. :grin:

[2022-01-10 14:08] knudsvik commented on #343
possible solution could be toggle on and off some explanation to all things? Something like this:
![image](https://user-images.githubusercontent.com/25986427/148779312-7132c21f-cb3b-4306-8898-2cf0781b2791.png)

[2022-01-10 14:25] SjoenH commented on #165
@ntorsen @Linedueo  Please do some testing.
I updated EDS library, so please have a look throughout and check if something looks off or doesn't work anymore :sweat_smile:

[2022-01-10 14:34] #310 closed

[2022-01-11 10:27] ntorsen commented on #165
### **Results from testing environment**
_Tested in Edge and Chrome_

**What is working good:**
- Checkbox displays hover text for all PQIRs, both when unsolved and solved ("Mark as solved"/"Mark as unsolved", "Mark as approved"/"Mark as declined", etc.)
- PQIRs disappear from canvas when solved (as well as existing PQIRs)
- PQIRs are greyed out when solved, and a description text is visible
- Sol

[2022-01-11 10:30] ntorsen commented on #165
Forgot to tag @SjoenH ☝

[2022-01-11 12:31] knudsvik commented on #165
@SjoenH

1. Comment in this thread from October 18th:

2. When it comes to the question above: When checking off the problem or risk it should only be removed from the activity card the user has open, not for all the cards where it exists. We could add another step in the future: if problem exist several places then ask user if to solve only here or in all activities - not MVP though.

3. Another

[2022-01-11 12:41] SjoenH commented on #165
@knudsvik Thanks for the feedback and testing. 2. Solving at the “card-level” and not at the PQIR-level needs some changes to the API… not currently supported.

I'm removing the `Quick-fix` label

@Magos PING! Let's have a chat about this.

@ntorsen Thanks for testing. Browser suggestions should only be disabled for fields where it is affecting the user experience negatively.

[2022-01-13 08:08] Linedueo commented on #175
Har satt opp en skisse her på hvordan en bruker lett kan legge på en link i stedet for å kopiere inn lange url´s.
@SjoenH @knudsvik

https://user-images.githubusercontent.com/74361011/149290585-ae33248a-e61b-4074-88b8-835bbaa159fe.mov

[2022-01-13 09:14] knudsvik commented on #175
Looks good @Linedueo. Would be nice if a word (or several words) could be marked and then clicking on the url icon for pre-filled text in the popup. Also CTRL+K shortcut!

[2022-01-13 11:19] knudsvik commented on #175
This feature will be good to have in place before #157

[2022-01-14 07:39] knudsvik commented on #175
@SjoenH The link features should be available also in PQIR's and all type of cards. Is this a big feature?

[2022-01-14 08:18] SjoenH commented on #175
All our text is stored as strings in our DB.
So I'm thinking that markdown is well suited for adding formatting markup to our text.

There already exists libraries for this, but I'm not sure how easy it is to get the EDS-style as Line provided.
I'll need to look into this. Potentially making something custom.

The EDS-look will most likely be what takes the most time to implement.

[2022-01-14 12:22] knudsvik commented on #305
Can also be "ask DigiTeam" to solve problem: https://statoilsrm.sharepoint.com/sites/DPNOTEDSC/SitePages/Hverdagsdigitalisering-(DigiTEAM).aspx

[2022-01-17 07:09] SjoenH commented on #229
:wave: @Magos Did you make a user-search endpoint?

[2022-01-17 08:03] Magos commented on #229
@SjoenH Yes, [this is the endpoint](https://vsm-api-dev.azurewebsites.net/swagger/index.html#operations-UserAccess-get_api_v_api_version__useraccess_usersearch) for user search/listing.

[2022-01-17 10:39] knudsvik commented on #152
Agreed to keep size as is, but have an indicator of more text available and hover functionality to see all text.

[2022-01-18 06:34] knudsvik opened #352 "Save filters or collections"
**User story**
As a user or leader I want to save and share collections of processes or filter of processes so that I and my team can find our relevant processes.

**Describe the solution you'd like**
Add a collection on the sidebar below all, my and favourites. Name, icon, sharing? Example: Lean DPO, mad team etc. Could also start with a search or filtered search.

[2022-01-18 12:10] SjoenH commented on #229
@Magos I sent you a message about this, but putting it here as well.

Do we have an endpoint to get the userName for a user? I can only find `userName` -> `pkUser`, and not `pkUser` -> `userName`.

[2022-01-19 08:59] SjoenH commented on #346
PQIRs may have multiple categories added. How do we sort it then?
Naive approach, sort by the first category that was added... might not be what the user want.

I guess the suggested solution might not be what we really want to implement here...
But I have some ideas about how to visualize the progress of a PQIR. -> Kanban board. (can possibly utilize categories for it)

[2022-01-19 09:57] Magos commented on #229
[New endpoint for this](https://vsm-api-test.azurewebsites.net/swagger/index.html#operations-Task-SolveTaskForObject) added in the version on dev and test.

[2022-01-19 11:54] SjoenH commented on #165
@Magos I cannot get the solve task endpoint to work. Please give me a call so we can figure it out.

[2022-01-19 12:36] SjoenH commented on #229
@ntorsen Ready for testing! :muscle: https://web-vsm-test.radix.equinor.com/processes?orderBy=modified&user=2&rl=2

[2022-01-19 12:53] SjoenH commented on #229
I spoke too soon. @Magos we have cors issue for the user-search endpoint in test

[2022-01-19 19:32] knudsvik opened #353 "User name search not working"
**User input**
In "see all processes" on landing page and the search bar. Not able to search by user name. No results when searching own user name either.

**Sharepoint list ID**

**User**

[2022-01-20 08:29] knudsvik commented on #229
@SjoenH We got feedback on a user search bug yesterday: #353. I guess that bug is not worth fixing since this feature will enhance the user search and is close to release anyway? In this release you should probably change the text in the search field if the user search is removed..

![image](https://user-images.githubusercontent.com/25986427/150301523-5bcd74cf-89a6-471e-8a94-5e5d948b4b0a.png)

[2022-01-20 10:48] SjoenH commented on #165
Update, Solving tasks is now working in Dev and Test environment, but API returns wrong solved-status on the categories-page. @Magos will fix that and report back when it is ready to test.

[2022-01-20 11:18] SjoenH commented on #229
@Magos we should consider removing username search from the free-text-query

[2022-01-20 14:28] SjoenH commented on #229
@Magos ![image](https://user-images.githubusercontent.com/3164065/150357524-06672efa-38ee-43dd-ba60-9b90b20f853b.png)
- [ ] Fix cors issue

[2022-01-21 14:15] Linedueo commented on #152
https://user-images.githubusercontent.com/74361011/150541845-512e7d41-1f6f-4275-a224-b4b207e51dd3.mov

@knudsvik @SjoenH

[2022-01-21 14:16] Linedueo commented on #152
Tror ikke vi skal legge på et ikon som indikerer mer tekst. Det tar plass i kortet og er heller ikke noe du kan trykke på...så jeg tror vi bare beholder (...)

[2022-01-24 08:30] Magos commented on #229
The `q` parameter hasn't supported user search for a while now, so that part is already changed. Is there any back-end work needed to fix the CORS issue, @SjoenH ?

[2022-01-24 08:39] SjoenH commented on #229
@Magos Yes. We still need back-end fix for CORS. But really weird that it is only for that one endpoint… :thinking:

[2022-01-24 09:46] Magos commented on #165
Finally it seems like the deploy issues are cleared up. Task solving is now available to test on environments dev and test.

[2022-01-24 10:06] SjoenH commented on #229
Never mind @Magos. Looks like I'm missing an `/` in the request url...

[2022-01-24 10:26] SjoenH commented on #229
Fixed :white_check_mark:
@ntorsen ready for testing https://web-vsm-test.radix.equinor.com

[2022-01-24 11:15] SjoenH commented on #165
Seems to be working good @Magos :clap:

I'll disable the check-box for Questions and Ideas. (only needed for problems and risks)

@knudsvik Since we are not solving Questions and Ideas, should they be hidden from the categorization page if they are not assigned to any cards?

[2022-01-24 12:18] SjoenH commented on #165
@ntorsen Ready for testing in **DEV ENVIRONMENT** https://web-vsm-dev.radix.equinor.com/

[2022-01-24 12:39] knudsvik commented on #165
@SjoenH You touch on something we haven't really thought through here. I think the solution here is to think of this feature as a MVP in the canvas page only and not changing anything on the categorisation page but describe and solve that in a separate issue...

[2022-01-24 12:44] knudsvik opened #355 "PQIR states in the categorisation page"
**User story**
As a user I want the state of PQIR's to be visible so that I can filter PQIR's not in use, solved etc.

**Additional info**
Originates from #165.
Relates to #204 , #205

[2022-01-24 15:40] ntorsen commented on #165
### Test in DEV environment
**Working good 💪
Results from testing:**
- Question and Idea does not have checkboxes anymore. Only checkboxes for when solving tasks for Problem and Risk
- Checkbox displays hover text for PR, Problem="Mark as solved" and Risk="Mark as mitigated"
- When checked, Problem displays hover text "Mark as unsolved" and Risk="Mark as unmitigated"
- PRs disappear from canvas on

[2022-01-24 20:13] SjoenH commented on #165
@ntorsen thanks for thorough testing.

I've now updated hover-text for deling to account for the PQIR type. Ready in dev environment

[2022-01-25 07:59] SjoenH commented on #229
@ntorsen Again, thanks for thorough testing. :partying_face:

- Changed the text on no results to: “No processes match your search criteria.”
- Added the active-filter-section to my-page and favourites-page.
- Fixed crash when you use your own user as a filter while on my-page.
- Fixed the search-field.
- Not sure why the font is misbehaving… I'll fix it later when upgrading some packages #354

@n

[2022-01-25 08:20] ntorsen commented on #165
This is looking good now too 💪

[2022-01-25 08:32] ntorsen commented on #229
@SjoenH the fixes you put in are working good 💪
Font is still misbehaving, but this seems to only be the case for TEST environment.

[2022-01-25 09:06] SjoenH commented on #165
@knudsvik @askbulle Ready for testing in QA.
https://web-vsm-qa.radix.equinor.com/process/166

[2022-01-25 14:09] knudsvik commented on #165
@SjoenH Nothing happens when I solve a problem, doesn't seem like it's working...

[2022-01-25 14:56] SjoenH commented on #165
I'm sorry. We forgot to release the API... :eyes:
We just released the update, but it seems to have some issues. @Magos can you take a look at this? :thinking:
![image](https://user-images.githubusercontent.com/3164065/151000506-cbe31760-9516-4ff9-a64c-6c14b5145a88.png)

Reproduce by creating/opening a process.

[2022-01-25 16:07] knudsvik opened #356 "New feedback - ID"
**User input**
I like the new categories!  Would it be possible to add the categories into the steps so you can visually see what is connected?  I know you can list the same Idea or problem for example.  Just trying to see how we could highlight the issues in other ways.  Loving the tool!

**Sharepoint list ID**

**User**

[2022-01-26 10:02] #233 closed

[2022-01-26 19:08] SjoenH commented on #175
:wave: @Linedueo
I don't see why we need the `linked text` input. I'm considering dropping it.

[2022-01-26 20:43] Linedueo commented on #175
@SjoenH Totally agree!

[2022-01-27 11:42] Magos commented on #165
I've run a database migration and redeployed the backend now. Testing should be available again (test and qa environments).

[2022-01-27 20:50] knudsvik opened #359 "Improve the "Has To-Be process" flag in Power BI"
**User input**
When working with the Flyt dataset in PBI. "Has to be process" flag is not useful per now. did a test and looks like the flyt is tagged with true if the "to be" flip is entered.

**Sharepoint list ID**
126

**User**
flik

**Additional information**
This is a Power BI related improvement. The issue is that if someone flips the To-Be switch, the "Has to-be process" metric is true even

[2022-01-31 12:46] SjoenH commented on #154
@Magos Do you have an update on where we are at with versioning?

[2022-01-31 12:48] SjoenH commented on #165
Got it! Moving it back to QA.

@knudsvik @askbulle Ready for testing in QA.
https://web-vsm-qa.radix.equinor.com/process/166

[2022-01-31 13:06] SjoenH commented on #154
Had a talk with @Magos

**Current status.** API is now ready for further front-end development.

Updates should now be watched by the API and stored in history. So the issue I raised above should now be fixed.

[2022-01-31 14:04] knudsvik opened #361 "Enter to close rename process dialogue box"
**Describe the solution you'd like**
When renaming a process, hitting enter should close the dialogue box

Todo:
- [ ] Make the dialog a bit larger
- [ ] Enter to close the dialog

Requirements for testing:
- [ ] Pressing enter should close the dialog box
- [ ] Pressing escape should close the dialog box
- [ ] Pressing the 'x' should close the dialog box
- [ ] Pressing outside the dialog should cl

[2022-01-31 14:04] knudsvik commented on #361
quick-fix @SjoenH ?

[2022-02-01 09:36] SjoenH commented on #165
Approved for release.

[2022-02-01 09:40] SjoenH commented on #361
Discussed if we want to simplify a bit. Removing the dialog box and edit text directly

[2022-02-01 09:43] SjoenH commented on #361
Note, that we today can close the edit box by pressing escape, clicking the `x` or clicking outside the edit box.
Enter-key would be an intuitive, and quick thing to add.

Removing the dialog box and editing the text directly would take a bit more time, but still a small task.

[2022-02-01 16:34] knudsvik opened #362 "Full name of users"
**User input**
Love the tool, if it were capable of searching for a short name like you do when forwarding a document in M365 that would be great.  Right now, I go to outlook to look up the short name and then send.  Not a huge deal, but would be more efficient, if possible.  Thanks again!

**Sharepoint list ID**
127

**User**
Jenny Fried

[2022-02-02 11:07] knudsvik commented on #197
@SjoenH Another feedback on same issue (#362 ), a bit uncertain how to deal with similar issues in GitHub. Need to keep track of the input so that each initiator gets feedback when it's solved.

[2022-02-02 11:14] knudsvik commented on #356
**Additional user input**
We wanted to classify our VSM into steps that were either (1) manual (2) across units (3) automated.  The team put the original VSM on a traditional white board, but wanted to make it digital to share.  What they liked is being able to make each box a different color to highlight how many manual and intercompany steps (in this example):
![image](https://user-images.github

[2022-02-02 13:42] knudsvik opened #363 "Copy current process to the To-Be process"
**User input**
Would it be possible to automatically update the To Be with the same process, but with the ability to delete what has been improved or even gray out?  I like the As-Is and To-Be feature that was added, but anything to reduce typing the steps again and visually showing what has changed would be awesome.

**User**
Jenny Fried

**Sharepoint ID**
128

Relates to

- #314
-

[2022-02-02 13:44] knudsvik commented on #363
Same as #314

[2022-02-02 13:46] knudsvik opened #364 "Connected IT system"
**User input**
I personally type the (IT System/tool) department.  Wondering if others would like to have a place to capture the systems.

**User**
Jenny Fried

**Sharepoint ID**

**Additional info**
![image](https://user-images.githubusercontent.com/25986427/152165744-2ca6e039-de58-4966-902e-2e9a0f2705b3.png)

[2022-02-07 07:56] SjoenH commented on #229
Ready for testing in QA. @knudsvik @askbulle

[2022-02-07 13:01] knudsvik opened #365 "Movable popup windows"
- Pop-up windows in the front page (Filter by users and Filter by label) should be movable so that they don't block information behind

_Originally posted by @knudsvik in https://github.com/equinor/MAD-VSM-WEB/issues/229#issuecomment-1031442176_

[2022-02-07 13:53] knudsvik commented on #197
@SjoenH @Magos : Requirements OK?

[2022-02-08 10:29] SjoenH commented on #229
:bowing_man: Thanks for testing!

I believe this can be done, but might introduce unneeded complexity and extra requests that might slow things down…
Maybe we should consider moving this to its own feature as well?

What do you think? @knudsvik Do you consider this a blocker?

[2022-02-08 13:26] knudsvik commented on #229
@SjoenH No let's make it as another issue..

[2022-02-08 13:27] knudsvik opened #366 "Filtering improvements"
When a filter is added, either user filter or label filter, adding a new label/user should be done from a filtered list (only showing alternatives that are available - returning results)

_Originally posted by @knudsvik in https://github.com/equinor/MAD-VSM-WEB/issues/229#issuecomment-1031442176_

[2022-02-08 13:56] #229 closed, assigned to Magos, SjoenH

[2022-02-08 14:27] #359 closed

[2022-02-08 14:31] knudsvik commented on #362
Handled in #197

[2022-02-08 14:31] #362 closed

[2022-02-08 14:38] #165 closed

[2022-02-08 20:14] SjoenH commented on #271
:wave: @ntorsen
Ready for testing in QA again. :smile:

[2022-02-09 07:11] knudsvik commented on #299
Duplicate of #197 - will be followed up there.

[2022-02-09 07:11] #299 closed

[2022-02-09 07:15] knudsvik commented on #301
Duplicate of #197

[2022-02-09 07:18] #317 closed

[2022-02-09 07:19] knudsvik commented on #189
Duplicate of #175

[2022-02-09 07:19] #189 closed

[2022-02-10 18:55] knudsvik opened #367 "New feedback - ID"
**User input**
Just an idea as we continue to love the tool!  Sometimes we  have files or screenshots of what we want to improve.  Maybe it would be great if you could add an image?  If not, I could probably put in TEAMS and then add a link?

**Sharepoint list ID**
130

**User**
Jenny Fried

[2022-02-11 11:18] #271 closed

[2022-02-14 09:23] SjoenH commented on #160
# Virtual sql-table-views vs API-access.
We talked about if a proper api would be better. I'm leaning towards it since that would be a more proper way to do it for everyone...

Also, some GDPR things to consider. What is considered sensitive data? Names, and timestamps in the change-log could be used to check when people are working etc...

# The importance of free data
Might lead to higher adopti

[2022-02-15 07:29] knudsvik commented on #353
Fixed by #229

[2022-02-15 07:29] #353 closed

[2022-02-17 14:17] knudsvik opened #368 "Visualize and Mature Identified Risks with List & Matrix View + System Interoperability"
**User story**
As a user I want to visualise the identified risks in a list and risk matrix and mature them further (probability, consequence, mitigating actions etc)

**Additional context**
Investigate if the risks can be handled in another Equinor system and we can support interoperability.